<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithms Optimized for External Storage Devices</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What is one of the main challenges faced when designing algorithms optimized for external storage devices?",
                options: [
                    "Limited capacity of the main memory",
                    "High cost of I/O operations",
                    "Slow access times of external storage devices",
                    "All of the above"
                ],
                answer: "High cost of I/O operations"
            },
            {
                question: "Which technique involves storing frequently accessed data in a smaller, faster memory to reduce the number of I/O operations?",
                options: [
                    "Caching",
                    "Buffering",
                    "Prefetching",
                    "None of the above"
                ],
                answer: "Caching"
            },
            {
                question: "What does buffering involve?",
                options: [
                    "Reading or writing data in larger chunks",
                    "Storing frequently accessed data in a cache",
                    "Proactively loading data into the main memory",
                    "None of the above"
                ],
                answer: "Reading or writing data in larger chunks"
            },
            {
                question: "What is the purpose of prefetching?",
                options: [
                    "Minimizing the number of I/O operations",
                    "Reducing the latency of accessing data",
                    "Anticipating future data accesses",
                    "All of the above"
                ],
                answer: "All of the above"
            },
            {
                question: "Which of the following is NOT a challenge faced when designing algorithms optimized for external storage devices?",
                options: [
                    "Limited capacity of the main memory",
                    "High cost of I/O operations",
                    "Slow access times of external storage devices",
                    "Limited storage capacity of external storage devices"
                ],
                answer: "Limited storage capacity of external storage devices"
            },
            {
                question: "Which disk scheduling algorithm aims to minimize the seek time?",
                options: [
                    "FCFS",
                    "SSTF",
                    "SCAN",
                    "C-SCAN"
                ],
                answer: "SSTF"
            },
            {
                question: "What is the purpose of external sorting?",
                options: [
                    "To sort data that fits entirely in the main memory",
                    "To sort data that cannot fit entirely in the main memory",
                    "To sort data using a balanced search tree",
                    "To sort data using a hashing technique"
                ],
                answer: "To sort data that cannot fit entirely in the main memory"
            },
            {
                question: "Which data structure is commonly used in external memory algorithms for indexing large datasets?",
                options: [
                    "AVL tree",
                    "B-Tree",
                    "Red-Black tree",
                    "Binary heap"
                ],
                answer: "B-Tree"
            },
            {
                question: "What is the purpose of buffering and caching in algorithms?",
                options: [
                    "To reduce the number of disk accesses",
                    "To increase the size of the main memory",
                    "To speed up the CPU processing",
                    "To store data permanently"
                ],
                answer: "To reduce the number of disk accesses"
            },
            {
                question: "How can graph algorithms be optimized for external storage devices?",
                options: [
                    "By increasing the number of disk accesses",
                    "By minimizing the number of disk accesses",
                    "By using a larger main memory",
                    "By reducing the size of the graph"
                ],
                answer: "By minimizing the number of disk accesses"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Algorithms page
            window.location.href = "{{ url_for('algorithms') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flash to gold
            const flash = document.querySelector('.bolt[data-target="dialog-boxalgadv26"]');
            if (flash) {
                flash.style.backgroundColor = '#ffd700'; // Hex code for gold
            }

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxAlgadv26 = document.getElementById('dialog-boxalgadv26');
            if (dialogBoxAlgadv26) {
                dialogBoxAlgadv26.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxAlgadv26.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('algadvlsn26Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const algadvlsn26Completed = localStorage.getItem('algadvlsn26Completed');
            if (algadvlsn26Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Algorithms Optimized for External Storage Devices</h1>
            <div id="sublesson1">
                <h2>Challenges of external memory and I/O efficiency</h2>
                <p>
                    In this lesson, we will explore the challenges faced when designing algorithms that are optimized for external storage devices. External storage devices, such as hard disks, have slower access times compared to the main memory (RAM) of a computer. This difference in access times introduces several challenges that need to be addressed in order to achieve efficient algorithm performance.<br>
                    <br>
                    One of the main challenges is the high cost of I/O operations. Reading or writing data from/to an external storage device is significantly slower compared to accessing data from the main memory. This means that algorithms need to minimize the number of I/O operations in order to achieve good performance. <br>
                    <br>
                    Another challenge is the limited capacity of the main memory. Since external storage devices have much larger storage capacities compared to the main memory, algorithms need to efficiently manage the data transfers between the external storage and the main memory. This involves carefully selecting the data to be loaded into the main memory and minimizing the amount of data that needs to be transferred back and forth.<br>
                    <br>
                    To address these challenges, algorithms optimized for external storage devices often employ techniques such as caching, buffering, and prefetching. Caching involves storing frequently accessed data in a smaller, faster memory (cache) to reduce the number of I/O operations. Buffering involves reading or writing data in larger chunks to minimize the overhead of individual I/O operations. Prefetching involves anticipating future data accesses and proactively loading the data into the main memory to reduce the latency of accessing the data.<br>
                    <br>
                    By carefully managing I/O operations and optimizing data transfers, algorithms can achieve better performance when dealing with large datasets stored in external storage devices.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Techniques for optimizing algorithms for external storage</h2>
                <p>
                    In this sub-lesson, we will explore various techniques for optimizing algorithms when dealing with external storage devices. External storage devices, such as hard drives or solid-state drives, have slower access times compared to the main memory of a computer. Therefore, it is crucial to design algorithms that minimize the number of disk accesses and take advantage of the characteristics of external storage devices.<br>
                    <br>
                    1. Disk Scheduling Algorithms:<br>
                        - Disk scheduling algorithms determine the order in which disk requests are serviced. They aim to minimize the seek time, which is the time taken by the disk arm to move to the requested track. Common disk scheduling algorithms include FCFS (First-Come, First-Served), SSTF (Shortest Seek Time First), SCAN, and C-SCAN.<br>
                        - By choosing an appropriate disk scheduling algorithm, we can reduce the seek time and improve the overall performance of algorithms that rely heavily on disk accesses.<br>
                    <br>
                    2. External Sorting:<br>
                        - External sorting is a technique used to sort large datasets that cannot fit entirely in the main memory. It involves dividing the dataset into smaller chunks that can fit in memory, sorting each chunk, and then merging the sorted chunks to obtain the final sorted result.<br>
                        - Popular external sorting algorithms include the merge sort and the replacement selection sort. These algorithms minimize the number of disk accesses by efficiently utilizing the available memory.<br>
                    <br>
                    3. B-Trees:<br>
                        - B-Trees are balanced search trees that are commonly used in external memory algorithms. They are designed to minimize disk accesses by storing multiple keys in each node and maintaining a balanced tree structure.<br>
                        - B-Trees are particularly useful for indexing large datasets stored on external storage devices. They allow for efficient searching, insertion, and deletion operations with a limited number of disk accesses.<br>
                    <br>
                    4. Buffering and Caching:<br>
                        - Buffering and caching techniques can be employed to reduce the number of disk accesses in algorithms. By temporarily storing frequently accessed data in memory, we can avoid repeated disk reads and writes.<br>
                        - Buffering involves using a buffer to hold a portion of the data being processed, while caching involves storing recently accessed data in a cache for faster retrieval.<br>
                    <br>
                    5. I/O-Efficient Graph Algorithms:<br>
                        - Graph algorithms, such as breadth-first search and depth-first search, can be optimized for external storage devices by minimizing the number of disk accesses.<br>
                        - Techniques like graph partitioning, graph compression, and using appropriate data structures can help reduce the I/O (input/output) complexity of graph algorithms.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Algorithms Optimized for External Storage Devices</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Challenges of external memory and I/O efficiency</a></li>
                <li><a href="#sublesson2">Techniques for optimizing algorithms for external storage</a></li>
            </ul>
        </aside>
</body>

</html>
