<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MapReduce-Based Algorithms</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What is the MapReduce paradigm?",
                options: [
                    "A programming language for parallel operations",
                    "A style of computing or a Big Data framework",
                    "A mathematical function for transforming data",
                    "A package for executing MapReduce tasks"
                ],
                answer: "A style of computing or a Big Data framework"
            },
            {
                question: "What is the map phase in MapReduce?",
                options: [
                    "Aggregating and summarizing data",
                    "Applying a function to each element in an array",
                    "Combining the results from the map phase",
                    "Searching for relevant words and phrases"
                ],
                answer: "Applying a function to each element in an array"
            },
            {
                question: "Which of the following tasks can be performed using MapReduce?",
                options: [
                    "Creating indexes",
                    "Counting certain words in a text passage",
                    "Graph creation and algorithms",
                    "All of the above"
                ],
                answer: "All of the above"
            },
            {
                question: "What is the reduce phase in MapReduce?",
                options: [
                    "Applying a function to each element in an array",
                    "Aggregating and summarizing data",
                    "Combining the results from the map phase",
                    "Searching for relevant words and phrases"
                ],
                answer: "Aggregating and summarizing data"
            },
            {
                question: "Which package can be used to perform MapReduce tasks in Python?",
                options: [
                    "MrJob",
                    "Apache Hadoop",
                    "Elastic MapReduce (EMR)",
                    "Amazon Web Services"
                ],
                answer: "MrJob"
            },
            {
                question: "What is MapReduce?",
                options: [
                    "A style of computing or a Big Data framework",
                    "A parallel algorithm for text processing",
                    "A package for cloud-based resources",
                    "A lambda function in Python"
                ],
                answer: "A style of computing or a Big Data framework"
            },
            {
                question: "Which phase of the MapReduce algorithm applies a function to each element of an array?",
                options: ["Map phase", "Reduce phase", "Initialization phase", "Transformation phase"],
                answer: "Map phase"
            },
            {
                question: "What is the purpose of using packages like MrJob in MapReduce?",
                options: [
                    "To reinvent the wheel for every MapReduce task",
                    "To perform MapReduce tasks quickly and easily",
                    "To execute tasks using cloud-based resources",
                    "To write code for the reduce phase"
                ],
                answer: "To perform MapReduce tasks quickly and easily"
            },
            {
                question: "What is the role of the reduce phase in the MapReduce framework?",
                options: [
                    "To apply a function to each element of an array",
                    "To transform elements using a lambda function",
                    "To combine transformed elements to produce a final result",
                    "To execute tasks using cloud-based resources"
                ],
                answer: "To combine transformed elements to produce a final result"
            },
            {
                question: "Which programming language is commonly used for implementing algorithms in a MapReduce framework?",
                options: ["Python", "Java", "C++", "Ruby"],
                answer: "Java"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Algorithms page
            window.location.href = "{{ url_for('algorithms') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flash to gold
            const flash = document.querySelector('.bolt[data-target="dialog-boxalgadv17"]');
            if (flash) {
                flash.style.backgroundColor = '#ffd700'; // Hex code for gold
            }

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxAlgadv17 = document.getElementById('dialog-boxalgadv17');
            if (dialogBoxAlgadv17) {
                dialogBoxAlgadv17.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxAlgadv17.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('algadvlsn17Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const algadvlsn17Completed = localStorage.getItem('algadvlsn17Completed');
            if (algadvlsn17Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>MapReduce-Based Algorithms</h1>
            <div id="sublesson1">
                <h2>Overview of MapReduce paradigm</h2>
                <p>
                    In this lesson, we will explore the MapReduce paradigm, which is a style of computing or a Big Data framework used for parallel and distributed algorithms. MapReduce allows us to efficiently process large amounts of data by spreading computations across different computers. It is commonly used in applications such as text algorithms, graph creation and algorithms, and data mining.<br>
                    <br>
                    MapReduce consists of two main phases: the map phase and the reduce phase. In the map phase, a function is applied to each element in a one-dimensional array, transforming the values and creating an identically shaped array. This phase is similar to functional programming, where computing is treated as a mathematical function. The map function is often used to perform tasks such as splitting text into elements, creating indexes, and searching for relevant words and phrases.<br>
                    <br>
                    The reduce phase, on the other hand, combines the results from the map phase and performs further computations to produce the final output. It involves aggregating and summarizing the data to obtain the desired result. The reduce phase is particularly useful for tasks like counting certain words in a text passage.<br>
                    <br>
                    To work with MapReduce, there are various packages and frameworks available that simplify the implementation process. For example, MrJob is a package that enables us to perform MapReduce tasks quickly and easily in Python. Additionally, cloud-based resources like Amazon Web Services and Hadoop can be used to execute MapReduce tasks efficiently.<br>
                    <br>
                    Overall, the MapReduce paradigm provides a powerful and scalable approach to processing large datasets. By leveraging parallel and distributed algorithms, it allows us to tackle complex tasks in an efficient manner.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Implementing algorithms in a MapReduce framework</h2>
                <p>
                    In this sub-lesson, we will learn how to implement algorithms in a MapReduce framework. MapReduce is a style of computing or a Big Data framework that allows us to efficiently process large amounts of data by combining different distributed algorithms. It is commonly used in applications such as text processing, graph creation, data mining, and machine learning.<br>
                    <br>
                    To implement algorithms in a MapReduce framework, we can use packages like MrJob, which provide a convenient way to perform MapReduce tasks. These packages allow us to quickly and easily write code for MapReduce algorithms without having to reinvent the wheel every time. Additionally, using a package makes it easier to execute the task using cloud-based resources like Amazon Web Services or Hadoop.<br>
                    <br>
                    The MapReduce algorithm consists of two phases: the map phase and the reduce phase. In the map phase, we apply a function to each element of a one-dimensional array (list) and obtain a transformed array. This function can be defined using a lambda function in Python. For example, if we have a list of numbers [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], we can use the map function to transform each number into its power equivalent using the lambda function lambda x: x**2.<br>
                    <br>
                    After the map phase, the reduce phase combines the transformed elements to produce a final result. The reduce phase is not covered in this sub-lesson but is an important part of the MapReduce framework.<br>
                    <br>
                    Now that we have learned the basics of implementing algorithms in a MapReduce framework, let's test our understanding with some multiple-choice questions.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>MapReduce-Based Algorithms</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Overview of MapReduce paradigm</a></li>
                <li><a href="#sublesson2">Implementing algorithms in a MapReduce framework</a></li>
            </ul>
        </aside>
</body>

</html>
