<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Proofs and Connections to Circuit Complexity</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What are interactive proof systems?",
                options: [
                    "Systems used to verify computations with high probability",
                    "Systems used to encrypt data",
                    "Systems used to simulate complex circuits",
                    "Systems used to analyze the complexity of algorithms"
                ],
                answer: "Systems used to verify computations with high probability"
            },
            {
                question: "Which complexity class is closely related to interactive proof systems?",
                options: ["P", "NP", "co-NP", "EXPTIME"],
                answer: "NP"
            },
            {
                question: "What are Arthur-Merlin games?",
                options: [
                    "Games played by Arthur and Merlin",
                    "Games used to analyze the complexity of algorithms",
                    "Games where Merlin provides a proof to Arthur",
                    "Games used to encrypt data"
                ], 
                answer: "Games where Merlin provides a proof to Arthur"
            },
            {
                question: "What do interactive proof systems have connections to?",
                options: ["Cryptography", "Circuit complexity", "Artificial intelligence", "All of the above"],
                answer: "Circuit complexity"
            },
            {
                question: "What are the applications of interactive proof systems?",
                options: [
                    "Analyzing the complexity of computational problems",
                    "Designing efficient algorithms",
                    "Proving the security of cryptographic protocols",
                    "All of the above"
                ],
                answer: "All of the above"
            },
            {
                question: "Which concept allows a prover and a verifier to interact in order to determine the correctness of a statement?",
                options: ["Circuit complexity", "Interactive proofs", "Zero-knowledge proofs", "Hardness amplification"],
                answer: "Interactive proofs"
            },
            {
                question: "What is the relationship between interactive proofs and circuit complexity?",
                options: [
                    "Interactive proofs can be used to solve any computational problem.",
                    "Interactive proofs are more powerful than circuit complexity.",
                    "Any language that can be decided by a polynomial-time verifier with access to an NP oracle can also be decided by a polynomial-size circuit.",
                    "Circuit complexity is a measure of the resources required to compute a function using a circuit."
                ],
                answer: "Any language that can be decided by a polynomial-time verifier with access to an NP oracle can also be decided by a polynomial-size circuit."
            },
            {
                question: "Which concept allows a prover to convince a verifier of the truth of a statement without revealing any additional information beyond the fact that the statement is true?",
                options: ["Circuit lower bounds", "Complexity classes", "Zero-knowledge proofs", "Hardness amplification"],
                answer: "Zero-knowledge proofs"
            },
            {
                question: "What is the purpose of hardness amplification?",
                options: [
                    "To increase the hardness of a computational problem",
                    "To decrease the hardness of a computational problem",
                    "To transform a problem that is moderately hard to solve into a problem that is exponentially hard to solve",
                    "To design efficient algorithms"
                ],
                answer: "To increase the hardness of a computational problem"
            },
            {
                question: "What do complexity classes provide a framework for?",
                options: [
                    "Classifying problems based on their computational difficulty",
                    "Classifying problems based on their size or depth",
                    "Classifying problems based on their resources required to compute a function using a circuit",
                    "Classifying problems based on their inherent difficulty"
                ],
                answer: "Classifying problems based on their computational difficulty"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Algorithms page
            window.location.href = "{{ url_for('algorithms') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flash to gold
            const flash = document.querySelector('.bolt[data-target="dialog-boxalgadv41"]');
            if (flash) {
                flash.style.backgroundColor = '#ffd700'; // Hex code for gold
            }

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxAlgadv41 = document.getElementById('dialog-boxalgadv41');
            if (dialogBoxAlgadv41) {
                dialogBoxAlgadv41.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxAlgadv41.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('algadvlsn41Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const algadvlsn41Completed = localStorage.getItem('algadvlsn41Completed');
            if (algadvlsn41Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Interactive Proofs and Connections to Circuit Complexity</h1>
            <div id="sublesson1">
                <h2>Interactive proof systems and their role in complexity theory</h2>
                <p>
                    In this lesson, we will explore the concept of interactive proof systems and their role in complexity theory. Interactive proof systems are a powerful tool used to verify the correctness of computations in a probabilistic manner. They play a crucial role in understanding the complexity of computational problems.<br>
                    <br>
                    1. Interactive Proof Systems:<br>
                    - An interactive proof system consists of two parties: the prover and the verifier.<br>
                    - The prover aims to convince the verifier that a certain statement is true.<br>
                    - The verifier interacts with the prover by asking questions and receiving answers.<br>
                    - The goal of the verifier is to determine the truthfulness of the statement with high probability.<br>
                    <br>
                    2. Complexity Classes:<br>
                    - Interactive proof systems are closely related to complexity classes, such as NP and co-NP.<br>
                    - NP (nondeterministic polynomial time) consists of decision problems that can be verified in polynomial time.<br>
                    - co-NP consists of decision problems for which the negation of the problem can be verified in polynomial time.<br>
                    <br>
                    3. Arthur-Merlin Games:<br>
                    - Arthur-Merlin games are a type of interactive proof system where the prover is powerful and the verifier is limited.<br>
                    - In an Arthur-Merlin game, Merlin (the prover) provides a proof to Arthur (the verifier) who then checks the proof.<br>
                    - The goal is for Arthur to accept the proof with high probability if the statement is true.<br>
                    <br>
                    4. Connections to Circuit Complexity:<br>
                    - Interactive proof systems have connections to circuit complexity, which studies the complexity of Boolean circuits.<br>
                    - The complexity of a circuit is determined by the number of gates and the depth of the circuit.<br>
                    - Interactive proof systems can be used to prove lower bounds on the size and depth of circuits required to solve certain problems.<br>
                    <br>
                    5. Applications:<br>
                    - Interactive proof systems have applications in various areas, including cryptography, complexity theory, and artificial intelligence.<br>
                    - They are used to prove the security of cryptographic protocols, analyze the complexity of computational problems, and design efficient algorithms.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Connections to circuit complexity and advanced theoretical concepts</h2>
                <p>
                    In this sub-lesson, we will explore the connections between interactive proofs and circuit complexity, as well as some advanced theoretical concepts related to these topics.<br>
                    <br>
                    1. Interactive Proofs:<br>
                    Interactive proofs are a powerful tool in complexity theory that allow a prover and a verifier to interact in order to determine the correctness of a statement. The prover tries to convince the verifier that the statement is true, while the verifier tries to ensure that the prover is not cheating. This concept is particularly useful in situations where it is difficult to directly verify the correctness of a statement.<br>
                    <br>
                    2. Circuit Complexity:<br>
                    Circuit complexity is a measure of the resources required to compute a function using a circuit. It is closely related to the concept of computational complexity, which studies the resources required to solve a computational problem. Circuit complexity provides insights into the efficiency of algorithms and the inherent difficulty of computational problems.<br>
                    <br>
                    3. Connections to Circuit Complexity:<br>
                    There are several connections between interactive proofs and circuit complexity. One important connection is the notion of interactive proofs with polynomial-time verifiers. It has been shown that any language that can be decided by a polynomial-time verifier with access to an NP oracle can also be decided by a polynomial-size circuit. This result highlights the power of interactive proofs and their relationship to circuit complexity.<br>
                    <br>
                    4. Advanced Theoretical Concepts:<br>
                    In addition to the connections between interactive proofs and circuit complexity, there are several advanced theoretical concepts that are relevant to this topic. These include:<br>
                    <br>
                    - Zero-knowledge proofs: Zero-knowledge proofs are interactive proofs that allow a prover to convince a verifier of the truth of a statement without revealing any additional information beyond the fact that the statement is true. This concept has important applications in cryptography and privacy.<br>
                    <br>
                    - Hardness amplification: Hardness amplification is a technique used to increase the hardness of a computational problem. It involves transforming a problem that is moderately hard to solve into a problem that is exponentially hard to solve. This concept is particularly useful in the design of cryptographic protocols.<br>
                    <br>
                    - Circuit lower bounds: Circuit lower bounds refer to the minimum size or depth of a circuit required to compute a specific function. These lower bounds provide insights into the inherent difficulty of computational problems and can help guide the design of efficient algorithms.<br>
                    <br>
                    - Complexity classes: Complexity classes are sets of computational problems that share certain properties. They provide a framework for classifying problems based on their computational difficulty. Some well-known complexity classes include P, NP, and PSPACE.<br>
                    <br>
                    Now that we have covered the required concepts, let's move on to the multiple-choice questions.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Interactive Proofs and Connections to Circuit Complexity</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Interactive proof systems and their role in complexity theory</a></li>
                <li><a href="#sublesson2">Connections to circuit complexity and advanced theoretical concepts</a></li>
            </ul>
        </aside>
</body>

</html>
