<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction to Quantum Computing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What are qubits in quantum computing?",
                options: ["Classical bits", "Quantum bits", "Superposition states", "Logic gates"],
                answer: "Quantum bits"
            },
            {
                question: "Which of the following is NOT a quantum gate?",
                options: ["Hadamard gate", "Pauli gates", "CNOT gate", "AND gate"],
                answer: "AND gate"
            },
            {
                question: "What is quantum entanglement?",
                options: ["Correlation between qubits", "Loss of quantum information", "Error correction technique", "Quantum cryptography"],
                answer: "Correlation between qubits"
            },
            {
                question: "Which algorithm is used for factoring large numbers in quantum computing?",
                options: ["Shor's algorithm", "Grover's algorithm", "RSA algorithm", "Dijkstra's algorithm"],
                answer: "Shor's algorithm"
            },
            {
                question: "What are the challenges in quantum computing?",
                options: ["Decoherence, error correction, and scalability", "Quantum bits, logic gates, and superposition states", "Classical bits, classical logic gates, and classical algorithms", "Quantum entanglement, quantum cryptography, and quantum algorithms"],
                answer: "Decoherence, error correction, and scalability"
            },
            {
                question: "What is superposition in quantum computing?",
                options: ["The ability of a qubit to exist in multiple states simultaneously", "The process of extracting classical information from a qubit", "The phenomenon where qubits become correlated", "The manipulation of qubits using quantum gates"],
                answer: "The ability of a qubit to exist in multiple states simultaneously"
            },
            {
                question: "What is entanglement in quantum computing?",
                options: ["The ability of a qubit to exist in multiple states simultaneously", "The process of extracting classical information from a qubit", "The phenomenon where qubits become correlated", "The manipulation of qubits using quantum gates"],
                answer: "The phenomenon where qubits become correlated"
            },
            {
                question: "What are quantum gates used for?",
                options: ["Extracting classical information from a qubit", "Creating entanglement between qubits", "Manipulating qubits", "Protecting quantum information from errors"],
                answer: "Manipulating qubits"
            },
            {
                question: "What happens when a qubit is measured in quantum computing?",
                options: ["The qubit collapses into one of its possible states with a certain probability", "The qubit becomes entangled with other qubits", "The qubit undergoes a mathematical transformation", "The qubit is flipped to the opposite state"],
                answer: "The qubit collapses into one of its possible states with a certain probability"
            },
            {
                question: "What is the purpose of quantum error correction?",
                options: ["To allow qubits to exist in superposition", "To create entanglement between qubits", "To manipulate qubits using quantum gates", "To protect quantum information from errors"],
                answer: "To protect quantum information from errors"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Algorithms page
            window.location.href = "{{ url_for('algorithms') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flash to gold
            const flash = document.querySelector('.bolt[data-target="dialog-boxalgadv20"]');
            if (flash) {
                flash.style.backgroundColor = '#ffd700'; // Hex code for gold
            }

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxAlgadv20 = document.getElementById('dialog-boxalgadv20');
            if (dialogBoxAlgadv20) {
                dialogBoxAlgadv20.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxAlgadv20.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('algadvlsn20Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const algadvlsn20Completed = localStorage.getItem('algadvlsn20Completed');
            if (algadvlsn20Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Introduction to Quantum Computing</h1>
            <div id="sublesson1">
                <h2>Fundamentals of quantum computing</h2>
                <p>
                    In this sub-lesson, we will introduce the fundamentals of quantum computing. Quantum computing is a rapidly growing field that utilizes the principles of quantum mechanics to perform computations. Unlike classical computers that use bits to represent information, quantum computers use quantum bits or qubits, which can exist in multiple states simultaneously.<br>
                    <br>
                    1. Quantum Bits (Qubits):<br>
                    - Qubits are the fundamental building blocks of quantum computers.<br>
                    - Unlike classical bits that can be either 0 or 1, qubits can be in a superposition of both states simultaneously.<br>
                    - This superposition allows quantum computers to perform parallel computations and solve certain problems more efficiently.<br>
                    <br>
                    2. Quantum Gates:<br>
                    - Quantum gates are the equivalent of classical logic gates in quantum computing.<br>
                    - They are used to manipulate the state of qubits and perform operations on quantum information.<br>
                    - Examples of quantum gates include the Hadamard gate, Pauli gates (X, Y, Z), and the CNOT gate.<br>
                    <br>
                    3. Quantum Entanglement:<br>
                    - Quantum entanglement is a phenomenon where two or more qubits become correlated in such a way that the state of one qubit cannot be described independently of the others.<br>
                    - Entangled qubits can be used to perform certain computations more efficiently and enable secure communication through quantum cryptography.<br>
                    <br>
                    4. Quantum Algorithms:<br>
                    - Quantum algorithms are specifically designed to take advantage of the unique properties of quantum computers.<br>
                    - Examples of quantum algorithms include Shor's algorithm for factoring large numbers and Grover's algorithm for searching unsorted databases.<br>
                    <br>
                    5. Challenges in Quantum Computing:<br>
                    - Quantum computing faces several challenges, including decoherence (loss of quantum information), error correction, and scalability.<br>
                    - Researchers are actively working on developing techniques to overcome these challenges and build practical quantum computers.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Key concepts in quantum information</h2>
                <p>
                    In this sub-lesson, we will explore some key concepts in quantum information. Quantum computing is a rapidly evolving field that utilizes the principles of quantum mechanics to perform computations. To understand quantum algorithms, it is important to grasp the fundamental concepts of quantum information.<br>
                    <br>
                    1. Superposition:<br>
                    In classical computing, a bit can be either 0 or 1. However, in quantum computing, a qubit can exist in a superposition of states, representing both 0 and 1 simultaneously. This superposition allows for parallel computation and forms the basis of quantum algorithms.<br>
                    <br>
                    2. Entanglement:<br>
                    Entanglement is a phenomenon where two or more qubits become correlated in such a way that the state of one qubit cannot be described independently of the others. This correlation enables quantum computers to perform certain computations more efficiently than classical computers.<br>
                    <br>
                    3. Quantum Gates:<br>
                    Quantum gates are analogous to classical logic gates and are used to manipulate qubits. These gates can perform operations such as flipping the state of a qubit, creating entanglement between qubits, and performing mathematical transformations. Some commonly used quantum gates include the Hadamard gate, CNOT gate, and Toffoli gate.<br>
                    <br>
                    4. Quantum Measurement:<br>
                    In quantum computing, measurement is the process of extracting classical information from a qubit. When a qubit is measured, it collapses into one of its possible states (0 or 1) with a certain probability. The outcome of a measurement is probabilistic, and multiple measurements may be required to obtain reliable results.<br>
                    <br>
                    5. Quantum Error Correction:<br>
                    Quantum systems are susceptible to errors due to noise and decoherence. Quantum error correction techniques aim to protect quantum information from these errors and ensure the reliability of quantum computations. These techniques involve encoding information redundantly and implementing error-detection and error-correction algorithms.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Introduction to Quantum Computing</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Fundamentals of quantum computing</a></li>
                <li><a href="#sublesson2">Key concepts in quantum information</a></li>
            </ul>
        </aside>
</body>

</html>
