<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursive problem-solving strategies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What are the three steps involved in the divide and conquer strategy?",
                options: ["Divide, conquer, combine", "Divide, solve, combine", "Divide, conquer, solve", "Divide, solve, merge"],
                answer: "Divide, conquer, combine"
            },
            {
                question: "Which problem involves finding the contiguous subarray with the largest sum?",
                options: ["Matrix multiplication problem", "Maximum-subarray problem", "Recurrence problem", "Divide and conquer problem"],
                answer: "Maximum-subarray problem"
            },
            {
                question: "What is the time complexity of Strassen's algorithm for matrix multiplication?",
                options: ["O(n^3)", "O(n^2)", "O(n^2.81)", "O(n)"],
                answer: "O(n^2.81)"
            },
            {
                question: "What role do recurrences play in divide and conquer algorithms?",
                options: ["They determine the size of the subproblems.", "They combine the solutions to the subproblems.", "They divide the problem into smaller instances.", "They describe the function in terms of its value on smaller inputs."],
                answer: "They describe the function in terms of its value on smaller inputs."
            },
            {
                question: "When is the divide and conquer strategy particularly useful?",
                options: ["When the problem is small enough to solve directly.", "When the problem is too complex to solve as a whole.", "When the problem involves matrix multiplication.", "When the problem has a recursive case."],
                answer: "When the problem is too complex to solve as a whole."
            },
            {
                question: "What is the main difference between top-down and bottom-up recursion?",
                options: ["Top-down recursion is more computationally efficient.", "Top-down recursion uses trial and error.", "Bottom-up recursion is more explorative.", "Bottom-up recursion starts from the complete solution."],
                answer: "Bottom-up recursion is more explorative."
            },
            {
                question: "What is the advantage of the top-down approach?",
                options: ["It requires less abstraction and training.", "It is more computationally efficient.", "It obtains partial results that are not used later.", "It generates only the necessary subproblems."],
                answer: "It generates only the necessary subproblems."
            },
            {
                question: "What is the advantage of the bottom-up approach?",
                options: ["It requires less abstraction and training.", "It is more computationally efficient.", "It obtains partial results that are not used later.", "It generates only the necessary subproblems."],
                answer: "It obtains partial results that are not used later."
            },
            {
                question: "Which approach better reflects the way we approach problems in everyday life?",
                options: ["Top-down recursion", "Bottom-up recursion", "Both approaches are equally reflective", "Neither approach reflects everyday problem-solving"],
                answer: "Bottom-up recursion"
            },
            {
                question: "What is the main challenge in understanding dynamic programming?",
                options: ["Repeated observations of existing solutions", "Practical exercise", "Transforming algorithms to be more efficient", "The solutions may seem like magic"],
                answer: "The solutions may seem like magic"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Algorithms page
            window.location.href = "{{ url_for('algorithms') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the four-pointed star to gold
            const fourPointedStar = document.querySelector('.four-pointed-star[data-target="dialog-boxalgbeg15"]');
            if (fourPointedStar) {
                fourPointedStar.style.backgroundColor = '#ffd700'; // Hex code for gold
            }

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxAlgbeg15 = document.getElementById('dialog-boxalgbeg15');
            if (dialogBoxAlgbeg15) {
                dialogBoxAlgbeg15.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxAlgbeg15.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('algbeglsn15Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const algbeglsn15Completed = localStorage.getItem('algbeglsn15Completed');
            if (algbeglsn15Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Recursive problem-solving strategies</h1>
            <div id="sublesson1">
                <h2>Divide and conquer</h2>
                <p>
                    In this lesson, we will be covering the topic of divide and conquer as a recursive problem-solving strategy. This strategy involves breaking down a problem into smaller subproblems, solving them recursively, and then combining the solutions to obtain the final solution.<br>
                    <br>
                    Divide and conquer consists of three steps:<br>
                    <br>
                    1. Divide: The problem is divided into smaller subproblems that are similar to the original problem.<br>
                    <br>
                    2. Conquer: The subproblems are solved recursively. If the subproblem sizes are small enough, they can be solved directly.<br>
                   <br>
                   3. Combine: The solutions to the subproblems are combined to obtain the solution for the original problem.<br>
                   <br>
                   This approach is particularly useful when dealing with complex problems that can be overwhelming to solve as a whole. By breaking them down into smaller, more manageable subproblems, we can tackle them one at a time and then combine the solutions to obtain the overall solution.<br>
                   <br>
                   One example of a problem that can be solved using divide and conquer is the maximum-subarray problem. This problem involves finding the contiguous subarray within an array that has the largest sum. By dividing the array into smaller subarrays and recursively solving them, we can determine the maximum subarray.<br>
                   <br>
                   Another application of divide and conquer is in matrix multiplication. There are two algorithms we will explore: one that runs in O(n^3) time, which is the straightforward method, and another called Strassen's algorithm, which runs in O(n^2.81) time and is more efficient.<br>
                   <br>
                   Recurrences play a crucial role in analyzing the running times of divide and conquer algorithms. They are equations or inequalities that describe a function in terms of its value on smaller inputs. By understanding recurrences, we can characterize the time complexity of these algorithms.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Top-down vs. bottom-up recursion</h2>
                <p>
                    In this lesson, we will explore the concepts of top-down and bottom-up recursion as problem-solving strategies. These strategies are commonly used in algorithms to break down complex problems into smaller subproblems and find efficient solutions.<br>
                   <br>
                   Top-down recursion involves splitting the problem into subproblems, starting from the complete solution. This approach is often used in recursive algorithms. It uses memoization, which is a technique to store the results of subproblems and avoid repeating computations. By generating only the necessary subproblems, the top-down approach is more computationally efficient.<br>
                   <br>
                   On the other hand, bottom-up recursion builds an array of partial results that aggregate into a complete solution. It is a more explorative approach that involves trial and error. While it may obtain partial results that are not used later, it better reflects the way we approach problems in everyday life. Bottom-up approaches require less abstraction and training before application.<br>
                   <br>
                   Both top-down and bottom-up approaches have their advantages and challenges. They may not be easy to understand at times, especially when using dynamic programming to make algorithms more efficient. Dynamic programming transforms the way we solve problems and requires repeated observations of existing solutions and practical exercise to become proficient.<br>
                   <br>
                   To summarize the steps involved in transforming algorithms using dynamic programming:<br>
                   <br>
                   1. Create a working solution using brute-force or recursion.<br>
                   <br>
                   2. Store the results of subproblems to speed up computations.<br>
                   <br>
                   3. Change the way you approach the problem to gain more speed.<br>
                   <br>
                   4. Redefine the problem approach in a more efficient way.<br>
                   <br>
                   By mastering dynamic programming, you can solve problems that require systematic comparison or computation of solutions.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Recursive problem-solving strategies</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Divide and conquer</a></li>
                <li><a href="#sublesson2">Top-down vs. bottom-up recursion</a></li>
            </ul>
        </aside>
</body>

</html>
