<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Understanding vertices and edges</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What are vertices in a graph?",
                options: ["The relationships between edges", "The connections between vertices", "The fundamental building blocks of a graph", "The labels associated with edges"],
                answer: "The fundamental building blocks of a graph"
            },
            {
                question: "How are vertices typically denoted in a graph?",
                options: ["By a single letter or number", "By a combination of letters and numbers", "By a sequence of letters", "By a sequence of numbers"],
                answer: "By a single letter or number"
            },
            {
                question: "What do edges represent in a graph?",
                options: ["The attributes associated with vertices", "The connections between edges", "The relationships between vertices", "The labels associated with vertices"],
                answer: "The relationships between vertices"
            },
            {
                question: "How are directed edges different from undirected edges?",
                options: ["Directed edges represent one-way relationships, while undirected edges represent two-way relationships", "Directed edges represent two-way relationships, while undirected edges represent one-way relationships", "Directed edges have no direction, while undirected edges have a specific direction", "Directed edges have a specific direction, while undirected edges do not"],
                answer: "Directed edges have a specific direction, while undirected edges do not"
            },
            {
                question: "How are vertices and edges represented in a graph diagram?",
                options: ["Vertices are represented by lines, and edges are represented by points", "Vertices are represented by circles, and edges are represented by lines", "Vertices are represented by points, and edges are represented by circles", "Vertices and edges are represented by the same symbol"],
                answer: "Vertices are represented by circles, and edges are represented by lines"
            },
            {
                question: "In which type of graph do edges have a specific direction?",
                options: ["Directed graph", "Undirected graph", "Weighted graph", "None of the above"],
                answer: "Directed graph"
            },
            {
                question: "What additional property can edges have in a graph?",
                options: ["Vertices", "Weights", "Relationships", "None of the above"],
                answer: "Weights"
            },
            {
                question: "Which application can benefit from analyzing graph edges?",
                options: ["Social network analysis", "Transportation planning", "Data analysis", "All of the above"],
                answer: "All of the above"
            },
            {
                question: "What do weights represent in graph edges?",
                options: ["Vertices", "Properties of vertices", "Relationships between vertices", "Strength or importance of the relationship"],
                answer: "Strength or importance of the relationship"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Algorithms page
            window.location.href = "{{ url_for('algorithms') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the four-pointed star to gold
            const fourPointedStar = document.querySelector('.four-pointed-star[data-target="dialog-boxalgbeg18"]');
            if (fourPointedStar) {
                fourPointedStar.style.backgroundColor = '#ffd700'; // Hex code for gold
            }

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxAlgbeg18 = document.getElementById('dialog-boxalgbeg18');
            if (dialogBoxAlgbeg18) {
                dialogBoxAlgbeg18.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxAlgbeg18.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('algbeglsn18Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const algbeglsn18Completed = localStorage.getItem('algbeglsn18Completed');
            if (algbeglsn18Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Understanding vertices and edges</h1>
            <div id="sublesson1">
                <h2>What are graph vertices?</h2>
                <p>
                    In this lesson, we will be discussing the concept of graph vertices. Graphs are a fundamental concept in computer science and other fields, and understanding vertices is crucial to working with graphs effectively.<br>
                    <br>
                    A graph is a collection of vertices and edges. Vertices, also known as nodes, are the fundamental building blocks of a graph. They represent individual entities or objects. For example, in a social network graph, each person would be represented by a vertex.<br>
                    <br>
                    Vertices are typically denoted by a single letter or a number. They can have labels or attributes associated with them to provide additional information. For instance, in a graph representing a network of cities, each vertex could have attributes such as the city name, population, or geographic coordinates.<br>
                    <br>
                    Edges, on the other hand, represent the relationships or connections between vertices. They connect pairs of vertices and can be directed or undirected. Directed edges have a specific direction, indicating a one-way relationship, while undirected edges have no direction, representing a two-way relationship.<br>
                    <br>
                    To visualize a graph, we can use diagrams where vertices are represented by points or circles, and edges are represented by lines connecting the vertices. The endpoints of an edge correspond to the vertices it connects.<br>
                    <br>
                    Understanding vertices is essential because they are the entities we manipulate and analyze in graph algorithms. By examining the relationships between vertices through edges, we can gain insights into various real-world problems.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>What are graph edges?</h2>
                <p>
                    In this lesson, we will be discussing the concept of graph edges. Graphs are a fundamental concept in computer science and other fields, and understanding their components is crucial. Specifically, we will focus on the edges of a graph.<br>
                    <br>
                    A graph consists of vertices (also known as nodes) and edges. Vertices represent the entities or objects in a graph, while edges represent the relationships or connections between these entities. Edges can be thought of as the links that connect the vertices.<br>
                    <br>
                    There are two types of graphs: directed and undirected. In an undirected graph, the edges have no specific direction and can be traversed in either direction. On the other hand, in a directed graph, the edges have a specific direction, indicating a one-way relationship between the vertices.<br>
                    <br>
                    For example, let's consider a social network graph. The users of the network can be represented as vertices, and the connections between them can be represented as edges. In an undirected graph, the edges would indicate that the users are connected to each other, without any specific direction. In a directed graph, the edges would indicate that one user is following another user, creating a one-way relationship.<br>
                    <br>
                    Edges in a graph can also have additional properties, such as weights. These weights can represent the strength or importance of the relationship between the vertices. For example, in a transportation network graph, the edges could have weights representing the distance between two locations.<br>
                    <br>
                    Understanding graph edges is essential for various applications, including social network analysis, transportation planning, and data analysis. By analyzing the edges of a graph, we can gain insights into the relationships and connections between the entities represented by the vertices.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Understanding vertices and edges</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">What are graph vertices?</a></li>
                <li><a href="#sublesson2">What are graph edges?</a></li>
            </ul>
        </aside>
</body>

</html>
