<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binary Trees and AVL Trees</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What is the maximum number of children a node can have in a binary tree?",
                options: ["0", "1", "2", "3"],
                answer: "2"
            },
            {
                question: "Which node is at the topmost level of a binary tree?",
                options: ["Root", "Leaf", "Parent", "Internal Node"],
                answer: "Root"
            },
            {
                question: "What is the depth of the root node in a binary tree?",
                options: ["0", "1", "2", "Depends on the height of the tree"],
                answer: "0"
            },
            {
                question: "Which type of binary tree has values in the left subtree less than the value of the node and values in the right subtree greater than the value of the node?",
                options: ["AVL Tree", "Binary Heap", "Red-Black Tree", "Binary Search Tree"],
                answer: "Binary Search Tree"
            },
            {
                question: "What is the height of a binary tree?",
                options: ["The number of nodes in the tree", "The number of edges in the longest path from the root to a leaf node", "The number of levels in the tree", "The number of internal nodes in the tree"],
                answer: "The number of edges in the longest path from the root to a leaf node"
            },
            {
                question: "What is the main goal of AVL trees?",
                options: ["To maintain balance in the tree", "To maximize the depth of the tree", "To minimize the number of elements in the tree", "To ensure efficient search operations"],
                answer: "To maintain balance in the tree"
            },
            {
                question: "What is the time complexity of search, insertion, and deletion operations in AVL trees?",
                options: ["O(NlogN)", "O(logN)", "O(N)", "O(1)"],
                answer: "O(1)"
            },
            {
                question: "What is the balance condition imposed on each node in an AVL tree?",
                options: ["The heights of the left and right subtrees must be equal", "The heights of the left and right subtrees can differ by at most 1", "The heights of the left and right subtrees must be at most logN", "The heights of the left and right subtrees can differ by any value"],
                answer: "The heights of the left and right subtrees can differ by at most 1"
            },
            {
                question: "What is the technique used by AVL trees to maintain balance?",
                options: ["Hashing", "Sorting", "Rotation", "Recursion"],
                answer: "Rotation"
            },
            {
                question: "What is the worst-case time complexity of AVL tree operations?",
                options: ["O(1)", O(N)"", "O(logN)", "O(NlogN)"],
                answer: "O(logN)"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Algorithms page
            window.location.href = "{{ url_for('algorithms') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flower to gold
            const flower = document.querySelector('.flower_head[data-target="dialog-boxalgitd1"]');
            if (flower) {
                flower.style.backgroundColor = '#ffd700'; // Hex code for gold
            }

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxAlgitd1 = document.getElementById('dialog-boxalgitd1');
            if (dialogBoxAlgitd1) {
                dialogBoxAlgitd1.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxAlgitd1.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('algitdlsn1Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const algitdlsn1Completed = localStorage.getItem('algitdlsn1Completed');
            if (algitdlsn1Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Binary Trees and AVL Trees</h1>
            <div id="sublesson1">
                <h2>Binary tree structure and terminology</h2>
                <p>
                    In this sub-lesson, we will learn about the structure and terminology of binary trees. Binary trees are a type of tree data structure where each node has at most two children, referred to as the left child and the right child. Let's dive into the key concepts and terminology associated with binary trees.<br>
                    <br>
                    1. Root: The topmost node of a binary tree is called the root. It is the starting point for traversing the tree.<br>
                    <br>
                    2. Parent and Child: Each node in a binary tree can have at most two children. The node that is connected to another node below it is called the parent, and the nodes connected to a parent node are called its children.<br>
                    <br>
                    3. Leaf: A leaf node is a node that does not have any children. It is also known as an external node.<br>
                    <br>
                    4. Internal Node: An internal node is a node that has at least one child. It is also known as a non-leaf node.<br>
                    <br>
                    5. Depth: The depth of a node in a binary tree is the number of edges from the root to that node. The depth of the root node is 0.<br>
                    <br>
                    6. Height: The height of a binary tree is the maximum depth of any node in the tree. It represents the length of the longest path from the root to a leaf node.<br>
                    <br>
                    7. Binary Search Tree (BST): A binary search tree is a type of binary tree where the values in the left subtree of a node are less than the value of the node, and the values in the right subtree are greater than the value of the node. This property makes searching, insertion, and deletion operations efficient.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>AVL trees for balanced binary search</h2>
                <p>
                    In this sub-lesson, we will discuss AVL trees, which are a type of balanced binary search tree. AVL trees are named after their inventors, Adelson-Velskii and Landis. The main goal of AVL trees is to maintain balance in the tree, which ensures efficient operations.<br>
                    <br>
                    A binary search tree is a data structure that allows for efficient searching, insertion, and deletion of elements. However, if the tree becomes unbalanced, these operations can become inefficient, with a worst-case time complexity of O(N), where N is the number of elements in the tree.<br>
                    <br>
                    To maintain balance in an AVL tree, a balance condition is imposed on each node. This condition states that the heights of the left and right subtrees of any node can differ by at most 1. By enforcing this condition, the depth of the tree is guaranteed to be O(logN), where N is the number of elements in the tree.<br>
                    <br>
                    To achieve balance, AVL trees use a technique called rotation. A rotation is an operation that changes the structure of the tree while preserving the order of the elements. There are four types of rotations: left rotation, right rotation, left-right rotation, and right-left rotation. These rotations are performed when the balance condition is violated during insertion or deletion operations.<br>
                    <br>
                    AVL trees provide efficient search, insertion, and deletion operations with a worst-case time complexity of O(logN). However, maintaining balance requires additional overhead compared to regular binary search trees.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Binary Trees and AVL Trees</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Binary tree structure and terminology</a></li>
                <li><a href="#sublesson2">AVL trees for balanced binary search</a></li>
            </ul>
        </aside>
</body>

</html>
