<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identifying Overlapping Subproblems</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What is the requirement for dynamic programming to be applicable to a problem?",
                options: ["Optimal substructure", "Overlapping subproblems", "Greedy strategy", "Independent subproblems"],
                answer: "Overlapping subproblems"
            },
            {
                question: "What does overlapping subproblems mean in the context of dynamic programming?",
                options: ["Generating new subproblems at each step", "Solving the same subproblems over and over again", "Storing the solutions to subproblems in a table", "Breaking down a problem into smaller subproblems"],
                answer: "Solving the same subproblems over and over again"
            },
            {
                question: "Which of the following is an example of a problem with overlapping subproblems?",
                options: ["Sorting an array", "Finding the maximum subarray sum", "Finding the shortest path in a graph", "Calculating the Fibonacci sequence"],
                answer: "Finding the shortest path in a graph"
            },
            {
                question: "How does dynamic programming utilize overlapping subproblems?",
                options: ["By solving each subproblem multiple times", "By storing the solutions to subproblems in a table", "By generating new subproblems at each step", "By breaking down a problem into smaller subproblems"],
                answer: "By storing the solutions to subproblems in a table"
            },
            {
                question: "What is the benefit of identifying overlapping subproblems in dynamic programming?",
                options: ["It improves the efficiency of the algorithm", "It ensures the optimal substructure property", "It allows for the use of a greedy strategy", "It guarantees independent subproblems"],
                answer: "It improves the efficiency of the algorithm"
            },
            {
                question: "Which property must a problem have for dynamic programming to apply?",
                options: ["Optimal substructure", "Overlapping subproblems", "Both a and b", "None of the above"],
                answer: "Both a and b"
            },
            {
                question: "What does optimal substructure mean?",
                options: ["An optimal solution to the problem contains optimal solutions to subproblems", "An optimal solution to the problem contains suboptimal solutions to subproblems", "An optimal solution to the problem does not depend on subproblems", "None of the above"],
                answer: "An optimal solution to the problem contains optimal solutions to subproblems"
            },
            {
                question: "What is the advantage of identifying overlapping subproblems?",
                options: ["It allows us to avoid redundant computations", "It allows us to generate new subproblems", "It allows us to solve problems recursively", "None of the above"],
                answer: "It allows us to avoid redundant computations"
            },
            {
                question: "Which problem was used as an example to illustrate overlapping subproblems?",
                options: ["Matrix-chain multiplication problem", "Rod cutting problem", "Both a and b", "None of the above"],
                answer: "Both a and b"
            },
            {
                question: "How can we avoid redundant computations in dynamic programming?",
                options: ["By storing the solutions to subproblems in a table", "By recomputing the solutions to subproblems every time", "By generating new subproblems", "None of the above"],
                answer: "By storing the solutions to subproblems in a table"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Algorithms page
            window.location.href = "{{ url_for('algorithms') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flower to gold
            const flower = document.querySelector('.flower_head[data-target="dialog-boxalgitd7"]');
            if (flower) {
                flower.style.backgroundColor = '#ffd700'; // Hex code for gold
            }

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxAlgitd7 = document.getElementById('dialog-boxalgitd7');
            if (dialogBoxAlgitd7) {
                dialogBoxAlgitd7.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxAlgitd7.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('algitdlsn7Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const algitdlsn7Completed = localStorage.getItem('algitdlsn7Completed');
            if (algitdlsn7Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Identifying Overlapping Subproblems</h1>
            <div id="sublesson1">
                <h2>Recognizing common subproblems</h2>
                <p>
                    In this lesson, we will focus on identifying overlapping subproblems, which is an important concept in dynamic programming. Overlapping subproblems are a key requirement for dynamic programming to be applicable to a problem. Let's dive into the details.<br>
                    <br>
                    Dynamic programming is a technique used to solve optimization problems by breaking them down into smaller subproblems and solving each subproblem only once. The idea is to store the solutions to the subproblems in a table so that they can be looked up when needed, rather than recomputing them.<br>
                    <br>
                    One of the requirements for dynamic programming to be applicable is the presence of overlapping subproblems. This means that the recursive algorithm for the problem solves the same subproblems over and over again, rather than generating new subproblems at each step.<br>
                    <br>
                    To understand overlapping subproblems, let's consider an example. Suppose we have a problem of finding the shortest path in a graph. The problem can be divided into subproblems of finding the shortest path from a source vertex to each of the other vertices. Now, if we observe closely, we can see that the subproblems overlap because the same subproblem of finding the shortest path from the source vertex to a particular vertex may be encountered multiple times in different paths. This repetition of subproblems is what we call overlapping subproblems.<br>
                    <br>
                    By solving each subproblem only once and storing the solution in a table, we can avoid redundant computations and improve the efficiency of the algorithm. This is the essence of dynamic programming.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Examples of problems with overlapping substructures</h2>
                <p>
                    In this lesson, we will focus on identifying overlapping subproblems in dynamic programming. This is an important concept to understand as it helps us optimize our algorithms by avoiding redundant computations. We will explore examples of problems that exhibit overlapping substructures.<br>
                    <br>
                    Dynamic programming is a technique used to solve optimization problems by breaking them down into smaller subproblems and solving them independently. The two key properties that a problem must have for dynamic programming to apply are optimal substructure and overlapping subproblems.<br>
                    <br>
                    Optimal substructure means that an optimal solution to the problem contains within it optimal solutions to subproblems. This property allows us to build an optimal solution to the problem from optimal solutions to subproblems. We can identify optimal substructure by showing that a solution to the problem involves making a choice that leads to optimal solutions for subproblems.<br>
                    <br>
                    Overlapping subproblems refer to the property that a recursive algorithm for the problem solves the same subproblems over and over again, rather than generating new subproblems. This property allows us to store the solutions to subproblems in a table and look them up when needed, reducing redundant computations.<br>
                    <br>
                    To illustrate the concept of overlapping subproblems, let's consider the matrix-chain multiplication problem. In this problem, we want to determine the most efficient way to multiply a chain of matrices. We can break this problem down into subproblems by considering different ways to split the chain and multiply the resulting subchains. When solving these subproblems, we often encounter the same subproblems repeatedly. By storing the solutions to these subproblems in a table, we can avoid recomputing them and improve the efficiency of our algorithm.<br>
                    <br>
                    Another example of a problem with overlapping substructures is the rod cutting problem. Here, we want to determine the best way to cut a rod of length n into smaller pieces to maximize its value. We can solve this problem by considering different ways to make the first cut and recursively solving the subproblems of cutting the remaining pieces. Again, we encounter the same subproblems repeatedly, and by storing their solutions, we can avoid redundant computations.<br>
                    <br>
                    Identifying overlapping subproblems is crucial in dynamic programming as it allows us to optimize our algorithms and improve their efficiency. By breaking down a problem into smaller subproblems and reusing their solutions, we can avoid unnecessary computations and solve complex problems more efficiently.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <li><a href="#sublesson1">Identifying Overlapping Subproblems</a></li>
            <h2></h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Recognizing common subproblems</a></li>
                <li><a href="#sublesson2">Examples of problems with overlapping substructures</a></li>
            </ul>
        </aside>
</body>

</html>
