<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huffman Coding and Minimum Spanning Trees</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What is the purpose of Huffman coding?",
                options: [
                    "To assign longer codes to frequently occurring data entries",
                    "To assign shorter codes to frequently occurring data entries",
                    "To assign equal-length codes to all data entries",
                    "To compress data without loss of information"
                ],
                answer: "To assign shorter codes to frequently occurring data entries"
            },
            {
                question: "What is the first step in Huffman encoding?",
                options: [
                    "Building the Huffman tree",
                    "Assigning codes",
                    "Calculating frequencies",
                    "Decoding the encoded data"
                ],
                answer: "Calculating frequencies"
            },
            {
                question: "What type of coding technique is Huffman coding?",
                options: [
                    "Variable-length prefix coding",
                    "Fixed-length prefix coding",
                    "Variable-length suffix coding",
                    "Fixed-length suffix coding"
                ],
                answer: "Variable-length prefix coding"
            },
            {
                question: "What is the advantage of Huffman coding?",
                options: [
                    "Lossy compression",
                    "Fixed-length codes",
                    "Inefficient compression",
                    "Efficient compression"
                ],
                answer: "Efficient compression"
            },
            {
                question: "What is the purpose of the Huffman tree in Huffman encoding?",
                options: [
                    "To calculate the frequencies of data entries",
                    "To assign codes to data entries",
                    "To decode the encoded data",
                    "To compress the data"
                ],
                answer: "To assign codes to data entries"
            }
            {
                question: "What is the purpose of a minimum spanning tree?",
                options: [
                    "To find the longest path in a graph",
                    "To find the most cost-effective way to connect a set of objects",
                    "To find the shortest path between two locations",
                    "To compress data efficiently"
                ],
                answer: "To find the most cost-effective way to connect a set of objects"
            },
            {
                question: "Which algorithm is based on the greedy approach and selects the edge with the smallest value?",
                options: [
                    "Prim's algorithm",
                    "Kruskal's algorithm",
                    "Huffman Coding",
                    "None of the above"
                ],
                answer: "Prim's algorithm"
            },
            {
                question: "Which algorithm splits an undirected graph in half and selects the edge that connects the two halves with the smallest total weight?",
                options: [
                    "Prim's algorithm",
                    "Kruskal's algorithm",
                    "Huffman Coding",
                    "None of the above"
                ],
                answer: "Kruskal's algorithm"
            },
            {
                question: "What is the main application of Huffman Coding?",
                options: [
                    "Graph analysis",
                    "Data compression",
                    "Machine learning",
                    "Maze game"
                ],
                answer: "Data compression"
            },
            {
                question: "What is the key principle of greedy algorithms used in Prim's and Kruskal's algorithms?",
                options: [
                    "Selecting the edge with the greatest value",
                    "Selecting the edge with the smallest value",
                    "Selecting the edge with the longest length",
                    "Selecting the edge with the shortest length"
                ],
                answer: "Selecting the edge with the smallest value"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Algorithms page
            window.location.href = "{{ url_for('algorithms') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flower to gold
            const flower = document.querySelector('.flower_head[data-target="dialog-boxalgitd14"]');
            if (flower) {
                flower.style.backgroundColor = '#ffd700'; // Hex code for gold
            }

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxAlgitd14 = document.getElementById('dialog-boxalgitd14');
            if (dialogBoxAlgitd14) {
                dialogBoxAlgitd14.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxAlgitd14.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('algitdlsn14Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const algitdlsn14Completed = localStorage.getItem('algitdlsn14Completed');
            if (algitdlsn14Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Huffman Coding and Minimum Spanning Trees</h1>
            <div id="sublesson1">
                <h2>Huffman coding for data compression</h2>
                <p>
                    In this lesson, we will explore the concept of Huffman coding, which is a popular algorithm used for data compression. Huffman coding is based on the principle of assigning shorter codes to more frequently occurring data entries, resulting in efficient compression of data.<br>
                    <br>
                    Huffman Encoding:<br>
                    Huffman encoding is a variable-length prefix coding technique used for data compression. It assigns shorter codes to frequently occurring data entries and longer codes to less frequently occurring data entries. This allows for efficient compression of data by reducing the overall size of the encoded data.<br>
                    <br>
                    Steps in Huffman Encoding:<br>
                    1. Frequency Calculation: The first step in Huffman encoding is to calculate the frequency of each unique data entry in the input stream.<br>
                    2. Building the Huffman Tree: The next step is to build a Huffman tree using the calculated frequencies. The Huffman tree is a binary tree where each leaf node represents a unique data entry and the path from the root to each leaf node represents the code assigned to that data entry.<br>
                    3. Assigning Codes: Starting from the root of the Huffman tree, assign a '0' for each left branch and a '1' for each right branch. Traverse the tree to assign codes to each unique data entry.<br>
                    4. Encoding: Replace each data entry in the input stream with its corresponding Huffman code.<br>
                    5. Decoding: To decode the encoded data, traverse the Huffman tree using the encoded bits and output the corresponding data entry when reaching a leaf node.<br>
                    <br>
                    Advantages of Huffman Coding:<br>
                    - Efficient Compression: Huffman coding provides efficient compression by assigning shorter codes to frequently occurring data entries.<br>
                    - Lossless Compression: Huffman coding is a lossless compression technique, which means that the original data can be perfectly reconstructed from the compressed data.<br>
                    - Variable-Length Codes: Huffman coding allows for variable-length codes, which means that different data entries can have different code lengths, resulting in optimal compression.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Minimum spanning trees - Prim's and Kruskal's algorithms</h2>
                <p>
                    In this lesson, we will explore the topic of Minimum Spanning Trees (MST) and two popular algorithms used to solve this problem: Prim's algorithm and Kruskal's algorithm. We will also discuss Huffman Coding, which is a famous data compression technique.<br>
                    <br>
                    Minimum Spanning Trees:<br>
                    A minimum spanning tree is a tree that connects all the vertices of a graph with the minimum possible total edge weight. It is used to find the most cost-effective way to connect a set of objects.<br>
                    <br>
                    Prim's Algorithm:<br>
                    Prim's algorithm is a greedy algorithm that starts with an arbitrary vertex and repeatedly adds the cheapest edge that connects a vertex in the tree to a vertex outside the tree. This process continues until all vertices are included in the tree.<br>
                    <br>
                    Kruskal's Algorithm:<br>
                    Kruskal's algorithm is another greedy algorithm that starts with an empty tree and repeatedly adds the cheapest edge that does not create a cycle in the tree. This process continues until all vertices are included in the tree.<br>
                    <br>
                    Huffman Coding:<br>
                    Huffman Coding is a data compression technique that assigns variable-length codes to different characters based on their frequency of occurrence. Characters that occur more frequently are assigned shorter codes, resulting in efficient compression.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Huffman Coding and Minimum Spanning Trees</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Huffman coding for data compression</a></li>
                <li><a href="#sublesson2">Minimum spanning trees - Prim's and Kruskal's algorithms</a></li>
            </ul>
        </aside>
</body>

</html>
