<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maximizing financial aid opportunities</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What are scholarships?",
                options: [
                    "a) Financial awards given to students based on their academic achievements",
                    "b) Financial loans provided to students for educational purposes",
                    "c) Financial assistance given to students for extracurricular activities",
                    "d) Financial support provided to students for sports training"
                ],
                answer: "a) Financial awards given to students based on their academic achievements"
            },
            {
                question: "Which type of scholarship is awarded to students from economically disadvantaged backgrounds?",
                options: [
                    "a) Merit-based scholarships",
                    "b) Need-based scholarships",
                    "c) Sports scholarships",
                    "d) Minority scholarships"
                ],
                answer: "b) Need-based scholarships"
            },
            {
                question: "What are the other financial aid options available in India?",
                options: [
                    "a) Educational loans",
                    "b) Government schemes",
                    "c) Both a) and b)",
                    "d) None of the above"
                ],
                answer: "c) Both a) and b)"
            },
            {
                question: "How can students maximize financial aid opportunities?",
                options: [
                    "a) Start researching and applying for scholarships and financial aid well in advance",
                    "b) Keep track of application deadlines and submit all required documents on time",
                    "c) Explore multiple sources of scholarships and financial aid",
                    "d) All of the above"
                ],
                answer: "d) All of the above"
            },
            {
                question: "What should students do to enhance their eligibility for scholarships?",
                options: [
                    "a) Maintain a good academic record",
                    "b) Actively participate in extracurricular activities",
                    "c) Seek guidance from school counselors or educational consultants",
                    "d) All of the above"
                ],
                answer: "d) All of the above"
            },
            {
                question: "What is the first step for Indian students when navigating the admission and application processes for colleges and universities?",
                options: [
                    "a) Research and identify potential institutions",
                    "b) Understand admission requirements",
                    "c) Prepare a strong application",
                    "d) Seek guidance and support"
                ],
                answer: "a) Research and identify potential institutions"
            },
            {
                question: "What should Indian students consider when researching potential institutions?",
                options: [
                    "a) Reputation of the institution",
                    "b) Availability of scholarships and grants",
                    "c) Cost of tuition and living expenses",
                    "d) All of the above"
                ],
                answer: "d) All of the above"
            },
            {
                question: "What should Indian students do to prepare a strong application?",
                options: [
                    "a) Highlight academic achievements and extracurricular activities",
                    "b) Write a compelling personal statement",
                    "c) Request letters of recommendation",
                    "d) All of the above"
                ],
                answer: "d) All of the above"
            },
            {
                question: "What documents may be required for the financial aid application?",
                options: [
                    "a) Bank statements",
                    "b) Tax returns",
                    "c) Proof of income",
                    "d) All of the above"
                ],
                answer: "d) All of the above"
            },
            {
                question: "How can Indian students seek guidance and support during the application process?",
                options: [
                    "a) Reach out to college counselors or education consultants",
                    "b) Attend information sessions or webinars",
                    "c) Stay updated with any changes or updates",
                    "d) All of the above"
                ],
                answer: "d) All of the above"
            },
            {
                question: "What are scholarships?",
                options: [
                    "a) Financial awards that need to be repaid",
                    "b) Financial awards given based on academic achievements or talents",
                    "c) Borrowed money that needs to be repaid with interest",
                    "d) Money saved for higher education"
                ],
                answer: "b) Financial awards given based on academic achievements or talents"
            },
            {
                question: "What should students consider when taking education loans?",
                options: [
                    "a) Interest rates, repayment terms, and eligibility criteria",
                    "b) Future earning potential and investment options",
                    "c) Tax benefits and scholarship opportunities",
                    "d) Budgeting and saving strategies"
                ],
                answer: "a) Interest rates, repayment terms, and eligibility criteria"
            },
            {
                question: "How can savings be used for higher education?",
                options: [
                    "a) To cover the entire cost of education",
                    "b) To reduce the need for loans",
                    "c) To invest in stocks and bonds",
                    "d) To pay off existing debts"
                ],
                answer: "b) To reduce the need for loans"
            },
            {
                question: "What should students do after receiving scholarship awards?",
                options: [
                    "a) Apply for more scholarships",
                    "b) Calculate the remaining cost of education",
                    "c) Spend the money on other expenses",
                    "d) Invest the money in a business"
                ],
                answer: "b) Calculate the remaining cost of education"
            },
            {
                question: "Why is financial planning important for education planning?",
                options: [
                    "a) To maximize financial aid opportunities",
                    "b) To minimize the cost of education",
                    "c) To ensure a stable financial future",
                    "d) All of the above"
                ],
                answer: "d) All of the above"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flash to gold
            const flash = document.querySelector('.bolt[data-target="dialog-boxpfadv48"]');
            if (flash) {
                flash.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxpfadv48 = document.getElementById('dialog-boxpfadv48');
            if (dialogBoxpfadv48) {
                dialogBoxpfadv48.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxpfadv48.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfadvlsn48Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfadvlsn48Completed = localStorage.getItem('pfadvlsn48Completed');
            if (pfadvlsn48Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Maximizing financial aid opportunities</h1>
            <div id="sublesson1">
                <h2>Understanding scholarships and financial aid options in India</h2>
                <p>
                    In this sub-lesson, we will discuss scholarships and financial aid options available in India for education planning. Scholarships and financial aid can greatly help in reducing the financial burden of education expenses. Let's explore some key concepts related to scholarships and financial aid in India.<br>
                    <br>
                    1. Scholarships:<br>
                    - Scholarships are financial awards given to students based on their academic achievements, talents, or other criteria.<br>
                    - There are various types of scholarships available in India, such as merit-based scholarships, need-based scholarships, sports scholarships, and minority scholarships.<br>
                    - Merit-based scholarships are awarded to students who have excelled academically, while need-based scholarships are given to students from economically disadvantaged backgrounds.<br>
                    - Sports scholarships are provided to students who have achieved excellence in sports, and minority scholarships are awarded to students belonging to minority communities.<br>
                    <br>
                    2. Financial Aid Options:<br>
                    - In addition to scholarships, there are other financial aid options available in India, such as educational loans and government schemes.<br>
                    - Educational loans are offered by banks and financial institutions to help students finance their education. These loans usually have lower interest rates and flexible repayment options.<br>
                    - Government schemes, such as the Central Sector Scheme of Scholarship for College and University Students, provide financial assistance to meritorious students from low-income families.<br>
                    <br>
                    3. Application Process:<br>
                    - To avail scholarships and financial aid, students need to apply through the respective scholarship portals or institutions.<br>
                    - The application process usually involves submitting necessary documents, such as academic records, income certificates, and other supporting documents.<br>
                    - It is important to carefully read and understand the eligibility criteria, application deadlines, and required documents for each scholarship or financial aid option.<br>
                    <br>
                    4. Tips for Maximizing Financial Aid Opportunities:<br>
                    - Start researching and applying for scholarships and financial aid options well in advance.<br>
                    - Keep track of application deadlines and submit all required documents on time.<br>
                    - Explore multiple sources of scholarships and financial aid to increase your chances of receiving assistance.<br>
                    - Seek guidance from school counselors, teachers, or educational consultants to identify suitable scholarships and financial aid options.<br>
                    - Maintain a good academic record and actively participate in extracurricular activities to enhance your eligibility for scholarships.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Navigating admission and application processes for Indian students</h2>
                <p>
                    In this sub-lesson, we will discuss the important steps and considerations for Indian students when navigating the admission and application processes for colleges and universities. These processes can be complex and overwhelming, but with the right approach, you can maximize your chances of receiving financial aid.<br>
                    <br>
                    1. Research and Identify Potential Institutions:<br>
                    - Start by researching and identifying the colleges and universities that offer financial aid opportunities for international students.<br>
                    - Look for institutions that have a strong track record of providing financial assistance to Indian students.<br>
                    - Consider factors such as the reputation of the institution, the availability of scholarships and grants, and the cost of tuition and living expenses.<br>
                    <br>
                    2. Understand Admission Requirements:<br>
                    - Familiarize yourself with the admission requirements of the institutions you are interested in.<br>
                    - Pay attention to the specific requirements for international students, such as English language proficiency tests (e.g., TOEFL or IELTS) and standardized tests (e.g., SAT or ACT).<br>
                    - Make sure you meet all the eligibility criteria before applying.<br>
                    <br>
                    3. Prepare a Strong Application:<br>
                    - Take the time to prepare a strong application that highlights your academic achievements, extracurricular activities, and any relevant work experience.<br>
                    - Write a compelling personal statement that showcases your goals, aspirations, and why you deserve financial aid.<br>
                    - Request letters of recommendation from teachers or mentors who can speak to your abilities and potential.<br>
                    <br>
                    4. Financial Aid Application:<br>
                    - Familiarize yourself with the financial aid application process of each institution.<br>
                    - Complete the required forms accurately and submit them before the deadlines.<br>
                    - Be prepared to provide supporting documents, such as bank statements, tax returns, and proof of income.<br>
                    <br>
                    5. Seek Guidance and Support:<br>
                    - Reach out to college counselors, education consultants, or alumni who can provide guidance and support throughout the application process.<br>
                    - Attend information sessions or webinars organized by the institutions to learn more about their financial aid programs.<br>
                    - Stay updated with any changes or updates in the admission and financial aid processes.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Combining scholarships, loans, and savings for higher education in India</h2>
                <p>
                    In this sub-lesson, we will discuss how to combine scholarships, loans, and savings to maximize financial aid opportunities for higher education in India. <br>
                    <br>
                    1. Scholarships:<br>
                    - Scholarships are financial awards given to students based on their academic achievements, talents, or other criteria.<br>
                    - They do not need to be repaid and can significantly reduce the cost of education.<br>
                    - Students should actively search for scholarships and apply to as many as possible.<br>
                    - It is important to meet the eligibility criteria and submit all required documents on time.<br>
                    <br>
                    2. Loans:<br>
                    - Loans are borrowed money that needs to be repaid with interest.<br>
                    - Students can consider taking education loans to cover the remaining cost of education after scholarships and savings.<br>
                    - It is important to research and compare different loan options, including interest rates, repayment terms, and eligibility criteria.<br>
                    - Students should borrow only what is necessary and consider their future earning potential when deciding on loan amounts.<br>
                    <br>
                    3. Savings:<br>
                    - Saving for higher education is an important aspect of financial planning.<br>
                    - Parents and students should start saving early and regularly contribute to a dedicated education fund.<br>
                    - Savings can be used to cover a portion of the education expenses, reducing the need for loans.<br>
                    - It is important to consider tax benefits and investment options that can help grow the savings over time.<br>
                    <br>
                    4. Combining Scholarships, Loans, and Savings:<br>
                    - To maximize financial aid opportunities, students should first explore and apply for scholarships.<br>
                    - After receiving scholarship awards, students can calculate the remaining cost of education.<br>
                    - Savings can be used to cover a portion of the remaining cost, and loans can be taken to cover the remaining balance.<br>
                    - It is important to carefully consider the terms and conditions of loans and ensure that the repayment plan is manageable.<br>
                    <br>
                    5. Financial Planning:<br>
                    - Financial planning is crucial for education planning.<br>
                    - Students and parents should create a budget, estimate the total cost of education, and explore different funding options.<br>
                    - It is important to consider the long-term financial implications of borrowing and make informed decisions.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Maximizing financial aid opportunities</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Understanding scholarships and financial aid options in India</a></li>
                <li><a href="#sublesson2">Navigating admission and application processes for Indian students</a></li>
                <li><a href="#sublesson3">Combining scholarships, loans, and savings for higher education in India</a></li>
            </ul>
        </aside>
</body>

</html>
