<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk and reward in options trading</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [const optionsTradingRiskQuestions = [
            {
                question: "Which risk refers to the risk of price fluctuations in the underlying asset?",
                options: ["Market Risk", "Volatility Risk", "Time Decay Risk", "Liquidity Risk"],
                answer: "Market Risk"
            },
            {
                question: "Which risk is associated with the volatility of the underlying asset?",
                options: ["Market Risk", "Volatility Risk", "Time Decay Risk", "Credit Risk"],
                answer: "Volatility Risk"
            },
            {
                question: "Which risk is associated with the passage of time?",
                options: ["Market Risk", "Volatility Risk", "Time Decay Risk", "Liquidity Risk"],
                answer: "Time Decay Risk"
            },
            {
                question: "Which risk refers to the risk of not being able to buy or sell options at desired prices?",
                options: ["Market Risk", "Volatility Risk", "Time Decay Risk", "Liquidity Risk"],
                answer: "Liquidity Risk"
            },
            {
                question: "Which risk is associated with the counterparty defaulting on their obligations?",
                options: ["Market Risk", "Volatility Risk", "Time Decay Risk", "Credit Risk"],
                answer: "Credit Risk"
            },
        ];const optionsTradingCalculationQuestions = [
            {
                question: "What is the upfront cost of an options contract?",
                options: [
                    "The premium paid to purchase the contract",
                    "The difference between the stock price and the strike price",
                    "The total gain from exercising the option",
                    "The total loss from not exercising the option"
                ],
                answer: "The premium paid to purchase the contract"
            },
            {
                question: "How is the total gain calculated in options trading?",
                options: [
                    "By subtracting the upfront cost from the difference between the stock price and the strike price",
                    "By adding the upfront cost to the difference between the stock price and the strike price",
                    "By multiplying the upfront cost by the stock price",
                    "By dividing the upfront cost by the strike price"
                ],
                answer: "By subtracting the upfront cost from the difference between the stock price and the strike price"
            },
            {
                question: "What is the total loss in options trading?",
                options: [
                    "The upfront cost of the options contract",
                    "The difference between the stock price and the strike price",
                    "The total gain from exercising the option",
                    "The total gain from not exercising the option"
                ],
                answer: "The upfront cost of the options contract"
            },
            {
                question: "What factors determine the upfront cost of an options contract?",
                options: [
                    "The current price of the underlying asset, the strike price, the time to expiration, and market volatility",
                    "The total gain from exercising the option",
                    "The total loss from not exercising the option",
                    "The difference between the stock price and the strike price"
                ],
                answer: "The current price of the underlying asset, the strike price, the time to expiration, and market volatility"
            },
            {
                question: "Why is it important to analyze the potential risks and rewards before entering into an options trade?",
                options: [
                    "To determine the upfront cost of the options contract",
                    "To calculate the total gain from exercising the option",
                    "To calculate the total loss from not exercising the option",
                    "To make informed decisions and minimize potential losses"
                ],
                answer: "To make informed decisions and minimize potential losses"
            },
            {
                question: "Which option strategy involves selling call options against existing stock holdings?",
                options: ["Covered calls", "Protective puts", "Vertical spreads", "Butterfly spreads"],
                answer: "Covered calls"
            },
            {
                question: "What is the key to managing risk in options trading?",
                options: ["Diversification", "Speculation", "Leverage", "Timing"],
                answer: "Diversification"
            },
            {
                question: "Which factor should be considered when evaluating potential option trades?",
                options: ["Time decay", "Inflation rate", "Interest rates", "Dividend yield"],
                answer: "Time decay"
            },
            {
                question: "When should Indian investors make adjustments to their option strategies?",
                options: ["When market conditions change", "When stock prices are high", "When there is high volatility", "When interest rates increase"],
                answer: "When market conditions change"
            },
            {
                question: "What should Indian investors do to understand the tax implications of options trading?",
                options: ["Consult with a tax professional", "Ignore the tax implications", "Report profits as regular income", "Offset losses against other losses"],
                answer: "Consult with a tax professional"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flash to gold
            const flash = document.querySelector('.bolt[data-target="dialog-boxpfadv6"]');
            if (flash) {
                flash.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxPfadv6 = document.getElementById('dialog-boxpfadv6');
            if (dialogBoxPfadv6) {
                dialogBoxPfadv6.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxPfadv6.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfadvlsn6Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfadvlsn6Completed = localStorage.getItem('pfadvlsn6Completed');
            if (pfadvlsn6Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Risk and reward in options trading</h1>
            <div id="sublesson1">
                <h2>Risk assessment in Indian options trading</h2>
                <p>
                    In this sub-lesson, we will discuss the concept of risk assessment in Indian options trading. Options trading involves a certain level of risk, and it is important for traders to understand and assess these risks before making any investment decisions.<br>
                    <br>
                    1. Market Risk:<br>
                    Market risk refers to the risk of price fluctuations in the underlying asset. In options trading, the value of an option is directly influenced by the price movement of the underlying asset. Traders need to assess the market risk by analyzing the historical price data, market trends, and other relevant factors.<br>
                    <br>
                    2. Volatility Risk:<br>
                    Volatility risk is the risk associated with the volatility of the underlying asset. Higher volatility increases the chances of large price swings, which can be both advantageous and disadvantageous for options traders. Traders need to assess the volatility risk by analyzing the historical volatility of the asset and considering any upcoming events or news that may impact volatility.<br>
                    <br>
                    3. Time Decay Risk:<br>
                    Time decay risk, also known as theta risk, is the risk associated with the passage of time. As options approach their expiration date, their value tends to decrease due to time decay. Traders need to assess the time decay risk by considering the time remaining until expiration and the impact of time decay on the option's value.<br>
                    <br>
                    4. Liquidity Risk:<br>
                    Liquidity risk refers to the risk of not being able to buy or sell options at desired prices due to low trading volume or lack of market participants. Traders need to assess the liquidity risk by analyzing the trading volume and open interest of the options they are interested in trading.<br>
                    <br>
                    5. Credit Risk:<br>
                    Credit risk is the risk associated with the counterparty defaulting on their obligations. In options trading, this risk arises when trading options with a broker or other financial institutions. Traders need to assess the credit risk by considering the creditworthiness and reputation of the counterparty.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Calculating option trading costs and returns in India</h2>
                <p>
                    In this sub-lesson, we will learn how to calculate the costs and returns associated with options trading in India. Options trading involves buying and selling options contracts, which give the holder the right to buy or sell an underlying asset at a predetermined price within a specified time period.<br>
                    <br>
                    1. Upfront Cost:<br>
                    The upfront cost of an options contract is the premium paid to purchase the contract. This premium is determined by various factors such as the current price of the underlying asset, the strike price, the time to expiration, and market volatility. It is important to consider the upfront cost when entering into an options trade, as it directly affects the overall profitability of the trade.<br>
                    <br>
                    2. Total Gain:<br>
                    The total gain from an options trade depends on the price of the underlying asset at the expiration of the contract. If the stock price in September is higher than the strike price, the option holder can exercise the option and make a profit. The total gain is calculated by subtracting the upfront cost from the difference between the stock price and the strike price.<br>
                    <br>
                    3. Total Loss:<br>
                    On the other hand, if the stock price in September is lower than the strike price, the option holder may choose not to exercise the option, resulting in a loss. The total loss is equal to the upfront cost of the options contract.<br>
                    <br>
                    Calculating the costs and returns of options trading requires a thorough understanding of the underlying asset, market conditions, and the factors that affect option prices. It is important to carefully analyze the potential risks and rewards before entering into any options trade.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Balancing option strategies for Indian investors</h2>
                <p>
                    In this sub-lesson, we will discuss how Indian investors can balance their option strategies to manage risk and maximize rewards. Options trading can be a powerful tool for investors to hedge their positions, generate income, and speculate on market movements. However, it is important to understand the risks involved and implement strategies that align with individual risk tolerance and investment goals.<br>
                    <br>
                    1. Understanding Option Strategies:<br>
                    - Indian investors can utilize various option strategies such as covered calls, protective puts, and spreads to balance risk and reward.<br>
                    - Covered calls involve selling call options against existing stock holdings to generate income and limit potential losses.<br>
                    - Protective puts involve buying put options to protect against potential downside risk in a stock position.<br>
                    - Spreads, such as vertical spreads and butterfly spreads, can be used to limit risk and potential losses while still allowing for potential gains.<br>
                    <br>
                    2. Risk Management:<br>
                    - Indian investors should carefully assess their risk tolerance and investment objectives before implementing option strategies.<br>
                    - It is important to understand the potential risks associated with each strategy and have a plan in place to manage and mitigate those risks.<br>
                    - Diversification is key to managing risk. Investors should consider spreading their option positions across different stocks or sectors to reduce exposure to any single stock or market event.<br>
                    <br>
                    3. Maximizing Rewards:<br>
                    - Indian investors can maximize their rewards in options trading by selecting strategies that align with their market outlook and investment goals.<br>
                    - It is important to conduct thorough research and analysis to identify potential opportunities and select the most appropriate strategy.<br>
                    - Investors should also consider factors such as time decay, implied volatility, and liquidity when evaluating potential option trades.<br>
                    <br>
                    4. Monitoring and Adjusting Strategies:<br>
                    - Indian investors should regularly monitor their option positions and make adjustments as needed.<br>
                    - Market conditions and individual stock performance can change, requiring adjustments to option strategies.<br>
                    - It is important to have a plan in place for exiting or adjusting positions based on predetermined criteria or market events.<br>
                    <br>
                    5. Tax Implications:<br>
                    - Indian investors should be aware of the tax implications of options trading.<br>
                    - Profits from options trading are subject to capital gains tax, and losses can be offset against other capital gains.<br>
                    - It is advisable to consult with a tax professional to understand the specific tax rules and regulations related to options trading in India.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Risk and reward in options trading</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Risk assessment in Indian options trading</a></li>
                <li><a href="#sublesson2">Calculating option trading costs and returns in India</a></li>
                <li><a href="#sublesson3">Balancing option strategies for Indian investors</a></li>
            </ul>
        </aside>
</body>

</html>
