<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futures and options trading</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "Which futures trading strategy involves taking a position opposite to an existing position in the cash market?",
                options: ["Hedging Strategy", "Speculative Strategy", "Spread Strategy", "Calendar Strategy"],
                answer: "Hedging Strategy"
            },
            {
                question: "Which futures trading strategy aims to profit from price movements in the Indian markets?",
                options: ["Hedging Strategy", "Speculative Strategy", "Spread Strategy", "Arbitrage Strategy"],
                answer: "Speculative Strategy"
            },
            {
                question: "Which futures trading strategy involves taking positions in two or more futures contracts on the same underlying asset but with different expiration dates?",
                options: ["Hedging Strategy", "Speculative Strategy", "Spread Strategy", "Calendar Strategy"],
                answer: "Spread Strategy"
            },
            {
                question: "Which futures trading strategy aims to profit from the price difference between the delivery months?",
                options: ["Hedging Strategy", "Speculative Strategy", "Spread Strategy", "Calendar Strategy"],
                answer: "Calendar Strategy"
            },
            {
                question: "Which futures trading strategy involves taking advantage of price discrepancies between different markets or exchanges?",
                options: ["Hedging Strategy", "Speculative Strategy", "Spread Strategy", "Arbitrage Strategy"],
                answer: "Arbitrage Strategy"
            },
            {
                question: "Which of the following is a hedging strategy using futures contracts?",
                options: ["Protective Put", "Covered Call", "Long Hedge", "Short Hedge"],
                answer: "Long Hedge"
            },
            {
                question: "What is the purpose of hedging with options contracts?",
                options: ["To generate income", "To protect against potential losses", "To speculate on price movements", "To increase leverage"],
                answer: "To protect against potential losses"
            },
            {
                question: "Which of the following is a hedging strategy using options contracts?",
                options: ["Protective Put", "Covered Call", "Long Hedge", "Short Hedge"],
                answer: "Protective Put"
            },
            {
                question: "What is the main objective of hedging?",
                options: ["To maximize profits", "To minimize losses", "To speculate on price movements", "To increase leverage"],
                answer: "To minimize losses"
            },
            {
                question: "Which of the following is a risk management strategy?",
                options: ["Buying stocks", "Selling options", "Short-selling", "Hedging"],
                answer: "Hedging"
            },
            {
                question: "What are margin requirements in Indian derivatives trading?",
                options: [
                    "The amount of money traders need to deposit with the exchange to trade derivatives.",
                    "The amount of money traders need to deposit with their brokers to trade derivatives.",
                    "The amount of money traders need to deposit with the government to trade derivatives.",
                    "The amount of money traders need to deposit with the central bank to trade derivatives."
                ],
                answer: "The amount of money traders need to deposit with the exchange to trade derivatives."
            },
            {
                question: "What is leverage in Indian derivatives trading?",
                options: [
                    "The ability to control a larger position in the market with a smaller amount of capital.",
                    "The ability to control a smaller position in the market with a larger amount of capital.",
                    "The ability to trade derivatives without any capital.",
                    "The ability to trade derivatives with unlimited capital."
                ],
                answer: "The ability to control a larger position in the market with a smaller amount of capital."
            },
            {
                question: "What is the purpose of margin requirements in Indian derivatives trading?",
                options: [
                    "To protect traders from potential losses.",
                    "To protect the exchange from potential losses.",
                    "To increase the profits of traders.",
                    "To increase the profits of the exchange."
                ],
                answer: "To protect the exchange from potential losses."
            },
            {
                question: "How does leverage affect the risk of trading derivatives?",
                options: [
                    "It decreases the risk of losses.",
                    "It increases the risk of losses.",
                    "It has no effect on the risk of losses.",
                    "It increases the risk of profits."
                ],
                answer: "It increases the risk of losses."
            },
            {
                question: "What should traders do to use leverage responsibly?",
                options: [
                    "Use as much leverage as possible to maximize profits.",
                    "Use leverage only when they are confident of making profits.",
                    "Use leverage without considering the risks involved.",
                    "Use leverage cautiously and understand the risks involved."
                ],
                answer: "Use leverage cautiously and understand the risks involved."
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flash to gold
            const flash = document.querySelector('.bolt[data-target="dialog-boxpfadv8"]');
            if (flash) {
                flash.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxPfadv8 = document.getElementById('dialog-boxpfadv8');
            if (dialogBoxPfadv8) {
                dialogBoxPfadv8.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxPfadv8.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfadvlsn8Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfadvlsn8Completed = localStorage.getItem('pfadvlsn8Completed');
            if (pfadvlsn8Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Futures and options trading</h1>
            <div id="sublesson1">
                <h2>Futures trading strategies for Indian markets</h2>
                <p>
                    In this sub-lesson, we will discuss futures trading strategies specifically for the Indian markets. Futures trading involves buying or selling contracts that obligate the buyer to purchase or sell an asset at a predetermined price and date in the future. These strategies can help traders manage risk and potentially profit from price movements in the Indian markets.<br>
                    <br>
                    1. Hedging Strategy:<br>
                    One common futures trading strategy is hedging. Hedging involves taking a position in the futures market that is opposite to an existing position in the cash market. This strategy is used to protect against potential losses in the cash market. For example, if an investor holds a portfolio of Indian stocks and is concerned about a potential market downturn, they can hedge their position by selling futures contracts on an Indian stock index. If the market does decline, the losses in the cash market will be offset by gains in the futures market.<br>
                    <br>
                    2. Speculative Strategy:<br>
                    Another strategy is speculation. Speculators aim to profit from price movements in the Indian markets by taking positions in futures contracts. They may buy contracts if they believe prices will rise or sell contracts if they expect prices to fall. Speculative trading can be risky, as it relies on accurately predicting market movements. Traders must carefully analyze market trends, news, and other factors that may impact prices.<br>
                    <br>
                    3. Spread Strategy:<br>
                    A spread strategy involves taking positions in two or more futures contracts on the same underlying asset but with different expiration dates. This strategy aims to profit from the price difference between the contracts. For example, a trader may buy a near-month futures contract and sell a far-month contract on the same asset. If the price difference between the contracts widens, the trader can profit from the spread.<br>
                    <br>
                    4. Calendar Strategy:<br>
                    A calendar strategy is similar to a spread strategy but involves taking positions in futures contracts with the same expiration date but different delivery months. This strategy aims to profit from the price difference between the delivery months. For example, a trader may buy a futures contract for delivery in January and sell a contract for delivery in February. If the price difference between the delivery months widens, the trader can profit from the calendar spread.<br>
                    <br>
                    5. Arbitrage Strategy:<br>
                    Arbitrage involves taking advantage of price discrepancies between different markets or exchanges. Traders can buy futures contracts on one exchange and sell them on another exchange where the price is higher. This strategy requires quick execution and careful monitoring of market prices.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Hedging techniques with futures and options in India</h2>
                <p>
                    In this lesson, we will explore the concept of hedging techniques using futures and options in the Indian market. Hedging is a risk management strategy used by investors to protect themselves against potential losses. It involves taking offsetting positions in derivatives contracts to minimize the impact of adverse price movements.<br>
                    <br>
                    1. Hedging with Futures:<br>
                    Futures contracts are agreements to buy or sell an underlying asset at a predetermined price on a future date. They can be used to hedge against price fluctuations in the underlying asset. Let's consider an example:<br>
                    <br>
                    Suppose a farmer expects the price of wheat to decrease in the future. To protect against potential losses, the farmer can sell wheat futures contracts. If the price of wheat does indeed decrease, the farmer will make a profit on the futures contracts, which will offset the losses on the physical wheat.<br>
                    <br>
                    2. Hedging with Options:<br>
                    Options contracts give the holder the right, but not the obligation, to buy or sell an underlying asset at a predetermined price within a specified period. They can be used to hedge against price movements in the underlying asset. Let's consider an example:<br>
                    <br>
                    Suppose a company is concerned about a potential increase in the price of crude oil. To protect against this risk, the company can buy call options on crude oil. If the price of crude oil does increase, the company can exercise the call options and buy crude oil at the predetermined price, thereby offsetting the higher market price.<br>
                    <br>
                    3. Hedging Strategies:<br>
                    There are various hedging strategies that can be employed using futures and options. Some common strategies include:<br>
                    <br>
                    - Long Hedge: Buying futures contracts to protect against a potential increase in the price of the underlying asset.<br>
                    - Short Hedge: Selling futures contracts to protect against a potential decrease in the price of the underlying asset.<br>
                    - Protective Put: Buying put options to protect against a potential decrease in the price of the underlying asset.<br>
                    - Covered Call: Selling call options while holding the underlying asset to generate income and protect against a potential increase in the price of the asset.<br>
                    <br>
                    By using these hedging techniques, investors can manage their risk exposure and protect their portfolios from adverse price movements.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Margin requirements and leverage in Indian derivatives trading</h2>
                <p>
                    In this sub-lesson, we will discuss margin requirements and leverage in Indian derivatives trading. Margin requirements refer to the amount of money or collateral that traders need to deposit with the exchange in order to trade derivatives. Leverage, on the other hand, refers to the ability to control a larger position in the market with a smaller amount of capital.<br>
                    <br>
                    Margin requirements in Indian derivatives trading are set by the exchange and vary depending on the type of derivative and the risk associated with it. The margin requirements are designed to protect both the trader and the exchange from potential losses. By requiring traders to deposit a certain amount of money or collateral, the exchange ensures that they have enough funds to cover any potential losses.<br>
                    <br>
                    Leverage in Indian derivatives trading allows traders to control a larger position in the market with a smaller amount of capital. This is possible because traders only need to deposit a fraction of the total value of the derivative contract as margin. For example, if the margin requirement for a derivative contract is 10%, a trader can control a position worth 10 times their initial capital.<br>
                    <br>
                    Leverage can amplify both profits and losses. While it allows traders to potentially earn higher returns, it also increases the risk of losses. It is important for traders to understand the risks associated with leverage and to use it responsibly.<br>
                    <br>
                    Now, let's move on to the multiple-choice questions.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Futures and options trading</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Futures trading strategies for Indian markets</a></li>
                <li><a href="#sublesson2">Hedging techniques with futures and options in India</a></li>
                <li><a href="#sublesson3">Margin requirements and leverage in Indian derivatives trading</a></li>
            </ul>
        </aside>
</body>

</html>
