<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exploring international investment markets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "Which of the following is a reason to invest internationally?",
                options: [
                    "a) Higher risk",
                    "b) Lower returns",
                    "c) Diversification",
                    "d) Limited growth potential"
                ],
                answer: "c) Diversification"
            },
            {
                question: "What are American Depository Receipts (ADRs)?",
                options: [
                    "a) Shares of Indian companies listed on U.S. exchanges",
                    "b) Shares of foreign companies listed on U.S. exchanges",
                    "c) Shares of U.S. companies listed on foreign exchanges",
                    "d) Shares of international mutual funds"
                ],
                answer: "b) Shares of foreign companies listed on U.S. exchanges"
            },
            {
                question: "What is one factor to consider when investing internationally?",
                options: [
                    "a) Political stability",
                    "b) Domestic market fluctuations",
                    "c) Currency risk",
                    "d) Regulatory considerations"
                ],
                answer: "c) Currency risk"
            },
            {
                question: "Which type of investment provides fixed income opportunities outside of India?",
                options: [
                    "a) Global mutual funds",
                    "b) Exchange-Traded Funds (ETFs)",
                    "c) American Depository Receipts (ADRs)",
                    "d) International bonds"
                ],
                answer: "d) International bonds"
            },
            {
                question: "What is the purpose of investing internationally?",
                options: [
                    "a) To limit growth potential",
                    "b) To increase risk",
                    "c) To diversify portfolios",
                    "d) To focus solely on domestic markets"
                ],
                answer: "c) To diversify portfolios"
            },
            {
                question: "Which of the following is a key consideration when investing in foreign stocks?",
                options: [
                    "a) Currency risk",
                    "b) Market liquidity",
                    "c) Political stability",
                    "d) All of the above"
                ],
                answer: "d) All of the above"
            },
            {
                question: "What does market liquidity refer to?",
                options: [
                    "a) Fluctuations in exchange rates",
                    "b) Ease of buying or selling stocks",
                    "c) Stability of the country's government",
                    "d) Regulatory environment"
                ],
                answer: "b) Ease of buying or selling stocks"
            },
            {
                question: "Why is it important to understand the regulatory environment of a foreign market?",
                options: [
                    "a) To assess the stability of the currency",
                    "b) To navigate cultural and language differences",
                    "c) To ensure smooth trading and lower transaction costs",
                    "d) To evaluate the political and economic stability"
                ],
                answer: "c) To ensure smooth trading and lower transaction costs"
            },
            {
                question: "What can impact the value of your investments in foreign stocks?",
                options: [
                    "a) Currency risk",
                    "b) Political stability",
                    "c) Market liquidity",
                    "d) Cultural differences"
                ],
                answer: "a) Currency risk"
            },
            {
                question: "How can cultural and language differences impact investment decisions?",
                options: [
                    "a) They can affect the stability of the currency",
                    "b) They can impact the ease of buying or selling stocks",
                    "c) They can influence the regulatory environment",
                    "d) They can create communication barriers and affect decision-making"
                ],
                answer: "d) They can create communication barriers and affect decision-making"
            },
            {
                question: "What is currency risk?",
                options: [
                    "a) The potential for the value of the foreign currency to fluctuate",
                    "b) The potential for the value of the domestic currency to fluctuate",
                    "c) The potential for the value of both domestic and foreign currencies to fluctuate",
                    "d) The potential for the value of the currency to remain constant"
                ],
                answer: "a) The potential for the value of the foreign currency to fluctuate"
            },
            {
                question: "Which strategy involves using financial instruments to protect against potential losses due to currency fluctuations?",
                options: [
                    "a) Hedging",
                    "b) Diversification",
                    "c) Currency ETFs",
                    "d) Currency Overlay"
                ],
                answer: "a) Hedging"
            },
            {
                question: "How can diversification help manage currency risk?",
                options: [
                    "a) By spreading investments across different currencies",
                    "b) By focusing investments on a single currency",
                    "c) By avoiding investments in foreign currencies",
                    "d) By investing only in domestic currencies"
                ],
                answer: "a) By spreading investments across different currencies"
            },
            {
                question: "What do currency ETFs provide exposure to?",
                options: [
                    "a) Foreign currencies",
                    "b) Domestic currencies",
                    "c) Both foreign and domestic currencies",
                    "d) None of the above"
                ],
                answer: "a) Foreign currencies"
            },
            {
                question: "What is the purpose of currency overlay?",
                options: [
                    "a) To actively manage currency exposures within a portfolio",
                    "b) To avoid currency risk altogether",
                    "c) To invest only in domestic currencies",
                    "d) To invest only in foreign currencies"
                ],
                answer: "a) To actively manage currency exposures within a portfolio"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flash to gold
            const flash = document.querySelector('.bolt[data-target="dialog-boxpfadv34"]');
            if (flash) {
                flash.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxpfadv34 = document.getElementById('dialog-boxpfadv34');
            if (dialogBoxpfadv34) {
                dialogBoxpfadv34.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxpfadv34.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfadvlsn34Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfadvlsn34Completed = localStorage.getItem('pfadvlsn34Completed');
            if (pfadvlsn34Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Exploring international investment markets</h1>
            <div id="sublesson1">
                <h2>Overview of global investment opportunities for Indian investors</h2>
                <p>
                    In this lesson, we will explore the various investment opportunities available to Indian investors in international markets. Investing in global markets can provide diversification and potential for higher returns. Let's dive into the key concepts:<br>
                    <br>
                    1. Why invest internationally?<br>
                    Investing internationally allows investors to diversify their portfolios and reduce risk. It provides exposure to different economies, industries, and currencies, which can help mitigate the impact of domestic market fluctuations. Additionally, some international markets may offer higher growth potential compared to the domestic market.<br>
                    <br>
                    2. Types of international investments:<br>
                    a. Global mutual funds: These funds invest in companies from around the world, providing broad exposure to international markets.<br>
                    b. Exchange-Traded Funds (ETFs): Similar to mutual funds, ETFs track specific international indices and offer easy access to international markets.<br>
                    c. American Depository Receipts (ADRs): ADRs are shares of foreign companies listed on U.S. exchanges, allowing investors to invest in international companies without directly trading on foreign exchanges.<br>
                    d. Foreign stocks: Investors can directly purchase stocks of foreign companies listed on international exchanges.<br>
                    e. International bonds: These are debt securities issued by foreign governments or corporations, providing fixed income opportunities outside of India.<br>
                    <br>
                    3. Factors to consider when investing internationally:<br>
                    a. Currency risk: Fluctuations in exchange rates can impact the returns of international investments. Investors should consider the potential impact of currency movements on their investments.<br>
                    b. Political and economic risks: Different countries may have varying levels of political stability and economic growth. Investors should assess these risks before investing in specific international markets.<br>
                    c. Regulatory considerations: Each country has its own regulations and tax implications for foreign investors. Investors should be aware of these factors before investing.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Considerations when investing in foreign stocks and markets</h2>
                <p>
                    In this sub-lesson, we will discuss the important considerations when investing in foreign stocks and markets. Investing in international markets can provide diversification and potential growth opportunities. However, it also comes with its own set of risks and challenges. Let's explore some key factors to consider when investing in foreign stocks and markets.<br>
                    <br>
                    1. Currency Risk: When investing in foreign stocks, you are exposed to currency risk. Fluctuations in exchange rates can impact the value of your investments. It is important to consider the stability of the currency and the potential impact on your returns.<br>
                    <br>
                    2. Political and Economic Stability: The political and economic stability of a country can greatly influence its stock market performance. It is crucial to assess the stability of the country's government, regulatory environment, and economic indicators before investing.<br>
                    <br>
                    3. Market Liquidity: The liquidity of a market refers to the ease with which you can buy or sell stocks. Investing in markets with low liquidity can make it difficult to execute trades and may result in higher transaction costs. It is advisable to invest in markets with sufficient liquidity to ensure smooth trading.<br>
                    <br>
                    4. Regulatory Environment: Each country has its own set of regulations governing the stock market. It is important to understand the regulatory framework and investor protection measures in place before investing. This will help you assess the level of transparency and accountability in the market.<br>
                    <br>
                    5. Cultural and Language Differences: Investing in foreign markets may involve dealing with different cultures and languages. It is important to be aware of cultural norms and communication barriers that may impact your investment decisions. Consider seeking professional advice or partnering with local experts to navigate these challenges.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Currency risk management for Indian international investors</h2>
                <p>
                    In this sub-lesson, we will explore the concept of currency risk management for Indian investors who are interested in investing in international markets. When investing in foreign countries, one of the key risks that investors face is currency risk. Currency risk refers to the potential for the value of the foreign currency to fluctuate, which can impact the returns on investments denominated in that currency.<br>
                    <br>
                    To manage currency risk, Indian international investors can consider the following strategies:<br>
                    <br>
                    1. Hedging: Hedging involves using financial instruments such as forward contracts, futures contracts, or options to protect against potential losses due to currency fluctuations. By entering into these contracts, investors can lock in a specific exchange rate for future transactions, reducing the impact of currency movements on their investments.<br>
                    <br>
                    2. Diversification: Diversifying investments across different currencies can help mitigate currency risk. By spreading investments across multiple currencies, investors can reduce their exposure to any single currency and its associated risks.<br>
                    <br>
                    3. Currency ETFs: Currency exchange-traded funds (ETFs) provide exposure to foreign currencies without the need for direct currency trading. These ETFs track the performance of specific currencies or currency baskets, allowing investors to gain exposure to different currencies and manage currency risk.<br>
                    <br>
                    4. Currency Overlay: Currency overlay involves actively managing currency exposures within a portfolio. This strategy aims to enhance returns and reduce risk by adjusting currency positions based on market conditions and expectations.<br>
                    <br>
                    5. Consultation with experts: Indian international investors can seek advice from financial professionals or currency specialists who have expertise in managing currency risk. These experts can provide insights and guidance on the best strategies to mitigate currency risk based on individual investment goals and risk tolerance.<br>
                    <br>
                    By implementing these currency risk management strategies, Indian international investors can better navigate the challenges posed by currency fluctuations and protect their investments in international markets.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Exploring international investment markets</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Overview of global investment opportunities for Indian investors</a></li>
                <li><a href="#sublesson2">Considerations when investing in foreign stocks and markets</a></li>
                <li><a href="#sublesson3">Currency risk management for Indian international investors</a></li>
            </ul>
        </aside>
</body>

</html>
