<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business financing and growth strategies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "Which of the following is NOT a common source of funding for business expansion in India?",
                options: [
                    "a) Bank Loans",
                    "b) Venture Capital",
                    "c) Angel Investors",
                    "d) Personal Savings"
                ],
                answer: "d) Personal Savings"
            },
            {
                question: "What is the main difference between venture capital and angel investors?",
                options: [
                    "a) Venture capital requires collateral, while angel investors do not.",
                    "b) Venture capital invests in high-growth potential businesses, while angel investors invest in established businesses.",
                    "c) Venture capital provides financial support only, while angel investors provide mentorship and industry connections.",
                    "d) Venture capital invests in exchange for equity, while angel investors invest in exchange for convertible debt."
                ],
                answer: "d) Venture capital invests in exchange for equity, while angel investors invest in exchange for convertible debt."
            },
            {
                question: "Which of the following is a potential advantage of securing government grants and subsidies?",
                options: [
                    "a) No repayment required",
                    "b) Access to mentorship and industry connections",
                    "c) Lower interest rates compared to bank loans",
                    "d) Quick and easy approval process"
                ],
                answer: "a) No repayment required"
            },
            {
                question: "What is crowdfunding?",
                options: [
                    "a) Securing funding from banks for business expansion",
                    "b) Securing funding from the government for business expansion",
                    "c) Raising small amounts of money from a large number of individuals through online platforms",
                    "d) Selling equity in the company to individual investors"
                ],
                answer: "c) Raising small amounts of money from a large number of individuals through online platforms"
            },
            {
                question: "Which type of funding is suitable for businesses with innovative ideas and strong growth prospects?",
                options: [
                    "a) Bank Loans",
                    "b) Venture Capital",
                    "c) Angel Investors",
                    "d) Crowdfunding"
                ],
                answer: "b) Venture Capital"
            },
            {
                question: "What is a merger?",
                options: [
                    "a) The purchase of one company by another",
                    "b) The combination of two or more companies to form a new company",
                    "c) A legal agreement between two or more individuals or entities to jointly operate a business",
                    "d) None of the above"
                ],
                answer: "b) The combination of two or more companies to form a new company"
            },
            {
                question: "Which type of merger involves companies in the same industry?",
                options: [
                    "a) Horizontal merger",
                    "b) Vertical merger",
                    "c) Conglomerate merger",
                    "d) None of the above"
                ],
                answer: "a) Horizontal merger"
            },
            {
                question: "What is an acquisition?",
                options: [
                    "a) The purchase of one company by another",
                    "b) The combination of two or more companies to form a new company",
                    "c) A legal agreement between two or more individuals or entities to jointly operate a business",
                    "d) None of the above"
                ],
                answer: "a) The purchase of one company by another"
            },
            {
                question: "Which type of partnership is governed by the Indian Partnership Act, 1932?",
                options: [
                    "a) Limited partnership",
                    "b) General partnership",
                    "c) Limited liability partnership",
                    "d) None of the above"
                ],
                answer: "b) General partnership"
            },
            {
                question: "What is the main advantage of forming a partnership?",
                options: [
                    "a) Access to additional capital and resources",
                    "b) Elimination of competition",
                    "c) Control over acquired company's assets and operations",
                    "d) None of the above"
                ],
                answer: "a) Access to additional capital and resources"
            },
            {
                question: "What is the first step to consider before expanding into a new market?",
                options: [
                    "a) Analyzing the competition",
                    "b) Conducting market research",
                    "c) Identifying potential customers",
                    "d) Customizing products or services"
                ],
                answer: "b) Conducting market research"
            },
            {
                question: "Why is localization important when expanding a business in India?",
                options: [
                    "a) To adapt to the local market preferences",
                    "b) To reduce competition",
                    "c) To increase pricing strategies",
                    "d) To partner with local businesses"
                ],
                answer: "a) To adapt to the local market preferences"
            },
            {
                question: "What is a distribution channel?",
                options: [
                    "a) A marketing strategy",
                    "b) A way to reach target customers",
                    "c) A partnership with local businesses",
                    "d) A pricing strategy"
                ],
                answer: "b) A way to reach target customers"
            },
            {
                question: "How can strategic partnerships benefit business expansion in India?",
                options: [
                    "a) By providing financial support",
                    "b) By leveraging local expertise and networks",
                    "c) By reducing competition",
                    "d) By increasing pricing strategies"
                ],
                answer: "b) By leveraging local expertise and networks"
            },
            {
                question: "Why is incorporating sustainable practices important for business growth?",
                options: [
                    "a) To attract environmentally conscious consumers",
                    "b) To reduce costs",
                    "c) To increase competition",
                    "d) To expand into new markets"
                ],
                answer: "a) To attract environmentally conscious consumers"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flash to gold
            const flash = document.querySelector('.bolt[data-target="dialog-boxpfadv30"]');
            if (flash) {
                flash.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxpfadv30 = document.getElementById('dialog-boxpfadv30');
            if (dialogBoxpfadv30) {
                dialogBoxpfadv30.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxpfadv30.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfadvlsn30Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfadvlsn30Completed = localStorage.getItem('pfadvlsn30Completed');
            if (pfadvlsn30Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Business financing and growth strategies</h1>
            <div id="sublesson1">
                <h2>Securing additional funding for expansion in India</h2>
                <p>
                    In this sub-lesson, we will discuss the various strategies and options available for securing additional funding for business expansion in India. As a business owner, it is important to understand the different sources of funding and the considerations involved in choosing the right option for your business.<br>
                    <br>
                    1. Bank Loans:<br>
                    One of the most common sources of funding for business expansion is through bank loans. Banks offer different types of loans, such as term loans, working capital loans, and equipment loans. These loans usually require collateral and have specific repayment terms and interest rates.<br>
                    <br>
                    2. Venture Capital:<br>
                    Venture capital is another option for securing funding for business expansion. Venture capitalists invest in high-growth potential businesses in exchange for equity or ownership in the company. This type of funding is suitable for businesses with innovative ideas and strong growth prospects.<br>
                    <br>
                    3. Angel Investors:<br>
                    Angel investors are individuals who provide funding to startups and early-stage businesses. They typically invest their own money in exchange for equity or convertible debt. Angel investors often provide not only financial support but also mentorship and industry connections.<br>
                    <br>
                    4. Government Grants and Subsidies:<br>
                    The Indian government offers various grants and subsidies to promote entrepreneurship and business growth. These grants are usually targeted towards specific sectors or industries and have specific eligibility criteria. It is important to research and understand the available government programs and apply accordingly.<br>
                    <br>
                    5. Crowdfunding:<br>
                    Crowdfunding is a relatively new method of securing funding for business expansion. It involves raising small amounts of money from a large number of individuals through online platforms. Crowdfunding can be a viable option for businesses with a strong online presence and a compelling story.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Exploring mergers, acquisitions, and partnerships in India</h2>
                <p>
                    In this sub-lesson, we will explore the concepts of mergers, acquisitions, and partnerships in the context of business financing and growth strategies in India. These strategies can be used by businesses to expand their operations, gain market share, or enter new markets. <br>
                    <br>
                    1. Merger: A merger is a combination of two or more companies to form a new company. It involves the mutual agreement of the companies involved and can result in the creation of a larger, more competitive entity. Mergers can be horizontal (between companies in the same industry), vertical (between companies in different stages of the supply chain), or conglomerate (between companies in unrelated industries).<br>
                    <br>
                    2. Acquisition: An acquisition is the purchase of one company by another. The acquiring company takes control of the acquired company's assets, liabilities, and operations. Acquisitions can be friendly or hostile, depending on the willingness of the target company to be acquired. Acquisitions can help companies expand their market presence, gain access to new technologies or resources, or eliminate competition.<br>
                    <br>
                    3. Partnership: A partnership is a legal agreement between two or more individuals or entities to jointly operate a business. Partnerships can be formed for a specific project or on a long-term basis. In India, partnerships are governed by the Indian Partnership Act, 1932. Partnerships can provide access to additional capital, expertise, and resources, and can be a flexible and cost-effective way to grow a business.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Strategies for sustainable growth and market expansion in India</h2>
                <p>
                    In this sub-lesson, we will discuss strategies for sustainable growth and market expansion in India. As a business owner, it is important to have a plan in place to ensure the long-term success and growth of your business. Here are some key strategies to consider:<br>
                    <br>
                    1. Market Research: Before expanding into a new market, it is crucial to conduct thorough market research. This includes analyzing the demand for your product or service, understanding the competition, and identifying potential customers. By gathering this information, you can make informed decisions about market expansion.<br>
                    <br>
                    2. Localization: India is a diverse country with different languages, cultures, and preferences. To successfully expand your business in India, it is important to adapt your products or services to suit the local market. This may involve customizing your offerings, adjusting pricing strategies, or even partnering with local businesses.<br>
                    <br>
                    3. Distribution Channels: Choosing the right distribution channels is essential for reaching your target customers effectively. In India, there are various distribution channels to consider, such as e-commerce platforms, retail stores, and wholesalers. Understanding the preferences and habits of Indian consumers will help you determine the most suitable distribution channels for your business.<br>
                    <br>
                    4. Strategic Partnerships: Collaborating with local businesses or organizations can provide valuable support and resources for your business expansion. By forming strategic partnerships, you can leverage the expertise and networks of established players in the Indian market. This can help you navigate the local business landscape more effectively and accelerate your growth.<br>
                    <br>
                    5. Sustainable Practices: In today's world, sustainability is becoming increasingly important. Incorporating sustainable practices into your business operations can not only benefit the environment but also attract environmentally conscious consumers. Consider implementing eco-friendly initiatives, such as using renewable energy sources, reducing waste, or supporting social causes.<br>
                    <br>
                    Now that we have covered the key strategies for sustainable growth and market expansion in India, let's test your understanding with some multiple-choice questions.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Business financing and growth strategies</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Securing additional funding for expansion in India</a></li>
                <li><a href="#sublesson2">Exploring mergers, acquisitions, and partnerships in India</a></li>
                <li><a href="#sublesson3">Strategies for sustainable growth and market expansion in India</a></li>
            </ul>
        </aside>
</body>

</html>
