<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk management techniques</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [const riskAssessmentQuestions = [
            {
                question: "What is risk assessment?",
                options: [
                    "Evaluating potential risks associated with an investment",
                    "Identifying investment opportunities",
                    "Analyzing market trends",
                    "Calculating investment returns"
                ],
                answer: "Evaluating potential risks associated with an investment"
            },
            {
                question: "Which risk is associated with fluctuations in the overall market conditions?",
                options: [
                    "Inflation Risk",
                    "Currency Risk",
                    "Market Risk",
                    "Regulatory Risk"
                ],
                answer: "Market Risk"
            },
            {
                question: "How can investors mitigate risk through diversification?",
                options: [
                    "By investing in a single asset class",
                    "By investing in multiple asset classes",
                    "By investing only in international markets",
                    "By investing in high-risk assets"
                ],
                answer: "By investing in multiple asset classes"
            },
            {
                question: "What is the purpose of regular monitoring of investments?",
                options: [
                    "To maximize returns",
                    "To minimize risk",
                    "To identify potential risks or changes in market conditions",
                    "To avoid taxes on investment gains"
                ],
                answer: "To identify potential risks or changes in market conditions"
            },
            {
                question: "How can seeking professional advice help in risk management?",
                options: [
                    "It guarantees high returns on investments",
                    "It eliminates all investment risks",
                    "It provides valuable insights and guidance in managing risks",
                    "It ensures compliance with regulatory requirements"
                ],
                answer: "It provides valuable insights and guidance in managing risks"
            },
            {
                question: "What is risk assessment?",
                options: [
                    "Evaluating potential risks associated with an investment",
                    "Identifying investment opportunities",
                    "Analyzing market trends",
                    "Calculating investment returns"
                ],
                answer: "Evaluating potential risks associated with an investment"
            },
            {
                question: "Which risk is associated with fluctuations in the overall market conditions?",
                options: [
                    "Inflation Risk",
                    "Currency Risk",
                    "Market Risk",
                    "Regulatory Risk"
                ],
                answer: "Market Risk"
            },
            {
                question: "How can investors mitigate risk through diversification?",
                options: [
                    "By investing in a single asset class",
                    "By investing in multiple asset classes",
                    "By investing only in international markets",
                    "By investing in high-risk assets"
                ],
                answer: "By investing in multiple asset classes"
            },
            {
                question: "What is the purpose of regular monitoring of investments?",
                options: [
                    "To maximize returns",
                    "To minimize risk",
                    "To identify potential risks or changes in market conditions",
                    "To avoid taxes on investment gains"
                ],
                answer: "To identify potential risks or changes in market conditions"
            },
            {
                question: "How can seeking professional advice help in risk management?",
                options: [
                    "It guarantees high returns on investments",
                    "It eliminates all investment risks",
                    "It provides valuable insights and guidance in managing risks",
                    "It ensures compliance with regulatory requirements"
                ],
                answer: "It provides valuable insights and guidance in managing risks"
            },
            {
                question: "What is the first step in building a risk management plan tailored for India?",
                options: [
                    "Assessing risk tolerance",
                    "Understanding the Indian market",
                    "Implementing hedging strategies",
                    "Monitoring and review"
                ],
                answer: "Understanding the Indian market"
            },
            {
                question: "Which risk management strategy helps reduce the impact of market volatility in the Indian market?",
                options: [
                    "Diversification",
                    "Hedging",
                    "Asset allocation",
                    "Risk tolerance assessment"
                ],
                answer: "Diversification"
            },
            {
                question: "What is the purpose of hedging strategies in the Indian market?",
                options: [
                    "To maximize returns",
                    "To minimize risk",
                    "To predict market trends",
                    "To achieve diversification"
                ],
                answer: "To minimize risk"
            },
            {
                question: "Why is regular monitoring and review important in a risk management plan?",
                options: [
                    "To assess risk tolerance",
                    "To implement hedging strategies",
                    "To stay updated with market trends",
                    "To achieve diversification"
                ],
                answer: "To stay updated with market trends"
            },
            {
                question: "Which financial instruments can be used for hedging in the Indian market?",
                options: [
                    "Stocks and bonds",
                    "Mutual funds and ETFs",
                    "Futures and options",
                    "Real estate and gold"
                ],
                answer: "Futures and options"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flash to gold
            const flash = document.querySelector('.bolt[data-target="dialog-boxpfadv3"]');
            if (flash) {
                flash.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxPfadv3 = document.getElementById('dialog-boxpfadv3');
            if (dialogBoxPfadv3) {
                dialogBoxPfadv3.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxPfadv3.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfadvlsn3Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfadvlsn3Completed = localStorage.getItem('pfadvlsn3Completed');
            if (pfadvlsn3Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Risk management techniques</h1>
            <div id="sublesson1">
                <h2>Risk assessment and mitigation for Indian investors</h2>
                <p>
                    In this sub-lesson, we will discuss risk assessment and mitigation techniques specifically for Indian investors. Risk management is an important aspect of personal finance, as it helps investors protect their investments and achieve their financial goals. Let's dive into the concepts of risk assessment and mitigation.<br>
                    <br>
                    1. Risk Assessment:<br>
                    Risk assessment involves identifying and evaluating the potential risks associated with an investment. For Indian investors, some common risks to consider are:<br>
                    <br>
                    a) Market Risk: This refers to the risk of losses due to fluctuations in the overall market conditions. Factors such as economic conditions, political stability, and global events can impact the Indian market.<br>
                    <br>
                    b) Inflation Risk: Inflation erodes the purchasing power of money over time. Indian investors need to consider the impact of inflation on their investments and ensure that their returns outpace inflation.<br>
                    <br>
                    c) Currency Risk: If an investor holds investments denominated in foreign currencies, fluctuations in exchange rates can impact the returns. Indian investors should be aware of currency risk when investing internationally.<br>
                    <br>
                    d) Regulatory Risk: Changes in government policies and regulations can affect the investment landscape in India. Investors should stay updated on any regulatory changes that may impact their investments.<br>
                    <br>
                    2. Risk Mitigation:<br>
                    Once the risks are identified, investors can implement strategies to mitigate these risks. Here are some risk mitigation techniques for Indian investors:<br>
                    <br>
                    a) Diversification: Diversifying investments across different asset classes, sectors, and geographies can help reduce the impact of market-specific risks. By spreading investments, investors can minimize the impact of any single investment's poor performance.<br>
                    <br>
                    b) Asset Allocation: Allocating investments based on risk tolerance and financial goals can help manage risk. Indian investors should consider a mix of equities, bonds, and other asset classes to balance risk and return.<br>
                    <br>
                    c) Regular Monitoring: Regularly reviewing and monitoring investments is crucial to identify any potential risks or changes in market conditions. This allows investors to make informed decisions and take necessary actions to mitigate risks.<br>
                    <br>
                    d) Risk-Adjusted Returns: Evaluating investments based on risk-adjusted returns helps investors assess the potential return relative to the risk taken. Indian investors should consider investments that offer a favorable risk-return tradeoff.<br>
                    <br>
                    e) Professional Advice: Seeking advice from financial professionals can provide valuable insights and guidance in managing risks. Financial advisors can help investors navigate through market uncertainties and make informed investment decisions.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Hedging strategies in the Indian market</h2>
                <p>
                    In this sub-lesson, we will explore hedging strategies in the Indian market. Hedging is a risk management technique used by investors to protect their investments from potential losses. It involves taking an offsetting position in a related security to minimize the impact of adverse price movements.<br>
                    <br>
                    1. Hedging with futures contracts: One common hedging strategy in the Indian market is using futures contracts. A futures contract is an agreement to buy or sell an asset at a predetermined price on a future date. By taking a position in a futures contract that is opposite to the position in the underlying asset, investors can protect themselves against potential losses.<br>
                    <br>
                    2. Hedging with options contracts: Another hedging strategy is using options contracts. An options contract gives the holder the right, but not the obligation, to buy or sell an asset at a predetermined price within a specified period. By buying put options, investors can protect against a decline in the price of the underlying asset. On the other hand, buying call options can protect against a rise in the price of the underlying asset.<br>
                    <br>
                    3. Hedging with currency derivatives: In the Indian market, currency derivatives can be used for hedging against foreign exchange risk. Currency futures and options contracts can help investors protect themselves against adverse movements in exchange rates. By taking positions in these derivatives, investors can offset potential losses caused by currency fluctuations.<br>
                    <br>
                    4. Hedging with diversification: Diversification is another effective hedging strategy. By spreading investments across different asset classes, sectors, and geographical regions, investors can reduce the impact of any single investment's performance on their overall portfolio. This helps to mitigate risk and protect against losses.<br>
                    <br>
                    5. Hedging with stop-loss orders: Stop-loss orders are a simple yet effective hedging technique. By setting a predetermined price at which to sell a security, investors can limit their potential losses. If the price of the security falls to the stop-loss level, the order is triggered, and the security is automatically sold.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Building a risk management plan tailored for India</h2>
                <p>
                    In this sub-lesson, we will focus on building a risk management plan specifically for the Indian market. Risk management is an essential aspect of personal finance as it helps individuals protect their investments and minimize potential losses. Let's dive into the key concepts and strategies for building a risk management plan tailored for India.<br>
                    <br>
                    1. Understand the Indian market:<br>
                    Before building a risk management plan, it is crucial to have a deep understanding of the Indian market. This includes studying market trends, economic indicators, and regulatory frameworks. By analyzing the market conditions, you can identify potential risks and develop appropriate strategies to mitigate them.<br>
                    <br>
                    2. Identify and assess risks:<br>
                    The next step is to identify the specific risks that are prevalent in the Indian market. These risks can include market volatility, currency fluctuations, political instability, and regulatory changes. Once identified, assess the potential impact of these risks on your investments and financial goals.<br>
                    <br>
                    3. Diversification:<br>
                    Diversification is a key risk management strategy that involves spreading your investments across different asset classes and sectors. In the Indian market, diversification can help reduce the impact of market volatility and sector-specific risks. Consider investing in a mix of stocks, bonds, mutual funds, and other financial instruments to achieve diversification.<br>
                    <br>
                    4. Risk tolerance and asset allocation:<br>
                    Understanding your risk tolerance is crucial in building a risk management plan. Assess your ability to tolerate market fluctuations and determine an appropriate asset allocation strategy. This involves allocating your investments across different asset classes based on your risk tolerance, financial goals, and time horizon.<br>
                    <br>
                    5. Hedging strategies:<br>
                    Hedging is a risk management technique that involves using financial instruments to offset potential losses. In the Indian market, hedging strategies can include investing in derivatives like futures and options, currency hedging, and using stop-loss orders. These strategies can help protect your investments during market downturns.<br>
                    <br>
                    6. Regular monitoring and review:<br>
                    Building a risk management plan is not a one-time activity. It requires regular monitoring and review to ensure its effectiveness. Stay updated with market trends, economic news, and regulatory changes in India. Periodically assess your risk management strategies and make necessary adjustments based on the evolving market conditions.<br>
                    <br>
                    Now that we have covered the key concepts of building a risk management plan tailored for India, let's test your understanding with some multiple-choice questions.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Risk management techniques</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Risk assessment and mitigation for Indian investors</a></li>
                <li><a href="#sublesson2">Hedging strategies in the Indian market</a></li>
                <li><a href="#sublesson3">Building a risk management plan tailored for India</a></li>
            </ul>
        </aside>
</body>

</html>
