<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market timing strategies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What is market timing?",
                options: [
                    "Buying and selling stocks based on predictions of future market movements",
                    "Analyzing financial health and performance of companies",
                    "Monitoring market sentiment",
                    "Using technical analysis tools"
                ],
                answer: "Buying and selling stocks based on predictions of future market movements"
            },
            {
                question: "What is technical analysis?",
                options: [
                    "Analyzing financial health and performance of companies",
                    "Monitoring market sentiment",
                    "Studying historical price and volume data",
                    "Using market indicators"
                ],
                answer: "Studying historical price and volume data"
            },
            {
                question: "What is fundamental analysis?",
                options: [
                    "Buying and selling stocks based on predictions of future market movements",
                    "Analyzing financial health and performance of companies",
                    "Monitoring market sentiment",
                    "Using technical analysis tools"
                ],
                answer: "Analyzing financial health and performance of companies"
            },
            {
                question: "What are market indicators?",
                options: [
                    "Buying and selling stocks based on predictions of future market movements",
                    "Analyzing financial health and performance of companies",
                    "Monitoring market sentiment",
                    "Using technical analysis tools"
                ],
                answer: "Using technical analysis tools"
            },
            {
                question: "Why is risk management important in market timing?",
                options: [
                    "To protect investments from market volatility",
                    "To analyze market sentiment",
                    "To study historical price and volume data",
                    "To determine the intrinsic value of stocks"
                ],
                answer: "To protect investments from market volatility"
            },
            {
                question: "What is diversification?",
                options: [
                    "Investing in a single asset class",
                    "Spreading investments across different asset classes",
                    "Concentrating investments in a specific sector",
                    "Investing only in Indian stocks"
                ],
                answer: "Spreading investments across different asset classes"
            },
            {
                question: "What is asset allocation?",
                options: [
                    "Spreading investments across different geographical regions",
                    "Determining the right mix of investments based on risk tolerance and goals",
                    "Investing in a single asset class",
                    "Concentrating investments in a specific sector"
                ],
                answer: "Determining the right mix of investments based on risk tolerance and goals"
            },
            {
                question: "What is a stop-loss order?",
                options: [
                    "A tool to limit potential losses by selling a security at a predetermined price",
                    "A strategy to maximize potential gains by buying low and selling high",
                    "A technique to time the market and predict future price movements",
                    "A method to diversify investments across different asset classes"
                ],
                answer: "A tool to limit potential losses by selling a security at a predetermined price"
            },
            {
                question: "What is hedging?",
                options: [
                    "Spreading investments across different asset classes",
                    "Buying put options to protect against market downturns",
                    "Investing in a single asset class",
                    "Concentrating investments in a specific sector"
                ],
                answer: "Buying put options to protect against market downturns"
            },
            {
                question: "Why is regular portfolio review important for risk management?",
                options: [
                    "To maximize potential gains",
                    "To minimize potential losses",
                    "To identify potential risks and take appropriate actions",
                    "To time the market and predict future price movements"
                ],
                answer: "To identify potential risks and take appropriate actions"
            },
            {
                question: "What is market timing?",
                options: [
                    "Buying and selling stocks based on predictions of future price movements",
                    "Investing in stocks for the long term",
                    "Analyzing market trends to identify potential investment opportunities",
                    "None of the above"
                ],
                answer: "Buying and selling stocks based on predictions of future price movements"
            },
            {
                question: "Why is it important to understand the Indian market before developing a market timing strategy for India?",
                options: [
                    "To analyze market trends",
                    "To identify key indicators",
                    "To develop a trading plan",
                    "All of the above"
                ],
                answer: "All of the above"
            },
            {
                question: "What are some key indicators that can help predict market movements in India?",
                options: [
                    "GDP growth",
                    "Inflation rates",
                    "Trading volumes",
                    "All of the above"
                ],
                answer: "All of the above"
            },
            {
                question: "What is the next step after developing a market timing strategy for India?",
                options: [
                    "Test and refine the strategy",
                    "Analyze market trends",
                    "Identify key indicators",
                    "None of the above"
                ],
                answer: "Test and refine the strategy"
            },
            {
                question: "Why is it important to test a market timing strategy using historical data?",
                options: [
                    "To evaluate the performance of the strategy",
                    "To make necessary adjustments or refinements",
                    "To identify potential investment opportunities",
                    "All of the above"
                ],
                answer: "All of the above"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flash to gold
            const flash = document.querySelector('.bolt[data-target="dialog-boxpfadv2"]');
            if (flash) {
                flash.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxPfadv2 = document.getElementById('dialog-boxpfadv2');
            if (dialogBoxPfadv2) {
                dialogBoxPfadv2.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxPfadv2.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfadvlsn2Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfadvlsn2Completed = localStorage.getItem('pfadvlsn2Completed');
            if (pfadvlsn2Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Market timing strategies</h1>
            <div id="sublesson1">
                <h2>Market timing techniques and indicators in India</h2>
                <p>
                    In this sub-lesson, we will explore the concept of market timing and its relevance in the Indian market. Market timing refers to the strategy of buying and selling stocks or other financial instruments based on predictions of future market movements. It involves analyzing various indicators and factors to determine the best time to enter or exit the market.<br>
                    <br>
                    1. Technical Analysis:<br>
                    One of the key techniques used in market timing is technical analysis. This involves studying historical price and volume data to identify patterns and trends in the market. Technical analysts use various tools and indicators such as moving averages, trend lines, and oscillators to make predictions about future price movements.<br>
                    <br>
                    2. Fundamental Analysis:<br>
                    Another important aspect of market timing is fundamental analysis. This involves analyzing the financial health and performance of companies to determine their intrinsic value. Fundamental analysts study factors such as earnings, revenue, and market share to assess the potential of a stock or market.<br>
                    <br>
                    3. Sentiment Analysis:<br>
                    Market sentiment plays a crucial role in market timing. It refers to the overall attitude and emotions of investors towards the market. Sentiment analysis involves monitoring indicators such as investor surveys, news sentiment, and social media sentiment to gauge the market's mood. Positive sentiment may indicate a bullish market, while negative sentiment may suggest a bearish market.<br>
                    <br>
                    4. Market Indicators:<br>
                    There are several market indicators that can help in market timing. Some commonly used indicators in India include the Nifty 50 Index, the BSE Sensex, and the NSE Bank Nifty Index. These indices represent the overall performance of the Indian stock market and can provide insights into market trends and movements.<br>
                    <br>
                    5. Risk Management:<br>
                    Market timing involves a certain level of risk, as it relies on predictions and forecasts. It is important to have a risk management strategy in place to protect your investments. This may include setting stop-loss orders, diversifying your portfolio, and having a long-term investment plan.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Risk management strategies for Indian investors</h2>
                <p>
                    In this sub-lesson, we will discuss risk management strategies specifically tailored for Indian investors. Risk management is a crucial aspect of investing as it helps investors protect their capital and minimize potential losses. Let's explore some key concepts and strategies:<br>
                    <br>
                    1. Diversification: Diversification is the practice of spreading investments across different asset classes, sectors, and geographical regions. By diversifying your portfolio, you can reduce the impact of any single investment on your overall portfolio performance. For Indian investors, diversification can involve investing in a mix of stocks, bonds, mutual funds, and other financial instruments.<br>
                    <br>
                    2. Asset Allocation: Asset allocation refers to the distribution of investments across different asset classes, such as equities, fixed income, and cash. It is important to determine the right asset allocation based on your risk tolerance, investment goals, and market conditions. Indian investors should consider factors such as the current economic climate, interest rates, and inflation when deciding on their asset allocation.<br>
                    <br>
                    3. Stop-loss Orders: A stop-loss order is a risk management tool that allows investors to set a predetermined price at which they will sell a security to limit potential losses. For Indian investors, using stop-loss orders can help protect their investments from significant market downturns. It is important to set the stop-loss level based on individual risk tolerance and the volatility of the Indian market.<br>
                    <br>
                    4. Hedging: Hedging involves taking positions in financial instruments that offset potential losses in other investments. Indian investors can use hedging strategies such as buying put options or short-selling to protect their portfolios against market downturns. However, it is important to note that hedging strategies can be complex and may require a good understanding of derivative instruments.<br>
                    <br>
                    5. Regular Portfolio Review: Regularly reviewing your portfolio is essential for effective risk management. Indian investors should monitor their investments, assess their performance, and make necessary adjustments based on changing market conditions. This can help identify potential risks and take appropriate actions to mitigate them.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Developing a market timing strategy specific to India</h2>
                <p>
                    <br>In this sub-lesson, we will focus on developing a market timing strategy specifically for the Indian market. Market timing refers to the practice of buying and selling stocks or other financial instruments based on predictions of future price movements. It involves analyzing market trends and using various indicators to determine the best time to enter or exit the market.

                    1. Understand the Indian market:
                    Before developing a market timing strategy for India, it is important to have a good understanding of the Indian market. This includes studying the Indian economy, the performance of different sectors, and the behavior of Indian investors.
                    
                    2. Analyze market trends:
                    To develop a market timing strategy, we need to analyze market trends in India. This involves studying historical price data, identifying patterns, and using technical analysis tools such as moving averages, trend lines, and chart patterns.
                    
                    3. Identify key indicators:
                    Next, we need to identify key indicators that can help us predict market movements in India. These indicators can include economic indicators like GDP growth, inflation rates, and interest rates, as well as market-specific indicators like trading volumes, market breadth, and investor sentiment.
                    
                    4. Develop a trading plan:
                    Based on our analysis of market trends and key indicators, we can develop a trading plan for the Indian market. This plan should outline the specific conditions under which we will enter or exit the market, as well as the criteria for selecting stocks or other financial instruments.
                    
                    5. Test and refine the strategy:
                    Once we have developed a market timing strategy for India, it is important to test it using historical data. This will help us evaluate the performance of the strategy and make any necessary adjustments or refinements.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Market timing strategies</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Market timing techniques and indicators in India</a></li>
                <li><a href="#sublesson2">Risk management strategies for Indian investors</a></li>
                <li><a href="#sublesson3">Developing a market timing strategy specific to India</a></li>
            </ul>
        </aside>
</body>

</html>
