<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgeting and cost control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What is the first step in budget creation?",
                options: [
                    "a) Allocating resources",
                    "b) Gathering financial information",
                    "c) Involving key stakeholders",
                    "d) Monitoring actual performance"
                ],
                answer: "b) Gathering financial information"
            },
            {
                question: "Which factor is specific to the Indian market when creating a budget?",
                options: [
                    "a) Market trends",
                    "b) Historical data",
                    "c) Tax regulations",
                    "d) Business goals"
                ],
                answer: "c) Tax regulations"
            },
            {
                question: "What is the purpose of budget monitoring?",
                options: [
                    "a) Tracking actual performance",
                    "b) Creating financial reports",
                    "c) Setting business objectives",
                    "d) Allocating resources"
                ],
                answer: "a) Tracking actual performance"
            },
            {
                question: "What is cost control?",
                options: [
                    "a) Reducing costs without compromising quality",
                    "b) Increasing revenue",
                    "c) Monitoring budget performance",
                    "d) Implementing energy-saving measures"
                ],
                answer: "a) Reducing costs without compromising quality"
            },
            {
                question: "Which cost control technique involves negotiating better deals with suppliers?",
                options: [
                    "a) Optimizing inventory levels",
                    "b) Implementing energy-saving measures",
                    "c) Reducing labor costs",
                    "d) Negotiating better deals"
                ],
                answer: "d) Negotiating better deals"
            },
            {
                question: "What is one cost reduction tactic mentioned in the sub-lesson?",
                options: [
                    "a) Hiring a cost control specialist",
                    "b) Outsourcing payroll",
                    "c) Requesting competitive bids on supplies",
                    "d) All of the above"
                ],
                answer: "d) All of the above"
            },
            {
                question: "What is the benefit of making prompt payments of purchases on credit?",
                options: [
                    "a) It reduces the risk of fraud",
                    "b) It improves cash flow",
                    "c) It allows for early payment discounts",
                    "d) It increases profitability"
                ],
                answer: "c) It allows for early payment discounts"
            },
            {
                question: "What is one business function that can be outsourced to reduce costs?",
                options: [
                    "a) Marketing",
                    "b) Sales",
                    "c) Payroll",
                    "d) Manufacturing"
                ],
                answer: "c) Payroll"
            },
            {
                question: "What is the purpose of requesting competitive bids on supplies?",
                options: [
                    "a) To reduce the risk of fraud",
                    "b) To ensure timely delivery",
                    "c) To get the best prices",
                    "d) To improve customer satisfaction"
                ],
                answer: "c) To get the best prices"
            },
            {
                question: "Why is cost reduction important for businesses?",
                options: [
                    "a) To increase profitability",
                    "b) To improve employee morale",
                    "c) To attract investors",
                    "d) All of the above"
                ],
                answer: "d) All of the above"
            },
            {
                question: "What is variance analysis?",
                options: [
                    "a) Comparing actual results with the budgeted amounts",
                    "b) Analyzing market conditions",
                    "c) Identifying cost overruns",
                    "d) Implementing cost control measures"
                ],
                answer: "a) Comparing actual results with the budgeted amounts"
            },
            {
                question: "What is an unfavorable variance?",
                options: [
                    "a) When actual results are better than the budgeted amounts",
                    "b) When actual results are worse than the budgeted amounts",
                    "c) When market conditions change",
                    "d) When cost overruns occur"
                ],
                answer: "b) When actual results are worse than the budgeted amounts"
            },
            {
                question: "What are some causes of variances in a business budget?",
                options: [
                    "a) Changes in market conditions",
                    "b) Inefficient operations",
                    "c) External factors",
                    "d) All of the above"
                ],
                answer: "d) All of the above"
            },
            {
                question: "What are some corrective actions for addressing variances?",
                options: [
                    "a) Cost control measures",
                    "b) Revenue enhancement strategies",
                    "c) Process improvements",
                    "d) All of the above"
                ],
                answer: "d) All of the above"
            },
            {
                question: "What is the purpose of budget revisions?",
                options: [
                    "a) Adjusting the budget based on identified variances",
                    "b) Analyzing market conditions",
                    "c) Identifying cost overruns",
                    "d) Implementing cost control measures"
                ],
                answer: "a) Adjusting the budget based on identified variances"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flash to gold
            const flash = document.querySelector('.bolt[data-target="dialog-boxpfadv29"]');
            if (flash) {
                flash.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxpfadv29 = document.getElementById('dialog-boxpfadv29');
            if (dialogBoxpfadv29) {
                dialogBoxpfadv29.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxpfadv29.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfadvlsn29Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfadvlsn29Completed = localStorage.getItem('pfadvlsn29Completed');
            if (pfadvlsn29Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Budgeting and cost control</h1>
            <div id="sublesson1">
                <h2>Budget creation and monitoring in Indian businesses</h2>
                <p>
                    In this sub-lesson, we will discuss the process of budget creation and monitoring in Indian businesses. Budgeting is an essential tool for businesses to plan and control their finances effectively. It involves estimating and allocating resources to different activities and monitoring the actual performance against the budgeted targets.<br>
                    <br>
                    1. Budget Creation:<br>
                    - The first step in budget creation is to gather relevant financial information, such as historical data, market trends, and business goals.<br>
                    - Indian businesses need to consider various factors specific to the Indian market, such as inflation rates, tax regulations, and government policies.<br>
                    - The budget should include both revenue and expense projections for different departments or functions within the business.<br>
                    - It is important to involve key stakeholders, such as department heads and finance managers, in the budget creation process to ensure accuracy and alignment with business objectives.<br>
                    <br>
                    2. Budget Monitoring:<br>
                    - Once the budget is created, it needs to be monitored regularly to track actual performance against the budgeted targets.<br>
                    - Indian businesses should consider using financial software or tools to automate the monitoring process and generate real-time reports.<br>
                    - Monitoring involves comparing actual revenue and expenses with the budgeted amounts, identifying any variances, and taking corrective actions if necessary.<br>
                    - Regular review meetings should be conducted to discuss the budget performance and make adjustments if required.<br>
                    <br>
                    3. Cost Control:<br>
                    - Cost control is an important aspect of budgeting in Indian businesses.<br>
                    - It involves identifying cost drivers, analyzing cost structures, and implementing measures to reduce costs without compromising the quality of products or services.<br>
                    - Indian businesses can consider various cost control techniques, such as negotiating better deals with suppliers, optimizing inventory levels, and implementing energy-saving measures.<br>
                    - Regular cost analysis should be conducted to identify areas of potential cost savings and implement cost reduction strategies.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Cost reduction and efficiency measures in Indian companies</h2>
                <p>
                    In this sub-lesson, we will explore cost reduction and efficiency measures in Indian companies. Cost reduction is an important aspect of running a business as it helps improve profitability and competitiveness. By implementing efficient cost control measures, companies can optimize their expenses and maximize their resources.<br>
                    <br>
                    1. Cost Reduction Tactics:<br>
                    - Have your accountant alert you to any expense that increases more than a certain threshold amount or by a certain percent.<br>
                    - Consider outsourcing some of your business functions, such as payroll, security, taking inventory, and maintenance.<br>
                    - Put out requests for competitive bids on supplies you regularly purchase.<br>
                    - Make prompt payments of purchases on credit to take advantage of early payment discounts.<br>
                    - Keep all your personal and family costs out of the business.<br>
                    - Set priorities on cost control, putting the fastest rising costs at the top.<br>
                    <br>
                    2. Hiring a Cost Control Specialist:<br>
                    - Consider hiring a cost control specialist who works on a contingent fee basis, depending on how much your expense actually decreases.<br>
                    - These specialists often specialize in certain areas such as utility bills and property taxes.<br>
                    <br>
                    3. Outsourcing Business Functions:<br>
                    - Outsourcing certain business functions can help reduce costs and improve efficiency.<br>
                    - Functions such as payroll, security, taking inventory, and maintenance can be outsourced to specialized service providers.<br>
                    <br>
                    4. Competitive Bidding:<br>
                    - Requesting competitive bids on supplies you regularly purchase can help you get the best prices and reduce costs.<br>
                    - Compare the bids from different suppliers and choose the one that offers the best value for money.<br>
                    <br>
                    5. Prompt Payments and Early Payment Discounts:<br>
                    - Making prompt payments of purchases on credit can help you take advantage of early payment discounts.<br>
                    - Consider offering to pay in advance if it can result in additional discounts.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Variance analysis and corrective actions in Indian business budgets</h2>
                <p>
                    In this sub-lesson, we will discuss variance analysis and corrective actions in Indian business budgets. Variance analysis is a technique used to compare actual financial results with the budgeted amounts. It helps businesses identify the reasons for deviations from the budget and take corrective actions to improve performance.<br>
                    <br>
                    1. Variance Analysis:<br>
                    Variance analysis involves comparing the actual financial results with the budgeted amounts to identify differences or variances. There are two types of variances:<br>
                    - Favorable Variance: When the actual results are better than the budgeted amounts, it is called a favorable variance. For example, if the actual sales revenue is higher than the budgeted sales revenue, it is a favorable variance.<br>
                    - Unfavorable Variance: When the actual results are worse than the budgeted amounts, it is called an unfavorable variance. For example, if the actual expenses are higher than the budgeted expenses, it is an unfavorable variance.<br>
                    <br>
                    2. Causes of Variances:<br>
                    There can be various causes of variances in a business budget. Some common causes include:<br>
                    - Changes in market conditions: Changes in market demand, competition, or pricing can lead to variances in sales revenue.<br>
                    - Cost overruns: Higher than expected costs for materials, labor, or overhead can result in unfavorable variances in expenses.<br>
                    - Inefficient operations: Poor production planning, wastage, or inefficiencies in processes can lead to unfavorable variances.<br>
                    - External factors: Economic factors, government policies, or changes in regulations can impact business performance and result in variances.<br>
                    <br>
                    3. Corrective Actions:<br>
                    Once variances are identified, businesses need to take corrective actions to address the deviations from the budget. Some common corrective actions include:<br>
                    - Cost control measures: Implementing cost-saving initiatives, negotiating better prices with suppliers, or optimizing resource allocation to reduce expenses.<br>
                    - Revenue enhancement strategies: Increasing sales efforts, exploring new markets, or introducing new products/services to improve sales revenue.<br>
                    - Process improvements: Streamlining operations, eliminating bottlenecks, or improving efficiency to reduce variances caused by operational inefficiencies.<br>
                    - Budget revisions: Adjusting the budget based on the identified variances and updating future projections to align with the actual performance.<br>
                    <br>
                    Now, let's test your understanding with some multiple-choice questions.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Budgeting and cost control</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Budget creation and monitoring in Indian businesses</a></li>
                <li><a href="#sublesson2">Cost reduction and efficiency measures in Indian companies</a></li>
                <li><a href="#sublesson3">Variance analysis and corrective actions in Indian business budgets</a></li>
            </ul>
        </aside>
</body>

</html>
