<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benefits of using trusts in estate planning</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What is one of the key benefits of using trusts in estate planning?",
                options: [
                    "Minimizing estate taxes",
                    "Maximizing income taxes",
                    "Increasing capital gains taxes",
                    "None of the above"
                ],
                answer: "Minimizing estate taxes"
            },
            {
                question: "How can trusts help protect your assets?",
                options: [
                    "By shielding them from potential lawsuits",
                    "By increasing their value",
                    "By transferring them to a different country",
                    "None of the above"
                ],
                answer: "By shielding them from potential lawsuits"
            },
            {
                question: "What tax benefits can be obtained by establishing a charitable trust in India?",
                options: [
                    "Reduction in income taxes",
                    "Reduction in capital gains taxes",
                    "Reduction in estate taxes",
                    "Reduction in taxes through donations"
                ],
                answer: "Reduction in taxes through donations"
            },
            {
                question: "What is one advantage of using trusts for tax planning?",
                options: [
                    "Minimizing income taxes",
                    "Maximizing estate taxes",
                    "Increasing capital gains taxes",
                    "None of the above"
                ],
                answer: "Minimizing income taxes"
            },
            {
                question: "How can trusts provide flexibility in managing assets?",
                options: [
                    "By allowing for easy transfer of assets",
                    "By providing tax deductions for donations",
                    "By shielding assets from potential lawsuits",
                    "None of the above"
                ],
                answer: "By allowing for easy transfer of assets"
            },
            {
                question: "Which type of trust is suitable for providing long-term support to a disabled person without disqualifying them from government assistance?",
                options: [
                    "Education Trust",
                    "Family Legacy Trust",
                    "Special Needs Trust",
                    "Charitable Trust"
                ],
                answer: "Special Needs Trust"
            },
            {
                question: "Who typically sets up education trusts in Indian estate planning?",
                options: [
                    "Parents",
                    "Grandparents",
                    "Siblings",
                    "Children"
                ],
                answer: "Grandparents"
            },
            {
                question: "What is the purpose of a family legacy trust?",
                options: [
                    "To support charitable causes",
                    "To provide long-term support to a disabled person",
                    "To preserve and pass down family assets",
                    "To avoid probate"
                ],
                answer: "To preserve and pass down family assets"
            },
            {
                question: "Which type of trust allows individuals to maintain control over their assets during their lifetime and ensure a smooth transfer of assets upon their death?",
                options: [
                    "Revocable Living Trust",
                    "Education Trust",
                    "Charitable Trust",
                    "Special Needs Trust"
                ],
                answer: "Revocable Living Trust"
            },
            {
                question: "What is the primary purpose of a charitable trust?",
                options: [
                    "To preserve and pass down family assets",
                    "To provide long-term support to a disabled person",
                    "To support charitable causes or organizations",
                    "To avoid probate"
                ],
                answer: "To support charitable causes or organizations"
            },
            {
                question: "What is one of the main benefits of using trusts in succession planning?",
                options: [
                    "Smooth transfer of assets",
                    "Avoiding taxes",
                    "Avoiding legal disputes",
                    "Ensuring equal distribution of assets"
                ],
                answer: "Smooth transfer of assets"
            },
            {
                question: "Who is responsible for managing and investing the assets held in a trust?",
                options: [
                    "Settlor",
                    "Beneficiary",
                    "Trustee",
                    "Attorney"
                ],
                answer: "Trustee"
            },
            {
                question: "What is one way trusts provide asset protection?",
                options: [
                    "By avoiding taxes",
                    "By specifying how assets should be used",
                    "By preventing legal disputes",
                    "By appointing a trustee"
                ],
                answer: "By specifying how assets should be used"
            },
            {
                question: "Why are trusts particularly beneficial in estate planning for Indian families?",
                options: [
                    "They provide flexibility in asset management",
                    "They ensure equal distribution of assets",
                    "They avoid legal disputes",
                    "They preserve family values and intentions"
                ],
                answer: "They preserve family values and intentions"
            },
            {
                question: "What is the role of the settlor in a trust?",
                options: [
                    "Managing the assets",
                    "Investing the assets",
                    "Specifying how assets should be distributed",
                    "Appointing a trustee"
                ],
                answer: "Specifying how assets should be distributed"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flash to gold
            const flash = document.querySelector('.bolt[data-target="dialog-boxpfadv18"]');
            if (flash) {
                flash.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxpfadv18 = document.getElementById('dialog-boxpfadv18');
            if (dialogBoxpfadv18) {
                dialogBoxpfadv18.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxpfadv18.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfadvlsn18Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfadvlsn18Completed = localStorage.getItem('pfadvlsn18Completed');
            if (pfadvlsn18Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Benefits of using trusts in estate planning</h1>
            <div id="sublesson1">
                <h2>Asset protection and tax planning advantages of trusts in India</h2>
                <p>
                    In this lesson, we will explore the asset protection and tax planning advantages of using trusts in estate planning in India. Trusts can be a powerful tool for protecting your assets and minimizing your tax liabilities. Let's dive into the details.<br>
                    <br>
                    Asset Protection:<br>
                    One of the key benefits of using trusts in estate planning is asset protection. By transferring your assets to a trust, you can shield them from potential lawsuits, creditors, and other legal claims. This is particularly important if you are concerned about being sued and losing your assets. Trusts provide a layer of protection that can help safeguard your wealth.<br>
                    <br>
                    Tax Planning:<br>
                    Trusts also offer significant tax planning advantages. By structuring your assets in a trust, you can potentially reduce your tax liabilities. Trusts can be used to minimize estate taxes, income taxes, and capital gains taxes. They provide flexibility in managing your assets and distributing income, allowing you to take advantage of tax-saving strategies.<br>
                    <br>
                    In India, certain types of trusts, such as charitable trusts, can provide additional tax benefits. Donations made to charitable trusts are eligible for tax deductions under the Income Tax Act. By establishing a charitable trust, you can support a worthy cause while also reducing your tax burden.<br>
                    <br>
                    Overall, trusts offer both asset protection and tax planning advantages in estate planning. They provide a legal framework that allows you to protect your assets and optimize your tax situation.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Specific use cases for trusts in Indian estate planning</h2>
                <p>
                    In this sub-lesson, we will explore specific use cases for trusts in Indian estate planning. Trusts can be a valuable tool in estate planning as they provide various benefits and can be tailored to meet specific needs. Let's look at some common use cases for trusts in Indian estate planning:<br>
                    <br>
                    1. Special Needs Trusts: If you have a loved one with a disability who requires long-term support and medical assistance from government programs, a special needs trust can be created. This trust ensures that the disabled person can receive financial support without disqualifying them from government assistance.<br>
                    <br>
                    2. Education Trusts: Education trusts are often set up by grandparents or older relatives to aid young relations in paying for their college or other schooling expenses. These trusts can be designed to become operational right away or at the time of the donor's death.<br>
                    <br>
                    3. Family Legacy Trusts: A family legacy trust is created to preserve and pass down family assets, such as heirlooms, properties, or businesses, to future generations. This type of trust ensures that the family's legacy is protected and managed according to the donor's wishes.<br>
                    <br>
                    4. Charitable Trusts: Charitable trusts are established to support charitable causes or organizations. These trusts allow individuals to contribute to causes they care about while also providing potential tax benefits.<br>
                    <br>
                    5. Revocable Living Trusts: A revocable living trust is a flexible estate planning tool that allows individuals to maintain control over their assets during their lifetime and ensure a smooth transfer of assets upon their death. This type of trust can help avoid probate and provide privacy for the family.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Trusts as tools for succession planning in Indian families</h2>
                <p>
                    In this sub-lesson, we will discuss how trusts can be used as tools for succession planning in Indian families. Trusts are legal arrangements that allow individuals to transfer their assets to a trustee, who will manage and distribute those assets according to the wishes of the person who created the trust, known as the settlor. Trusts can be particularly beneficial in estate planning for Indian families, as they provide a structured and efficient way to transfer wealth and assets to future generations.<br>
                    <br>
                    One of the main benefits of using trusts in succession planning is that they allow for the smooth transfer of assets from one generation to the next. By creating a trust, the settlor can specify how their assets should be distributed among their beneficiaries, ensuring that their wishes are carried out. This can help prevent disputes and conflicts among family members, as the trust document will serve as a legally binding agreement.<br>
                    <br>
                    Trusts also offer flexibility in terms of asset management. The settlor can appoint a trustee, who will be responsible for managing and investing the assets held in the trust. This can be particularly useful in Indian families, where there may be complex family dynamics and varying levels of financial literacy among the beneficiaries. The trustee can make informed decisions regarding the management of the trust assets, ensuring that they are preserved and grown for the benefit of future generations.<br>
                    <br>
                    Furthermore, trusts can provide protection for the assets held within them. In Indian families, there may be concerns about the potential misuse or dissipation of wealth by future generations. By placing assets in a trust, the settlor can establish certain conditions and restrictions on their use. For example, they can specify that the assets can only be used for specific purposes, such as education or healthcare expenses. This can help ensure that the wealth is preserved and used in a responsible manner.<br>
                    <br>
                    Overall, trusts can be powerful tools for succession planning in Indian families. They provide a structured and efficient way to transfer wealth and assets, while also offering flexibility, asset protection, and the ability to specify how assets should be used. By utilizing trusts in estate planning, Indian families can ensure the smooth transition of wealth and assets to future generations, while also preserving their values and intentions.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Benefits of using trusts in estate planning</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Asset protection and tax planning advantages of trusts in India</a></li>
                <li><a href="#sublesson2">Specific use cases for trusts in Indian estate planning</a></li>
                <li><a href="#sublesson3">Trusts as tools for succession planning in Indian families</a></li>
            </ul>
        </aside>
</body>

</html>
