<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basics of Insurance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "Which type of insurance provides coverage for medical expenses?",
                options: ["Health insurance", "Life insurance", "Property insurance"],
                answer: "Health insurance"
            },
            {
                question: "What does life insurance provide in the event of your death?",
                options: ["Financial protection for your loved ones", "Coverage for medical expenses", "Protection for your physical assets"],
                answer: "Financial protection for your loved ones"
            },
            {
                question: "Which type of insurance protects your home, car, and personal belongings?",
                options: ["Health insurance", "Life insurance", "Property insurance"],
                answer: "Property insurance"
            },
            {
                question: "Why is life insurance important?",
                options: ["It covers medical expenses", "It provides financial protection to your loved ones", "It protects your physical assets"],
                answer: "It provides financial protection to your loved ones"
            },
            {
                question: "What does property insurance protect against?",
                options: ["Medical expenses", "Death", "Damage or loss of physical assets"],
                answer: "Damage or loss of physical assets"
            }
            {
                question: "What is the purpose of insurance?",
                options: ["To transfer risk to an insurance company", "To make money for the insurance agent", "To avoid paying for losses", "To increase financial stability"],
                answer: "To transfer risk to an insurance company"
            },
            {
                question: "Which type of insurance provides a payout to beneficiaries in the event of the insured person's death?",
                options: ["Health insurance", "Disability insurance", "Life insurance", "Auto insurance"],
                answer: "Life insurance"
            },
            {
                question: "Why is health insurance important?",
                options: ["It covers medical expenses", "It protects against high healthcare costs", "It provides financial stability", "All of the above"],
                answer: "All of the above"
            },
            {
                question: "What does liability insurance protect against?",
                options: ["Expensive lawsuits", "Accidents", "Property damage", "Theft"],
                answer: "Expensive lawsuits"
            },
            {
                question: "What is the purpose of long-term care insurance?",
                options: ["To cover the costs of care for older family members", "To prevent the erosion of their nest egg", "To provide assistance with daily activities", "All of the above"],
                answer: "All of the above"
            }
            {
                question: "What is the first step in choosing appropriate insurance policies?",
                options: ["Assess your needs", "Research different types of insurance", "Compare insurance providers", "Review the policy terms and conditions"],
                answer: "Assess your needs"
            },
            {
                question: "Which type of insurance provides coverage for unexpected medical expenses?",
                options: ["Health insurance", "Life insurance", "Auto insurance", "Home insurance"],
                answer: "Health insurance"
            },
            {
                question: "What should you consider when assessing the coverage and limits of insurance policies?",
                options: ["Deductibles, premiums, and policy limits", "Reputation, customer service, and financial stability of the insurance company", "Exclusions, limitations, and additional coverage options", "Claims process, renewal process, and cancellation policy"],
                answer: "Deductibles, premiums, and policy limits"
            },
            {
                question: "Why is it important to compare insurance providers?",
                options: ["To assess your needs", "To research different types of insurance", "To find the best policy for your needs", "To review the policy terms and conditions"],
                answer: "To find the best policy for your needs"
            },
            {
                question: "What should you review before finalizing any insurance policy?",
                options: ["Assess your needs", "Research different types of insurance", "Compare insurance providers", "Policy terms and conditions"],
                answer: "Policy terms and conditions"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the four-pointed star to gold
            const fourPointedStar = document.querySelector('.four-pointed-star[data-target="dialog-boxpfbeg7"]');
            if (fourPointedStar) {
                fourPointedStar.style.backgroundColor = '#ffd700'; // Hex code for gold
            }

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxPfbeg7 = document.getElementById('dialog-boxpfbeg7');
            if (dialogBoxPfbeg7) {
                dialogBoxPfbeg7.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxPfbeg7.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfbeglsn7Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfbeglsn7Completed = localStorage.getItem('pfbeglsn7Completed');
            if (pfbeglsn7Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Basics of Insurance</h1>
            <div id="sublesson1">
                <h2>Types of insurance coverage (health, life, property)</h2>
                <p>
                    Insurance is a crucial aspect of financial planning as it helps protect us from unexpected events that could have a significant financial impact. Let's start by understanding the three main types of insurance coverage:<br>
                    <br>
                    1. Health Insurance:<br>
                    Health insurance is designed to cover medical expenses and provide financial protection in case of illness or injury. It helps pay for doctor visits, hospital stays, prescription medications, and other healthcare services. Having health insurance ensures that you can receive the necessary medical care without worrying about the high costs associated with it.<br>
                    <br>
                    2. Life Insurance:<br>
                    Life insurance provides financial protection to your loved ones in the event of your death. It pays out a sum of money, known as the death benefit, to the beneficiaries you designate. This money can be used to cover funeral expenses, pay off debts, replace lost income, or provide financial security for your family. Life insurance is particularly important if you have dependents who rely on your income.<br>
                    <br>
                    3. Property Insurance:<br>
                    Property insurance protects your physical assets, such as your home, car, or personal belongings, against damage or loss. It provides coverage in case of events like fire, theft, or natural disasters. Property insurance ensures that you can recover financially if your property is damaged or destroyed.<br>
                    <br>
                    Understanding these types of insurance coverage is essential for making informed decisions about your insurance needs. It's important to assess your personal circumstances and determine which types of insurance are necessary for you and your family.                    
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>How insurance protects you financially</h2>
                <p>
                    In this lesson, we will discuss the basics of insurance and how it protects you financially. Insurance is a form of risk management that provides financial protection against unexpected events or losses. It works by transferring the risk of potential losses from an individual or entity to an insurance company in exchange for regular premium payments.<br>
                    <br>
                    Insurance is important because it helps you mitigate the financial impact of unforeseen events. It provides a safety net that can help you recover from losses and maintain your financial stability. There are various types of insurance that you should consider having to protect yourself and your assets.<br>
                    <br>
                    1. Life Insurance: Life insurance provides a payout to your beneficiaries in the event of your death. It is important if you have dependents who rely on your income for financial support.<br>
                    <br>
                    2. Health Insurance: Health insurance covers medical expenses and provides financial protection against high healthcare costs. It is essential for everyone in your family to have health insurance coverage.<br>
                    <br>
                    3. Disability Insurance: Disability insurance provides income replacement if you become disabled and are unable to work. It is crucial for breadwinners whose future income is vital for their family's financial well-being.<br>
                    <br>
                    4. Property Insurance: Property insurance protects your assets, such as your home, against damage or loss due to fire, theft, or other disasters.<br>
                    <br>
                    5. Auto Insurance: Auto insurance provides coverage for your vehicle in case of accidents, theft, or damage. It is a legal requirement in many countries.<br>
                    <br>
                    6. Liability Protection: Liability insurance protects you against expensive lawsuits and covers the costs of legal defense and damages if you are found liable for causing harm to others.<br>
                    <br>
                    7. Long-term Care Insurance: Long-term care insurance covers the costs of care for older family members who may need assistance with daily activities. It helps prevent the erosion of their nest egg.<br>
                    <br>
                    Understanding these different types of insurance and their importance will help you make informed decisions about the coverage you need. It is essential to assess your risks and determine the appropriate amount of coverage for each type of insurance.                    
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>How to choose appropriate insurance policies</h2>
                <p>
                    In this sub-lesson, we will learn about the basics of insurance and how to choose appropriate insurance policies. Insurance is a way to protect yourself and your assets from financial loss. It provides you with financial security in case of unexpected events or accidents. There are different types of insurance policies available, and it's important to choose the ones that best suit your needs.<br>
                    <br>
                    1. Understand your needs: Before choosing insurance policies, it's important to assess your needs and determine what you want to protect. Consider your assets, such as your home, car, and personal belongings, as well as your health and income. This will help you identify the types of insurance coverage you require.<br>
                    <br>
                    2. Research different types of insurance: There are various types of insurance policies available, including health insurance, life insurance, auto insurance, home insurance, and disability insurance. Each type of insurance provides coverage for specific risks. Research and understand the coverage and benefits offered by each type of insurance.<br>
                    <br>
                    3. Assess the coverage and limits: When choosing insurance policies, it's important to assess the coverage and limits provided by each policy. The coverage should be sufficient to protect your assets and provide financial support in case of a loss. Consider factors such as deductibles, premiums, and policy limits to determine the level of coverage you need.<br>
                    <br>
                    4. Compare insurance providers: It's important to compare insurance providers to find the best policy for your needs. Consider factors such as reputation, customer service, and financial stability of the insurance company. Read reviews and seek recommendations from trusted sources to make an informed decision.<br>
                    <br>
                    5. Review the policy terms and conditions: Before finalizing any insurance policy, carefully review the terms and conditions. Pay attention to exclusions, limitations, and any additional coverage options. Understand the policy's terms, including the claims process, renewal process, and cancellation policy.<br>
                    <br>
                    Now that you have learned the basics of insurance and how to choose appropriate insurance policies, let's test your knowledge with some multiple-choice questions.                    
                </p><br>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Basics of Insurance</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Types of insurance coverage (health, life, property)</a></li>
                <li><a href="#sublesson2">How insurance protects you financially</a></li>
                <li><a href="#sublesson3">How to choose appropriate insurance policies</a></li>
            </ul>
        </aside>
</body>

</html>
