<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro to Investments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What is a savings account?",
                options: [
                    "A type of investment with a fixed term and higher interest rates",
                    "A bank account where you can deposit money and earn interest",
                    "An investment option that offers a high return on investment",
                    "A type of investment that is not insured by the government"
                ],
                answer: "A bank account where you can deposit money and earn interest"
            },
            {
                question: "Which of the following is a key feature of savings accounts?",
                options: [
                    "Higher interest rates compared to fixed deposits",
                    "Limited number of withdrawals allowed",
                    "No insurance coverage for your money",
                    "Inability to withdraw money before the maturity date"
                ],
                answer: "Limited number of withdrawals allowed"
            },
            {
                question: "What is a fixed deposit?",
                options: [
                    "A type of investment with a fixed term and higher interest rates",
                    "A bank account where you can deposit money and earn interest",
                    "An investment option that offers a high return on investment",
                    "A type of investment that is not insured by the government"
                ],
                answer: "A type of investment with a fixed term and higher interest rates"
            },
            {
                question: "Which of the following is a key feature of fixed deposits?",
                options: [
                    "Higher interest rates compared to savings accounts",
                    "Unlimited withdrawals allowed",
                    "No penalties for early withdrawal",
                    "No insurance coverage for your money"
                ],
                answer: "Higher interest rates compared to savings accounts"
            },
            {
                question: "What should you consider before making any investment decisions?",
                options: [
                    "Your financial goals, risk tolerance, and liquidity needs",
                    "The popularity of the investment option",
                    "The advice of financial experts",
                    "The current economic conditions"
                ],
                answer: "Your financial goals, risk tolerance, and liquidity needs"
            }
            {
                question: "Which investment option has the potential for high returns but also comes with a higher level of risk?",
                options: ["Bonds", "Mutual Funds", "Stocks", "Real Estate"],
                answer: "Stocks"
            },
            {
                question: "Which investment option is generally considered less risky than stocks but offers lower potential returns?",
                options: ["Bonds", "Mutual Funds", "Stocks", "Real Estate"],
                answer: "Bonds"
            },
            {
                question: "What is the main advantage of investing in mutual funds?",
                options: ["High potential returns", "Low risk", "Diversification", "Steady income"],
                answer: "Diversification"
            },
            {
                question: "Which investment option involves buying properties with the expectation of earning rental income or selling them at a higher price in the future?",
                options: ["Bonds", "Mutual Funds", "Stocks", "Real Estate"],
                answer: "Real Estate"
            },
            {
                question: "Which investment option provides a safe place to store your money and earn interest, but generally offers lower returns?",
                options: ["Bonds", "Mutual Funds", "Stocks", "Savings Accounts"],
                answer: "Savings Accounts"
            }
            {
                question: "Which investment option offers the potential for high returns but also comes with a higher risk?",
                options: ["Bonds", "Mutual Funds", "Real Estate", "Stocks"],
                answer: "Stocks"
            },
            {
                question: "Which investment option is generally considered safer than stocks and provides a steady income stream?",
                options: ["Bonds", "Mutual Funds", "Real Estate", "Stocks"],
                answer: "Bonds"
            },
            {
                question: "Which investment option offers instant diversification but also comes with management fees?",
                options: ["Bonds", "Mutual Funds", "Real Estate", "Stocks"],
                answer: "Mutual Funds"
            },
            {
                question: "Which investment option requires a significant upfront investment and ongoing maintenance costs?",
                options: ["Bonds", "Mutual Funds", "Real Estate", "Stocks"],
                answer: "Real Estate"
            },
            {
                question: "Which investment option offers diversification and lower fees compared to mutual funds?",
                options: ["Bonds", "ETFs", "Real Estate", "Stocks"],
                answer: "ETFs"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the four-pointed star to gold
            const fourPointedStar = document.querySelector('.four-pointed-star[data-target="dialog-boxpfbeg8"]');
            if (fourPointedStar) {
                fourPointedStar.style.backgroundColor = '#ffd700'; // Hex code for gold
            }

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxPfbeg8 = document.getElementById('dialog-boxpfbeg8');
            if (dialogBoxPfbeg8) {
                dialogBoxPfbeg8.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxPfbeg8.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfbeglsn8Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfbeglsn8Completed = localStorage.getItem('pfbeglsn8Completed');
            if (pfbeglsn8Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Intro to Investments</h1>
            <div id="sublesson1">
                <h2>Overview of savings accounts and fixed deposits</h2>
                <p>
                    Savings accounts and fixed deposits are two common types of investment options that individuals can consider. Let's take a closer look at each of them.<br>
                    <br>
                    1. Savings Accounts:<br>
                    A savings account is a type of bank account where you can deposit your money and earn interest on it. It is considered a safe and liquid investment option. Here are some key features of savings accounts:<br>
                    - Safety: Savings accounts are insured by the government up to a certain amount, usually around $250,000. This means that even if the bank fails, your money is protected.<br>
                    - Liquidity: You can easily withdraw money from your savings account whenever you need it. There are usually no restrictions on the number of withdrawals you can make.<br>
                    - Interest: Savings accounts offer a relatively low interest rate compared to other investment options. However, the interest is usually compounded on a regular basis, which means your money will grow over time.<br>
                    <br>
                    2. Fixed Deposits:<br>
                    A fixed deposit, also known as a term deposit or certificate of deposit (CD), is a type of investment where you deposit a fixed amount of money for a specific period of time, usually ranging from a few months to a few years. Here are some key features of fixed deposits:<br>
                    - Higher Interest Rates: Fixed deposits generally offer higher interest rates compared to savings accounts. The longer the term of the deposit, the higher the interest rate.<br>
                    - Fixed Term: Once you deposit your money in a fixed deposit, you cannot withdraw it until the maturity date. If you do need to withdraw the money before the maturity date, you may incur penalties or lose some of the interest earned.<br>
                    - Safety: Like savings accounts, fixed deposits are also insured by the government up to a certain amount. This provides an added layer of security for your investment.<br>
                    <br>
                    Now that you have a basic understanding of savings accounts and fixed deposits, you can consider these options when deciding where to invest your money. It's important to assess your financial goals, risk tolerance, and liquidity needs before making any investment decisions.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Risk and return associated with these options</h2>
                <p>
                    Investing is a way to grow your wealth over time, but it's important to understand that all investments come with some level of risk. Risk refers to the possibility of losing money or not achieving the expected return on your investment. On the other hand, return refers to the profit or gain you make from your investment.<br>
                    <br>
                    Different investment options have different levels of risk and potential return. Let's take a look at some common investment options and their associated risk and return:<br>
                    <br>
                    1. Stocks: Investing in stocks means buying shares of ownership in a company. Stocks have the potential for high returns, but they also come with a higher level of risk. The value of stocks can fluctuate greatly, and there is a chance of losing your investment if the company performs poorly.<br>
                    <br>
                    2. Bonds: Bonds are essentially loans made to governments or corporations. When you invest in bonds, you are lending money and earning interest in return. Bonds are generally considered less risky than stocks, but they also offer lower potential returns.<br>
                    <br>
                    3. Mutual Funds: Mutual funds pool money from multiple investors to invest in a diversified portfolio of stocks, bonds, or other assets. They offer a way to spread the risk across different investments. The risk and return of mutual funds depend on the specific assets they hold.<br>
                    <br>
                    4. Real Estate: Investing in real estate involves buying properties with the expectation of earning rental income or selling them at a higher price in the future. Real estate can provide steady income and potential appreciation, but it also comes with risks such as property market fluctuations and maintenance costs.<br>
                    <br>
                    5. Savings Accounts: Savings accounts are low-risk investments offered by banks. They provide a safe place to store your money and earn interest, but the returns are generally lower compared to other investment options.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Pros and cons of each option</h2>
                <p>
                    Investments are a way to grow your wealth over time by putting your money into various assets or ventures. There are several options available for investments, each with its own advantages and disadvantages. Let's take a closer look at some of the most common investment options:<br>
                    <br>
                    1. Stocks: Investing in stocks means buying shares of a company. The pros of investing in stocks include the potential for high returns and the opportunity to own a part of a successful company. However, stocks can be volatile, and their value can fluctuate greatly. This means that there is also a risk of losing money.<br>
                    <br>
                    2. Bonds: Bonds are essentially loans made to governments or corporations. When you invest in bonds, you are lending money and earning interest in return. The advantage of bonds is that they are generally considered safer than stocks and provide a steady income stream. However, the returns on bonds are usually lower compared to stocks.<br>
                    <br>
                    3. Mutual Funds: Mutual funds pool money from multiple investors to invest in a diversified portfolio of stocks, bonds, or other assets. The benefit of mutual funds is that they offer instant diversification, which helps reduce risk. However, they also come with management fees, which can eat into your returns.<br>
                    <br>
                    4. Real Estate: Investing in real estate involves buying properties with the intention of generating income or selling them for a profit. Real estate can provide a steady income stream through rental payments and has the potential for long-term appreciation. However, it requires a significant upfront investment and comes with ongoing maintenance costs.<br>
                    <br>
                    5. Exchange-Traded Funds (ETFs): ETFs are similar to mutual funds but trade on stock exchanges like individual stocks. They offer diversification and lower fees compared to mutual funds. However, like stocks, their value can fluctuate, and there is a risk of losing money.<br>
                    <br>
                    Now that we have discussed the pros and cons of each investment option, it's important to remember that the best investment strategy will depend on your individual financial goals, risk tolerance, and time horizon. It's always a good idea to consult with a financial advisor before making any investment decisions.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Intro to Investments</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Overview of savings accounts and fixed deposits</a></li>
                <li><a href="#sublesson2">Risk and return associated with these options</a></li>
                <li><a href="#sublesson3">Pros and cons of each option</a></li>
            </ul>
        </aside>
</body>

</html>
