<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pros and cons of real estate investment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What is one advantage of investing in the Indian real estate market?",
                options: [
                    "Potential for high returns",
                    "Low initial investment",
                    "High liquidity",
                    "Minimal regulatory challenges"
                ],
                answer: "Potential for high returns"
            },
            {
                question: "What is one potential drawback of investing in the Indian real estate market?",
                options: [
                    "Market volatility",
                    "Low rental income",
                    "Easy liquidity",
                    "Minimal legal complexities"
                ],
                answer: "Market volatility"
            },
            {
                question: "Why is real estate considered a tangible asset?",
                options: [
                    "It provides high returns",
                    "It is subject to market fluctuations",
                    "It can be physically seen and touched",
                    "It requires low initial investment"
                ],
                answer: "It can be physically seen and touched"
            },
            {
                question: "What is one challenge of investing in the Indian real estate market?",
                options: [
                    "Low market volatility",
                    "High liquidity",
                    "Low regulatory challenges",
                    "High initial investment"
                ],
                answer: "High initial investment"
            },
            {
                question: "What is one advantage of diversifying real estate investments?",
                options: [
                    "It reduces market volatility",
                    "It provides low returns",
                    "It increases liquidity",
                    "It spreads risk"
                ],
                answer: "It spreads risk"
            },
            {
                question: "What is one of the risks of property investment in India?",
                options: [
                    "Market volatility",
                    "Stable returns",
                    "Low demand",
                    "Guaranteed profits"
                ],
                answer: "Market volatility"
            },
            {
                question: "What can negatively impact the real estate market in India?",
                options: [
                    "Economic downturns",
                    "Booming economy",
                    "Government support",
                    "High demand"
                ],
                answer: "Economic downturns"
            },
            {
                question: "What should investors consider before investing in real estate in India?",
                options: [
                    "Legal and regulatory risks",
                    "Economic factors",
                    "Financing options",
                    "All of the above"
                ],
                answer: "All of the above"
            },
            {
                question: "What can serve as a hedge against inflation in property investment?",
                options: [
                    "Long-term appreciation",
                    "Rental income",
                    "Capital gains",
                    "Market volatility"
                ],
                answer: "Long-term appreciation"
            },
            {
                question: "What is a potential reward of property investment in India?",
                options: [
                    "Long-term appreciation",
                    "Market volatility",
                    "Legal risks",
                    "Financing difficulties"
                ],
                answer: "Long-term appreciation"
            },
            {
                question: "What is one advantage of investing in real estate in India?",
                options: [
                    "Potential for long-term appreciation",
                    "Low initial investment required",
                    "Guaranteed rental income",
                    "No legal and regulatory considerations"
                ],
                answer: "Potential for long-term appreciation"
            },
            {
                question: "What is one challenge of investing in real estate in India?",
                options: [
                    "High initial investment required",
                    "Stable property prices",
                    "Guaranteed high returns",
                    "No market fluctuations"
                ],
                answer: "High initial investment required"
            },
            {
                question: "What are the tax benefits of investing in real estate in India?",
                options: [
                    "Deductions on mortgage interest payments",
                    "No tax liability",
                    "Guaranteed tax-free income",
                    "No depreciation benefits"
                ],
                answer: "Deductions on mortgage interest payments"
            },
            {
                question: "What is one risk of investing in real estate in India?",
                options: [
                    "Low initial investment required",
                    "Stable property prices",
                    "Market volatility",
                    "No legal and regulatory considerations"
                ],
                answer: "Market volatility"
            },
            {
                question: "Why is diversification important in investment?",
                options: [
                    "To maximize returns",
                    "To minimize risk",
                    "To avoid taxes",
                    "To guarantee high returns"
                ],
                answer: "To minimize risk"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flower to gold
            const flower = document.querySelector('.flower_head[data-target="dialog-boxpfitd37"]');
            if (flower) {
                flower.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxPfitd37 = document.getElementById('dialog-boxpfitd37');
            if (dialogBoxPfitd37) {
                dialogBoxPfitd37.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxPfitd37.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfitdlsn37Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfitdlsn37Completed = localStorage.getItem('pfitdlsn37Completed');
            if (pfitdlsn37Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Pros and cons of real estate investment</h1>
            <div id="sublesson1">
                <h2>Assessing the Indian real estate market for investment</h2>
                <p>
                    In this sub-lesson, we will discuss the pros and cons of investing in the Indian real estate market. Assessing the market is crucial before making any investment decisions. Let's start by understanding the advantages of investing in Indian real estate:<br>
                    <br>
                    1. Potential for high returns: The Indian real estate market has shown a history of providing high returns on investment. With the growing population and urbanization, the demand for housing and commercial spaces is increasing, leading to potential appreciation in property values.<br>
                    <br>
                    2. Rental income: Investing in real estate in India can provide a steady stream of rental income. The demand for rental properties is high, especially in urban areas, which can generate a regular cash flow for investors.<br>
                    <br>
                    3. Diversification: Real estate investment allows you to diversify your investment portfolio. By investing in different types of properties, such as residential, commercial, or industrial, you can spread your risk and minimize the impact of market fluctuations.<br>
                    <br>
                    4. Tangible asset: Real estate is a tangible asset that you can physically see and touch. Unlike other investments like stocks or bonds, real estate provides a sense of security and stability.<br>
                    <br>
                    Now, let's discuss the potential drawbacks of investing in the Indian real estate market:<br>
                    <br>
                    1. Market volatility: The real estate market in India can be volatile, with prices fluctuating based on various factors such as economic conditions, government policies, and market demand. Investors need to be prepared for market uncertainties and potential risks.<br>
                    <br>
                    2. High initial investment: Investing in real estate requires a significant amount of capital. The high cost of properties and associated expenses like registration fees, stamp duty, and maintenance can make it challenging for some investors to enter the market.<br>
                    <br>
                    3. Liquidity issues: Real estate is considered a relatively illiquid investment. It may take time to sell a property and convert it into cash when needed. Investors should be prepared for potential liquidity constraints.<br>
                    <br>
                    4. Regulatory challenges: The Indian real estate market is subject to various regulations and legal complexities. Investors need to be aware of the legal framework, property rights, and documentation processes to avoid any legal issues.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Risks and rewards of property investment in India</h2>
                <p>
                    In this sub-lesson, we will discuss the risks and rewards associated with property investment in India. Property investment can be a lucrative venture, but it also comes with its own set of risks. It is important to understand these risks and rewards before making any investment decisions.<br>
                    <br>
                    1. Market Volatility:<br>
                    One of the risks of property investment in India is market volatility. The real estate market can be unpredictable, with prices fluctuating based on various factors such as economic conditions, government policies, and demand-supply dynamics. Investors need to be prepared for potential fluctuations in property values.<br>
                    <br>
                    2. Economic Factors:<br>
                    Property investment is closely tied to the overall economic conditions of a country. Economic downturns can negatively impact the real estate market, leading to a decrease in property prices. On the other hand, a booming economy can drive up property prices. Investors should consider the current economic climate and future projections before investing.<br>
                    <br>
                    3. Legal and Regulatory Risks:<br>
                    Investing in real estate in India involves navigating through various legal and regulatory requirements. There may be restrictions on foreign investment, land acquisition laws, and compliance with local building codes. It is important to understand and comply with these regulations to avoid legal issues and potential financial losses.<br>
                    <br>
                    4. Financing Risks:<br>
                    Property investment often requires significant financial resources. Investors may need to take loans or mortgages to finance their investments. However, changes in interest rates or difficulties in obtaining financing can pose risks to the investment. It is crucial to carefully assess the financial feasibility and risks associated with the investment.<br>
                    <br>
                    5. Potential Rewards:<br>
                    Despite the risks, property investment in India can offer attractive rewards. Real estate has the potential for long-term appreciation, providing investors with capital gains. Additionally, rental income from properties can generate a steady cash flow. Property investment can also serve as a hedge against inflation, as property values tend to increase over time.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Diversifying a portfolio with real estate in India</h2>
                <p>
                    In this sub-lesson, we will discuss the concept of diversifying a portfolio with real estate in India. Diversification is an important strategy in investment, as it helps to spread the risk and maximize returns. Real estate can be a valuable addition to a diversified portfolio, and in India, it offers unique opportunities and challenges.<br>
                    <br>
                    Real estate investment in India can provide several benefits. Firstly, it offers the potential for long-term appreciation. Property prices in India have historically shown an upward trend, and investing in real estate can provide capital gains over time. Additionally, real estate can generate regular rental income, which can be a stable source of cash flow. This income can help to offset the expenses associated with owning and maintaining the property.<br>
                    <br>
                    Another advantage of investing in real estate in India is the tax benefits. The Indian government provides various tax incentives for real estate investors, such as deductions on mortgage interest payments and depreciation. These tax advantages can help to reduce the overall tax liability and increase the cash flow from the investment.<br>
                    <br>
                    However, there are also some challenges and risks associated with real estate investment in India. One of the main challenges is the high initial investment required. Property prices in India can be quite expensive, especially in major cities. Investors need to carefully consider their financial situation and ensure they have sufficient funds to make the investment.<br>
                    <br>
                    Another risk is the volatility of the real estate market in India. Property prices can fluctuate significantly, and there may be periods of slow growth or even decline. Investors need to be prepared for these market fluctuations and have a long-term investment horizon.<br>
                    <br>
                    Additionally, there are legal and regulatory considerations when investing in real estate in India. Investors need to be aware of the local laws and regulations governing property ownership and rental agreements. It is important to conduct thorough research and seek professional advice to ensure compliance with the legal requirements.<br>
                    <br>
                    In summary, diversifying a portfolio with real estate in India can provide several benefits, such as long-term appreciation, rental income, and tax advantages. However, it is important to consider the challenges and risks associated with real estate investment, including high initial investment, market volatility, and legal considerations.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Pros and cons of real estate investment</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Assessing the Indian real estate market for investment</a></li>
                <li><a href="#sublesson2">Risks and rewards of property investment in India</a></li>
                <li><a href="#sublesson3">Diversifying a portfolio with real estate in India</a></li>
            </ul>
        </aside>
</body>

</html>
