<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importance of diversifying investments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What is diversification?",
                options: [
                    "Spreading investments across different asset classes, sectors, and geographic regions",
                    "Investing in a single asset class",
                    "Concentrating investments in one sector",
                    "Investing only in the Indian market"
                ],
                answer: "Spreading investments across different asset classes, sectors, and geographic regions"
            },
            {
                question: "Why is diversification important?",
                options: [
                    "It helps to mitigate the risk associated with investing",
                    "It guarantees high returns on investments",
                    "It eliminates the need for portfolio management",
                    "It reduces the need for diversification in India"
                ],
                answer: "It helps to mitigate the risk associated with investing"
            },
            {
                question: "How can diversification help reduce portfolio risk in India?",
                options: [
                    "By spreading investments across different sectors and asset classes",
                    "By investing only in the Indian market",
                    "By concentrating investments in one sector",
                    "By investing in a single asset class"
                ],
                answer: "By spreading investments across different sectors and asset classes"
            },
            {
                question: "What are some ways to diversify a portfolio in India?",
                options: [
                    "Investing in mutual funds and different sectors",
                    "Investing only in the Indian market",
                    "Concentrating investments in one sector",
                    "Investing in a single asset class"
                ],
                answer: "Investing in mutual funds and different sectors"
            },
            {
                question: "Why is diversification particularly important in India?",
                options: [
                    "The Indian market can be volatile",
                    "The Indian market guarantees high returns on investments",
                    "The Indian market is less risky compared to other markets",
                    "The Indian market does not require diversification"
                ],
                answer: "The Indian market can be volatile"
            },
            {
                question: "What is asset allocation?",
                options: [
                    "Spreading investments across different asset classes",
                    "Investing in equities only",
                    "Investing in real estate only",
                    "Investing in commodities only"
                ],
                answer: "Spreading investments across different asset classes"
            },
            {
                question: "Why is asset allocation important?",
                options: [
                    "It helps manage risk and maximize returns",
                    "It guarantees high returns",
                    "It eliminates the need for diversification",
                    "It reduces the need for regular portfolio review"
                ],
                answer: "It helps manage risk and maximize returns"
            },
            {
                question: "What factors should be considered when implementing an asset allocation strategy in India?",
                options: [
                    "Time horizon, asset class preference, performance expectations, tax issues, and risk tolerance",
                    "Time horizon, asset class preference, and risk tolerance only",
                    "Performance expectations and tax issues only",
                    "Risk tolerance and performance expectations only"
                ],
                answer: "Time horizon, asset class preference, performance expectations, tax issues, and risk tolerance"
            },
            {
                question: "What is diversification?",
                options: [
                    "Spreading investments within each asset class",
                    "Investing in equities and bonds only",
                    "Investing in real estate and commodities only",
                    "Investing in cash and equities only"
                ],
                answer: "Spreading investments within each asset class"
            },
            {
                question: "How often should you review and rebalance your portfolio?",
                options: [
                    "Annually",
                    "Quarterly",
                    "Monthly",
                    "It depends on your investment goals and risk tolerance"
                ],
                answer: "It depends on your investment goals and risk tolerance"
            },
            {
                question: "Diversification is a risk management strategy that involves _______.",
                options: [
                    "Concentrating investments in a single asset class",
                    "Spreading investments across different assets",
                    "Investing only in high-risk assets",
                    "Ignoring the impact of market conditions"
                ],
                answer: "Spreading investments across different assets"
            },
            {
                question: "What are asset classes?",
                options: [
                    "Different categories of investments",
                    "Specific industries within an asset class",
                    "Risk management strategies",
                    "Market conditions"
                ],
                answer: "Different categories of investments"
            },
            {
                question: "Why is diversifying across sectors important?",
                options: [
                    "To reduce the impact of any single industry on the portfolio",
                    "To concentrate investments in a single industry",
                    "To ignore the risk associated with specific sectors",
                    "To maximize returns in a single sector"
                ],
                answer: "To reduce the impact of any single industry on the portfolio"
            },
            {
                question: "Why is diversifying across asset classes and sectors important in the Indian context?",
                options: [
                    "The Indian market is highly stable and does not require diversification",
                    "The Indian market is diverse and consists of various sectors",
                    "Diversification is not necessary in the Indian market",
                    "The Indian market does not offer different asset classes"
                ],
                answer: "The Indian market is diverse and consists of various sectors"
            },
            {
                question: "What is the benefit of diversifying across asset classes in the Indian context?",
                options: [
                    "It helps investors navigate the volatility of the market",
                    "It concentrates investments in a single asset class",
                    "It reduces the impact of any single sector on the portfolio",
                    "It maximizes returns in a single sector"
                ],
                answer: "It helps investors navigate the volatility of the market"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flower to gold
            const flower = document.querySelector('.flower_head[data-target="dialog-boxpfitd19"]');
            if (flower) {
                flower.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxPfitd19 = document.getElementById('dialog-boxpfitd19');
            if (dialogBoxPfitd19) {
                dialogBoxPfitd19.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxPfitd19.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfitdlsn19Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfitdlsn19Completed = localStorage.getItem('pfitdlsn19Completed');
            if (pfitdlsn19Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Importance of diversifying investments</h1>
            <div id="sublesson1">
                <h2>Portfolio risk reduction through diversification in India</h2>
                <p>
                    In this lesson, we will discuss the importance of diversifying investments and how it can help reduce portfolio risk in India. Diversification is a strategy that involves spreading your investments across different asset classes, sectors, and geographic regions. By doing so, you can potentially reduce the impact of any single investment on your overall portfolio.<br>
                    <br>
                    Diversification is important because it helps to mitigate the risk associated with investing. When you diversify your portfolio, you are not putting all your eggs in one basket. Instead, you are spreading your investments across different types of assets, such as stocks, bonds, and cash. This can help protect your portfolio from the volatility of any one asset class.<br>
                    <br>
                    In India, diversification is particularly important due to the unique characteristics of the market. The Indian market can be volatile, and individual stocks can experience significant price fluctuations. By diversifying your investments across different sectors and asset classes, you can reduce the impact of any single stock or sector on your portfolio.<br>
                    <br>
                    One way to diversify your portfolio in India is by investing in mutual funds. Mutual funds pool money from multiple investors and invest in a diversified portfolio of stocks, bonds, and other securities. This allows individual investors to gain exposure to a wide range of assets without having to invest directly in each one.<br>
                    <br>
                    Another way to diversify your portfolio is by investing in different sectors of the Indian economy. For example, you can allocate a portion of your portfolio to sectors such as technology, healthcare, finance, and consumer goods. By spreading your investments across different sectors, you can reduce the risk of being heavily exposed to any one sector.<br>
                    <br>
                    It is also important to consider diversifying your investments geographically. Investing in international markets can provide exposure to different economies and currencies, which can help reduce the risk associated with investing solely in the Indian market.<br>
                    <br>
                    In summary, diversification is a key strategy for reducing portfolio risk in India. By spreading your investments across different asset classes, sectors, and geographic regions, you can potentially reduce the impact of any single investment on your overall portfolio.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Asset allocation and diversification strategies in India</h2>
                <p>
                    In this lesson, we will discuss the importance of asset allocation and diversification strategies in India. Asset allocation refers to the process of spreading your investments across different asset classes, such as cash, real estate, commodities, equities, and bonds. Diversification, on the other hand, involves spreading your investments within each asset class to reduce risk.<br>
                    <br>
                    Asset allocation is crucial because it helps manage risk and maximize returns. By diversifying your investments across different asset classes, you can reduce the impact of any single investment on your overall portfolio. This means that if one asset class performs poorly, the impact on your portfolio will be minimized because other asset classes may perform well.<br>
                    <br>
                    In India, there are several asset classes available for investment. These include cash, real estate, commodities, equities, and bonds. Each asset class has its own level of risk and expected return. The amount of assets you allocate to each category depends on your risk tolerance and investment goals.<br>
                    <br>
                    When it comes to diversification strategies in India, it is important to consider factors such as time horizon, asset class preference, performance expectations, tax issues, and risk tolerance. Your time horizon refers to the length of time you have to invest, and it influences your ability to tolerate short-term market fluctuations. Your asset class preference determines how you allocate your assets within each category. Performance expectations refer to the returns you expect to achieve on an overall basis. Tax issues are important to consider, as they can impact your investment decisions. Finally, your risk tolerance determines how much volatility you can tolerate in your portfolio.<br>
                    <br>
                    To implement an effective asset allocation and diversification strategy in India, you should consider the following steps:<br>
                    <br>
                    1. Determine your investment goals and time horizon.<br>
                    2. Identify your asset class preferences and allocate your assets accordingly.<br>
                    3. Set performance expectations and consider tax implications.<br>
                    4. Assess your risk tolerance and allocate your assets accordingly.<br>
                    5. Regularly review and rebalance your portfolio to ensure it aligns with your investment goals and risk tolerance.<br>
                    <br>
                    By following these steps and diversifying your investments across different asset classes, you can reduce risk and increase the potential for long-term returns.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Diversifying across asset classes and sectors in the Indian context</h2>
                <p>
                    In this lesson, we will discuss the importance of diversifying investments, specifically focusing on diversifying across asset classes and sectors in the Indian context.<br>
                    <br>
                    Diversification is a risk management strategy that involves spreading investments across different assets to reduce the impact of any single investment on the overall portfolio. By diversifying across asset classes and sectors, investors can potentially minimize the risk associated with specific industries or sectors, as well as take advantage of different market conditions.<br>
                    <br>
                    Asset classes refer to different categories of investments, such as stocks, bonds, real estate, and commodities. Each asset class has its own characteristics, risk profile, and potential for returns. By investing in a mix of asset classes, investors can potentially benefit from the performance of different markets and reduce the impact of any single asset class on their portfolio.<br>
                    <br>
                    Sectors, on the other hand, refer to specific industries within an asset class. For example, within the stock market, there are sectors like technology, healthcare, finance, and energy. By diversifying across sectors, investors can reduce the risk associated with any single industry and potentially benefit from the performance of different sectors.<br>
                    <br>
                    In the Indian context, diversifying across asset classes and sectors is particularly important due to the unique characteristics of the Indian market. The Indian economy is diverse and consists of various sectors, such as IT, pharmaceuticals, banking, and infrastructure. By investing in a mix of sectors, investors can potentially benefit from the growth of different industries and reduce the impact of any single sector on their portfolio.<br>
                    <br>
                    Furthermore, diversifying across asset classes in the Indian context can help investors navigate the volatility of the market. For example, during periods of economic uncertainty, bonds and gold may provide stability to the portfolio, while equities may offer higher returns during periods of economic growth.<br>
                    <br>
                    Overall, diversifying across asset classes and sectors in the Indian context is crucial for managing risk and potentially maximizing returns. By spreading investments across different assets and sectors, investors can reduce the impact of any single investment on their portfolio and take advantage of different market conditions.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Importance of diversifying investments</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Portfolio risk reduction through diversification in India</a></li>
                <li><a href="#sublesson2">Asset allocation and diversification strategies in India</a></li>
                <li><a href="#sublesson3">Diversifying across asset classes and sectors in the Indian context</a></li>
            </ul>
        </aside>
</body>

</html>
