<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating a retirement income strategy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What is the first step in designing a post-retirement income plan?",
                options: [
                    "Assessing your existing investments",
                    "Determining your retirement expenses",
                    "Considering different sources of post-retirement income",
                    "Managing your withdrawals"
                ],
                answer: "Determining your retirement expenses"
            },
            {
                question: "Which of the following is NOT a common source of post-retirement income in India?",
                options: [
                    "Pension plans",
                    "Annuities",
                    "Rental income",
                    "Stock market investments"
                ],
                answer: "Stock market investments"
            },
            {
                question: "Why is it important to manage your withdrawals from retirement savings?",
                options: [
                    "To maximize investment returns",
                    "To minimize tax liabilities",
                    "To ensure your savings last throughout retirement",
                    "To generate additional income"
                ],
                answer: "To ensure your savings last throughout retirement"
            },
            {
                question: "What should you do to ensure your post-retirement income plan remains sustainable?",
                options: [
                    "Regularly review and adjust your plan",
                    "Invest in high-risk instruments for higher returns",
                    "Rely solely on government schemes for income",
                    "Withdraw all your savings at once"
                ],
                answer: "Regularly review and adjust your plan"
            },
            {
                question: "What is the purpose of diversifying your income sources in retirement?",
                options: [
                    "To minimize investment risk",
                    "To maximize investment returns",
                    "To ensure a steady stream of income",
                    "To reduce tax liabilities"
                ],
                answer: "To ensure a steady stream of income"
            },
            {
                question: "Which investment option offers a fixed rate of interest for a specific period of time?",
                options: [
                    "Public Provident Fund (PPF)",
                    "Fixed Deposits (FDs)",
                    "National Pension Scheme (NPS)",
                    "Mutual Funds"
                ],
                answer: "Fixed Deposits (FDs)"
            },
            {
                question: "Which investment option is a government-sponsored pension scheme?",
                options: [
                    "Public Provident Fund (PPF)",
                    "Fixed Deposits (FDs)",
                    "National Pension Scheme (NPS)",
                    "Mutual Funds"
                ],
                answer: "National Pension Scheme (NPS)"
            },
            {
                question: "Which investment option allows individuals to invest in a mix of equity, corporate bonds, and government securities?",
                options: [
                    "Public Provident Fund (PPF)",
                    "Fixed Deposits (FDs)",
                    "National Pension Scheme (NPS)",
                    "Mutual Funds"
                ],
                answer: "National Pension Scheme (NPS)"
            },
            {
                question: "Which investment option provides rental income during retirement?",
                options: [
                    "Real Estate",
                    "Fixed Deposits (FDs)",
                    "National Pension Scheme (NPS)",
                    "Mutual Funds"
                ],
                answer: "Real Estate"
            },
            {
                question: "Which investment option provides a regular income stream in exchange for a lump sum or periodic payments?",
                options: [
                    "Annuities",
                    "Fixed Deposits (FDs)",
                    "National Pension Scheme (NPS)",
                    "Mutual Funds"
                ],
                answer: "Annuities"
            },
            {
                question: "Which of the following is NOT a common source of retirement income for Indian retirees?",
                options: [
                    "Pension Plans",
                    "Government Schemes",
                    "Personal Savings",
                    "Credit Card Debt",
                    "Investments"
                ],
                answer: "Credit Card Debt"
            },
            {
                question: "Why is it important to balance sources of retirement income?",
                options: [
                    "To maximize income during retirement",
                    "To minimize risks and ensure financial stability",
                    "To avoid paying taxes on retirement income",
                    "To qualify for government benefits",
                    "To leave a financial legacy for future generations"
                ],
                answer: "To minimize risks and ensure financial stability"
            },
            {
                question: "Which of the following is a government retirement scheme in India?",
                options: [
                    "Fixed Deposit",
                    "Mutual Fund",
                    "National Pension Scheme (NPS)",
                    "Real Estate Investment",
                    "Stock Market"
                ],
                answer: "National Pension Scheme (NPS)"
            },
            {
                question: "What is the purpose of diversifying your retirement income sources?",
                options: [
                    "To increase the risk of potential losses",
                    "To rely solely on one source of income",
                    "To minimize potential risks and losses",
                    "To avoid paying taxes on retirement income",
                    "To qualify for government benefits"
                ],
                answer: "To minimize potential risks and losses"
            },
            {
                question: "What are annuities?",
                options: [
                    "Financial products that provide a regular income stream",
                    "Retirement plans offered by employers",
                    "Personal savings accounts",
                    "Investments in stocks and bonds",
                    "Government schemes for retirees"
                ],
                answer: "Financial products that provide a regular income stream"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flower to gold
            const flower = document.querySelector('.flower_head[data-target="dialog-boxpfitd26"]');
            if (flower) {
                flower.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxPfitd26 = document.getElementById('dialog-boxpfitd26');
            if (dialogBoxPfitd26) {
                dialogBoxPfitd26.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxPfitd26.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfitdlsn26Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfitdlsn26Completed = localStorage.getItem('pfitdlsn26Completed');
            if (pfitdlsn26Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Creating a retirement income strategy</h1>
            <div id="sublesson1">
                <h2>Designing a sustainable post-retirement income plan in India</h2>
                <p>
                    In this sub-lesson, we will discuss how to design a sustainable post-retirement income plan in India. Planning for post-retirement income is crucial to ensure a comfortable and financially secure retirement. Let's dive into the key concepts and strategies involved in designing such a plan.<br>
                    <br>
                    1. Determine your retirement expenses:<br>
                    The first step in designing a post-retirement income plan is to estimate your retirement expenses. Consider your current annual household expenses and make adjustments for changes that will occur in retirement, such as no more mortgage payments or reduced commuting expenses. It's important to be realistic and account for any additional expenses you may take up during retirement, such as travel or hobbies.<br>
                    <br>
                    2. Evaluate your existing investments:<br>
                    Next, assess the value of your investment portfolio. This will help determine how much you've already saved for retirement and how much more you need to save. Take into account any surplus that may be generated if you plan to downsize your house or relocate to a less expensive location.<br>
                    <br>
                    3. Consider different sources of post-retirement income:<br>
                    To create a sustainable post-retirement income plan, it's important to diversify your income sources. Some common sources of post-retirement income in India include:<br>
                    <br>
                    - Pension plans: If you have a pension plan through your employer, it can provide a steady stream of income during retirement.<br>
                    - Annuities: Annuities are financial products that provide regular payments over a specified period or for life. Consider investing in annuities to supplement your retirement income.<br>
                    - Investments: Continue investing in low-risk instruments such as fixed deposits, bonds, or mutual funds to generate income during retirement.<br>
                    - Rental income: If you own properties, rental income can be a significant source of post-retirement income.<br>
                    - Government schemes: Explore government schemes like the National Pension System (NPS) or Senior Citizen Savings Scheme (SCSS) that offer attractive returns for retirees.<br>
                    <br>
                    4. Manage your withdrawals:<br>
                    Once you retire, it's important to manage your withdrawals from your retirement savings carefully. Consider factors such as inflation, investment performance, and your anticipated expenses. It's advisable to consult with a financial planner to determine the optimal withdrawal strategy that ensures your savings last throughout your retirement.<br>
                    <br>
                    5. Review and adjust your plan:<br>
                    Lastly, regularly review and adjust your post-retirement income plan. Keep track of changes in your expenses, investment performance, and any new income opportunities. Make necessary adjustments to ensure your plan remains sustainable and aligned with your retirement goals.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Investment options for generating retirement income in India</h2>
                <p>
                    In this sub-lesson, we will discuss various investment options available in India for generating retirement income. It is important to choose the right investment options to ensure a steady income during retirement. Let's explore some of the popular investment options in India:<br>
                    <br>
                    1. Fixed Deposits (FDs): Fixed deposits are a safe and secure investment option offered by banks and financial institutions. They provide a fixed rate of interest for a specific period of time. FDs are suitable for conservative investors who prefer stability and guaranteed returns.<br>
                    <br>
                    2. Public Provident Fund (PPF): PPF is a long-term investment option offered by the government. It offers attractive interest rates and tax benefits. PPF has a lock-in period of 15 years, making it suitable for individuals who can invest for the long term.<br>
                    <br>
                    3. National Pension Scheme (NPS): NPS is a government-sponsored pension scheme that allows individuals to invest in a mix of equity, corporate bonds, and government securities. It offers tax benefits and the flexibility to choose investment options based on risk appetite.<br>
                    <br>
                    4. Mutual Funds: Mutual funds are professionally managed investment vehicles that pool money from multiple investors to invest in a diversified portfolio of stocks, bonds, or other securities. They offer the potential for higher returns but also come with higher risk.<br>
                    <br>
                    5. Real Estate: Investing in real estate can provide rental income during retirement. However, it requires a significant upfront investment and comes with the risk of market fluctuations.<br>
                    <br>
                    6. Annuities: Annuities are insurance products that provide a regular income stream in exchange for a lump sum or periodic payments. They can be a good option for individuals looking for a guaranteed income during retirement.<br>
                    <br>
                    It is important to diversify your retirement portfolio by investing in a mix of these options based on your risk tolerance, financial goals, and time horizon. Consult a financial advisor to determine the best investment strategy for your retirement income.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Balancing sources of retirement income for Indian retirees</h2>
                <p>
                    In this sub-lesson, we will discuss the importance of balancing sources of retirement income for Indian retirees. It is crucial to have a well-diversified retirement income strategy to ensure financial stability during retirement. Let's explore the different sources of retirement income and how to balance them effectively.<br>
                    <br>
                    1. Pension Plans:<br>
                    Pension plans are a common source of retirement income for Indian retirees. These plans are typically provided by employers and offer a fixed monthly income after retirement. It is important to consider the reliability and sustainability of the pension plan when balancing your retirement income.<br>
                    <br>
                    2. Government Schemes:<br>
                    The Indian government offers various retirement schemes such as the National Pension Scheme (NPS) and the Employees' Provident Fund (EPF). These schemes provide a secure and regulated source of retirement income. It is advisable to contribute regularly to these schemes to build a substantial retirement corpus.<br>
                    <br>
                    3. Personal Savings:<br>
                    Personal savings play a significant role in retirement planning. It is essential to save a portion of your income throughout your working years to build a retirement fund. Consider investing in fixed deposits, mutual funds, or other investment options to grow your savings and generate income during retirement.<br>
                    <br>
                    4. Investments:<br>
                    Investments in stocks, bonds, and real estate can provide additional income during retirement. However, it is important to assess the risks associated with these investments and diversify your portfolio to minimize potential losses. Consult with a financial advisor to make informed investment decisions.<br>
                    <br>
                    5. Annuities:<br>
                    Annuities are financial products that provide a regular income stream in exchange for a lump sum payment. Consider purchasing annuities from reputable insurance companies to ensure a steady income during retirement.<br>
                    <br>
                    Balancing these sources of retirement income is crucial to ensure financial stability and meet your post-retirement expenses. It is recommended to diversify your income sources to reduce dependency on a single source and mitigate potential risks.<br>
                    <br>
                    Now, let's test your understanding with some multiple-choice questions.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Creating a retirement income strategy</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Designing a sustainable post-retirement income plan in India</a></li>
                <li><a href="#sublesson2">Investment options for generating retirement income in India</a></li>
                <li><a href="#sublesson3">Balancing sources of retirement income for Indian retirees</a></li>
            </ul>
        </aside>
</body>

</html>
