<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building a detailed budget with income and expenses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "Which of the following is an example of fixed expenses?",
                options: ["Groceries", "Entertainment", "Rent", "Dining out"],
                correctAnswer: "Rent"
            },
            {
                question: "What is considered as self-employment income?",
                options: ["Salary from a job", "Dividends from investments", "Income from a side business", "Pension income"],
                correctAnswer: "Income from a side business"
            },
            {
                question: "Which of the following is a discretionary expense?",
                options: ["Mortgage payment", "Loan payment", "Vacation", "Utility bill"],
                correctAnswer: "Vacation"
            },
            {
                question: "What should be included in your budget as a debt payment?",
                options: ["Grocery expenses", "Credit card payments", "Retirement income", "Rental income"],
                correctAnswer: "Credit card payments"
            },
            {
                question: "Why is it important to allocate a portion of your income towards savings?",
                options: ["To increase your fixed expenses", "To pay off debts", "To have money for emergencies", "To decrease your variable expenses"],
                correctAnswer: "To have money for emergencies"
            }
            {
                question: "Why is tracking and categorizing expenses important?",
                options: ["It helps in keeping a record of all expenses", "It helps in identifying spending patterns and areas where you can cut back", "It helps in creating a realistic budget", "All of the above"],
                correctAnswer: "All of the above"
            },
            {
                question: "How can you track your expenses?",
                options: ["Use a notebook or spreadsheet to manually record each expense", "Use a budgeting app or software that automatically tracks your expenses", "Keep receipts and review them regularly", "All of the above"],
                correctAnswer: "All of the above"
            },
            {
                question: "What are spending categories?",
                options: ["Broad categories that reflect the uniqueness of your life", "Oversimplified budget-book categories like Food, Shelter, Clothing, Transportation, and Health", "Categories that help in organizing and analyzing your expenses", "Both a and c"],
                correctAnswer: "Both a and c"
            },
            {
                question: "Why is it important to establish subcategories within major spending categories?",
                options: ["It provides a more accurate picture of your spending", "It helps in identifying specific areas where you can make adjustments", "It helps in understanding your unique spending habits", "All of the above"],
                correctAnswer: "All of the above"
            },
            {
                question: "How can you convert dollars spent in each subcategory into 'hours of life energy'?",
                options: ["By using the real hourly wage computed in Step 2", "By estimating the time spent earning the money spent in each subcategory", "By dividing the total dollars spent in each subcategory by the real hourly wage", "Both a and c"],
                correctAnswer: "Both a and c"
            }
            {
                question: "What is the purpose of creating a monthly budget spreadsheet?",
                options: ["To track income and expenses", "To calculate taxes", "To invest in stocks", "To plan a vacation"],
                correctAnswer: "To track income and expenses"
            },
            {
                question: "How can you break down your expenses in a budget spreadsheet?",
                options: ["By creating subcategories", "By listing them in alphabetical order", "By color-coding them", "By estimating the total amount"],
                correctAnswer: "By creating subcategories"
            },
            {
                question: "What should you do after entering your income and expenses in the spreadsheet?",
                options: ["Calculate the difference between total income and total expenses", "Delete all the entries", "Print the spreadsheet", "Share it with your friends"],
                correctAnswer: "Calculate the difference between total income and total expenses"
            },
            {
                question: "What function can you use to add up the amounts in a column?",
                options: ["SUM", "AVERAGE", "MAX", "MIN"],
                correctAnswer: "SUM"
            },
            {
                question: "Why is it important to create a detailed budget?",
                options: ["To understand your financial situation", "To impress your friends", "To win a lottery", "To buy expensive things"],
                correctAnswer: "To understand your financial situation"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flower to gold
            const flower = document.querySelector('.flower_head[data-target="dialog-boxpfitd1"]');
            if (flower) {
                flower.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxPfitd1 = document.getElementById('dialog-boxpfitd1');
            if (dialogBoxPfitd1) {
                dialogBoxPfitd1.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxPfitd1.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfitdlsn1Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfitdlsn1Completed = localStorage.getItem('pfitdlsn1Completed');
            if (pfitdlsn1Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Building a detailed budget with income and expenses</h1>
            <div id="sublesson1">
                <h2>Identifying sources of income and expenses</h2>
                <p>
                    In this sub-lesson, we will learn about the different sources of income and expenses that should be considered when building a detailed budget. It is important to have a comprehensive understanding of your income and expenses in order to create an accurate and effective budget.<br>
                    <br>
                    1. Sources of Income:<br>
                    - Employment Income: This includes your salary or wages from your job.<br>
                    - Self-Employment Income: If you are self-employed or have a side business, this is the income you earn from it.<br>
                    - Rental Income: If you own rental properties, the income you receive from tenants is considered rental income.<br>
                    - Investment Income: This includes dividends, interest, and capital gains from your investments.<br>
                    - Retirement Income: If you are receiving income from a pension or retirement account, it should be included in your budget.<br>
                    - Other Income: Any additional sources of income, such as alimony or child support, should also be considered.<br>
                    <br>
                    2. Types of Expenses:<br>
                    - Fixed Expenses: These are expenses that remain the same each month, such as rent or mortgage payments, insurance premiums, and loan payments.<br>
                    - Variable Expenses: These expenses can vary from month to month, such as groceries, utilities, and entertainment.<br>
                    - Discretionary Expenses: These are non-essential expenses that you have control over, such as dining out, vacations, and hobbies.<br>
                    - Debt Payments: If you have any outstanding debts, such as credit card debt or student loans, the monthly payments should be included in your budget.<br>
                    - Savings: It is important to allocate a portion of your income towards savings, whether it be for emergencies, retirement, or other financial goals.                    
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Tracking and categorizing expenses</h2>
                <p>
                    In this sub-lesson, we will learn about tracking and categorizing expenses in order to build a detailed budget with income and expenses. <br>
                    Tracking and categorizing expenses is an important step in understanding where your money is going and making informed financial decisions. <br>
                    Let's dive into the details.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Creating a monthly budget spreadsheet</h2>
                <p>
                    In this sub-lesson, we will learn how to create a monthly budget spreadsheet. A budget spreadsheet is a useful tool that helps you track your income and expenses on a monthly basis. By creating a detailed budget, you can gain a better understanding of your financial situation and make informed decisions about your spending and saving habits.<br>
                    <br>
                    To create a monthly budget spreadsheet, follow these steps:<br>
                    <br>
                    1. Open a new spreadsheet in a software program like Microsoft Excel or Google Sheets.<br>
                    2. Create separate columns for income and expenses.<br>
                    3. In the income column, list all the sources of income you receive each month, such as salary, freelance work, or rental income. Enter the amount of each income source in the corresponding row.<br>
                    4. In the expenses column, list all your monthly expenses. Start with broad categories like housing, transportation, groceries, utilities, and entertainment. Enter the estimated amount you spend on each category in the corresponding row.<br>
                    5. Under each expense category, create subcategories to further break down your expenses. For example, under the housing category, you can have subcategories like rent/mortgage, utilities, and maintenance.<br>
                    6. Enter the estimated amount you spend on each subcategory in the corresponding row.<br>
                    7. Add up the total income and total expenses at the bottom of each column.<br>
                    8. Calculate the difference between your total income and total expenses to determine whether you have a surplus or a deficit.<br>
                    9. Use formulas in the spreadsheet to automatically calculate the totals and differences. For example, you can use the SUM function to add up the amounts in a column and the subtraction function to calculate the difference between two cells.<br>
                    <br>
                    By creating a monthly budget spreadsheet, you can easily track your income and expenses, identify areas where you can cut back on spending, and set financial goals for the future.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Building a detailed budget with income and expenses</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Identifying sources of income and expenses</a></li>
                <li><a href="#sublesson2">Tracking and categorizing expenses</a></li>
                <li><a href="#sublesson3">Creating a monthly budget spreadsheet</a></li>
            </ul>
        </aside>
</body>

</html>
