<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Managing retirement investments for income</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "Which investment option offers a fixed rate of interest over a specified period of time?",
                options: ["Senior Citizen Savings Scheme (SCSS)", "Monthly Income Plans (MIPs)", "Annuities", "Fixed Deposits"],
                answer: "Fixed Deposits"
            },
            {
                question: "Which investment option is specifically designed for senior citizens?",
                options: ["Senior Citizen Savings Scheme (SCSS)", "Monthly Income Plans (MIPs)", "Annuities", "Fixed Deposits"],
                answer: "Senior Citizen Savings Scheme (SCSS)"
            },
            {
                question: "Which investment option aims to provide regular income to investors through a mix of debt and equity instruments?",
                options: ["Senior Citizen Savings Scheme (SCSS)", "Monthly Income Plans (MIPs)", "Annuities", "Fixed Deposits"],
                answer: "Monthly Income Plans (MIPs)"
            },
            {
                question: "Which investment option provides a guaranteed income for a specified period or for life?",
                options: ["Senior Citizen Savings Scheme (SCSS)", "Monthly Income Plans (MIPs)", "Annuities", "Fixed Deposits"],
                answer: "Annuities"
            },
            {
                question: "Which investment option involves investing in individual stocks that pay dividends?",
                options: ["Senior Citizen Savings Scheme (SCSS)", "Monthly Income Plans (MIPs)", "Annuities", "Dividend-paying Stocks"],
                answer: "Dividend-paying Stocks"
            },
            {
                question: "Which withdrawal method allows you to withdraw a fixed amount from your mutual fund investments at regular intervals?",
                options: ["Systematic Withdrawal Plan (SWP)", "Annuity Plans", "National Pension Scheme (NPS)", "Senior Citizen Savings Scheme (SCSS)"],
                answer: "Systematic Withdrawal Plan (SWP)"
            },
            {
                question: "What is the tax treatment of SWP for equity mutual funds held for more than one year?",
                options: ["Long-term capital gains tax of 10%", "Long-term capital gains tax of 20% with indexation benefit", "Short-term capital gains tax", "Tax-free"],
                answer: "Long-term capital gains tax of 10%"
            },
            {
                question: "Which retirement income option provides regular income in the form of annuity payments?",
                options: ["Systematic Withdrawal Plan (SWP)", "Annuity Plans", "National Pension Scheme (NPS)", "Senior Citizen Savings Scheme (SCSS)"],
                answer: "Annuity Plans"
            },
            {
                question: "What is the tax treatment of annuity payments?",
                options: ["Tax-free", "Taxable as per income tax slab rate", "Taxable at a flat rate of 10%", "Taxable at a flat rate of 20%"],
                answer: "Taxable as per income tax slab rate"
            },
            {
                question: "Which retirement income option allows senior citizens to convert their home equity into regular income?",
                options: ["Systematic Withdrawal Plan (SWP)", "Annuity Plans", "National Pension Scheme (NPS)", "Reverse Mortgage"],
                answer: "Reverse Mortgage"
            },
            {
                question: "What is the importance of regularly reassessing your expenses in retirement?",
                options: [
                    "It helps to increase your retirement income",
                    "It helps to reduce your retirement income",
                    "It helps to ensure your retirement income plan meets your changing needs",
                    "It helps to minimize tax implications on your retirement income"
                ],
                answer: "It helps to ensure your retirement income plan meets your changing needs"
            },
            {
                question: "What should you consider when evaluating your investment portfolio in retirement?",
                options: [
                    "Shifting towards more aggressive investments",
                    "Diversifying your portfolio to manage risk",
                    "Investing solely in fixed deposits",
                    "Ignoring the performance of your investments"
                ],
                answer: "Diversifying your portfolio to manage risk"
            },
            {
                question: "What are some additional sources of income that can supplement your retirement income in India?",
                options: [
                    "Fixed deposits and government schemes",
                    "Real estate investments only",
                    "Stocks and mutual funds",
                    "Cryptocurrency investments"
                ],
                answer: "Fixed deposits and government schemes"
            },
            {
                question: "Why is it important to stay informed about tax implications in retirement?",
                options: [
                    "To avoid paying taxes on retirement income",
                    "To optimize your retirement income from a tax perspective",
                    "To increase the tax burden on your retirement income",
                    "To minimize the tax benefits of your retirement income"
                ],
                answer: "To optimize your retirement income from a tax perspective"
            },
            {
                question: "Why is it necessary to regularly review and revise your retirement income plan?",
                options: [
                    "Life is unpredictable and financial needs may change",
                    "It helps to maximize tax implications on your retirement income",
                    "It helps to reduce the stability of your retirement income",
                    "It helps to minimize the diversification of your investment portfolio"
                ],
                answer: "Life is unpredictable and financial needs may change"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flower to gold
            const flower = document.querySelector('.flower_head[data-target="dialog-boxpfitd27"]');
            if (flower) {
                flower.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxPfitd27 = document.getElementById('dialog-boxpfitd27');
            if (dialogBoxPfitd27) {
                dialogBoxPfitd27.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxPfitd27.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfitdlsn27Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfitdlsn27Completed = localStorage.getItem('pfitdlsn27Completed');
            if (pfitdlsn27Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Managing retirement investments for income</h1>
            <div id="sublesson1">
                <h2>Investment strategies for regular income during retirement in India</h2>
                <p>
                    In this sub-lesson, we will discuss investment strategies for generating regular income during retirement in India. It is important to plan your investments carefully to ensure a steady income stream that can support your post-retirement lifestyle. Let's explore some key investment strategies for this purpose.<br>
                    <br>
                    1. Fixed Deposits: Fixed deposits are a popular investment option for retirees in India. They offer a fixed rate of interest over a specified period of time, providing a predictable income stream. It is advisable to diversify your fixed deposits across different banks to mitigate risk.<br>
                    <br>
                    2. Senior Citizen Savings Scheme (SCSS): SCSS is a government-backed savings scheme specifically designed for senior citizens. It offers a higher interest rate compared to regular savings accounts and fixed deposits. SCSS has a maturity period of 5 years, which can be extended for an additional 3 years.<br>
                    <br>
                    3. Monthly Income Plans (MIPs): MIPs are mutual fund schemes that aim to provide regular income to investors. These schemes invest in a mix of debt and equity instruments, with a focus on generating stable returns. MIPs can be a good option for retirees looking for a balance between income and growth.<br>
                    <br>
                    4. Annuities: Annuities are insurance products that provide a guaranteed income for a specified period or for life. Retirees can purchase annuities using a lump sum amount, which is then paid back to them as regular income. It is important to carefully evaluate the terms and conditions of annuity plans before investing.<br>
                    <br>
                    5. Dividend-paying Stocks: Investing in dividend-paying stocks can be a way to generate regular income during retirement. Dividends are a portion of a company's profits distributed to shareholders. However, it is important to consider the risks associated with investing in individual stocks and to diversify your portfolio.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Tax-efficient withdrawal methods for Indian retirees</h2>
                <p>
                    In this sub-lesson, we will discuss tax-efficient withdrawal methods for Indian retirees. As you plan for your post-retirement income, it is important to consider the tax implications of your withdrawals. By understanding the different tax-efficient strategies, you can maximize your retirement savings and minimize your tax liability.<br>
                    <br>
                    1. Systematic Withdrawal Plan (SWP):<br>
                    - SWP allows you to withdraw a fixed amount from your mutual fund investments at regular intervals.<br>
                    - This method provides flexibility as you can choose the frequency and amount of withdrawals.<br>
                    - The tax treatment of SWP depends on the type of mutual fund and the holding period.<br>
                    - For equity mutual funds held for more than one year, long-term capital gains tax of 10% is applicable.<br>
                    - For debt mutual funds held for more than three years, long-term capital gains tax of 20% with indexation benefit is applicable.<br>
                    - Short-term capital gains tax is applicable for investments held for less than the specified period.<br>
                    <br>
                    2. Annuity Plans:<br>
                    - Annuity plans provide regular income in the form of annuity payments.<br>
                    - The annuity payments are taxable as per your income tax slab rate.<br>
                    - However, a portion of the annuity payment is considered as a return of capital and is tax-free.<br>
                    - The tax treatment of annuity plans may vary depending on the insurance company and the specific plan.<br>
                    <br>
                    3. National Pension Scheme (NPS):<br>
                    - NPS is a government-sponsored pension scheme that provides tax benefits and retirement income.<br>
                    - At the time of retirement, you can withdraw a portion of the accumulated corpus as a lump sum, which is tax-free.<br>
                    - The remaining corpus must be used to purchase an annuity, which provides regular income.<br>
                    - The annuity payments are taxable as per your income tax slab rate.<br>
                    <br>
                    4. Senior Citizen Savings Scheme (SCSS):<br>
                    - SCSS is a government-backed savings scheme for senior citizens.<br>
                    - The interest earned from SCSS is taxable as per your income tax slab rate.<br>
                    - However, the interest is paid quarterly, and tax is deducted at source (TDS) if the interest exceeds a certain threshold.<br>
                    - You can withdraw the principal amount after the completion of the lock-in period, but the interest will continue to be taxable.<br>
                    <br>
                    5. Reverse Mortgage:<br>
                    - Reverse mortgage allows senior citizens to convert their home equity into regular income.<br>
                    - The income received from a reverse mortgage is tax-free as it is considered a loan and not income.<br>
                    - However, the interest charged on the loan is not tax-deductible.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Adapting the retirement income plan to changing needs in India</h2>
                <p>
                    In this sub-lesson, we will discuss how to adapt your retirement income plan to changing needs in India. As you approach retirement, it is important to regularly review and adjust your retirement income plan to ensure it meets your changing needs and circumstances. Here are some key concepts to consider:<br>
                    <br>
                    1. Regularly reassess your expenses: As you transition into retirement, your expenses may change. It is important to reassess your expenses regularly and make adjustments to your retirement income plan accordingly. Consider factors such as inflation, healthcare costs, and any changes in your lifestyle.<br>
                    <br>
                    2. Evaluate your investment portfolio: Your investment portfolio plays a crucial role in generating income during retirement. As your needs change, you may need to adjust your investment strategy. For example, you may want to shift towards more conservative investments to protect your capital or consider diversifying your portfolio to manage risk.<br>
                    <br>
                    3. Consider additional sources of income: In India, there are various options to supplement your retirement income. You may consider investing in fixed deposits, government schemes like Senior Citizen Savings Scheme, or annuity plans offered by insurance companies. These additional sources of income can provide stability and help meet your changing financial needs.<br>
                    <br>
                    4. Stay informed about tax implications: It is important to understand the tax implications of your retirement income plan. In India, certain retirement income sources may be taxable, while others may be tax-exempt. Stay updated with the latest tax laws and consult with a financial advisor to optimize your retirement income from a tax perspective.<br>
                    <br>
                    5. Review and revise your plan: Regularly review your retirement income plan and make necessary revisions. Life is unpredictable, and your financial needs may change over time. By staying proactive and making adjustments as needed, you can ensure that your retirement income plan remains aligned with your goals and objectives.<br>
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Managing retirement investments for income</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Investment strategies for regular income during retirement in India</a></li>
                <li><a href="#sublesson2">Tax-efficient withdrawal methods for Indian retirees</a></li>
                <li><a href="#sublesson3">Adapting the retirement income plan to changing needs in India</a></li>
            </ul>
        </aside>
</body>

</html>
