<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allocating funds for savings and investments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What is the time frame for short-term goals?",
                options: ["Less than 6 months", "1-2 years", "5-10 years", "More than 10 years"],
                answer: "Less than 6 months"
            },
            {
                question: "How can you calculate the monthly savings amount for a goal?",
                options: ["Divide the total amount needed by the number of months", "Multiply the total amount needed by the number of months", "Subtract the total amount needed from the number of months", "Add the total amount needed to the number of months"],
                answer: "Divide the total amount needed by the number of months"
            },
            {
                question: "What is the recommended percentage to save from your income?",
                options: ["5%", "10%", "15%", "20%"],
                answer: "10%"
            },
            {
                question: "What should you consider when balancing savings and expenses?",
                options: ["Pay off debts first before saving", "Save as much as possible, regardless of expenses", "Allocate a smaller percentage towards savings", "Increase savings even if it affects expenses"],
                answer: "Allocate a smaller percentage towards savings"
            },
            {
                question: "Why is it important to regularly review and adjust savings goals?",
                options: ["To increase the total amount needed for goals", "To ensure goals are still relevant and achievable", "To decrease the monthly savings amount", "To stop saving altogether"],
                answer: "To ensure goals are still relevant and achievable"
            }
            {
                question: "What is the purpose of an emergency fund?",
                options: ["To increase monthly income", "To save for retirement", "To provide financial security in case of unexpected expenses", "To pay off debts faster"],
                answer: "To provide financial security in case of unexpected expenses"
            },
            {
                question: "How much should you aim to save in your emergency fund?",
                options: ["One month's worth of expenses", "Three months' worth of expenses", "Six months' worth of expenses", "One year's worth of expenses"],
                answer: "Six months' worth of expenses"
            },
            {
                question: "Which of the following expenses can be covered by an emergency fund?",
                options: ["Medical bills", "Car repairs", "Job loss", "All of the above"],
                answer: "All of the above"
            },
            {
                question: "Where should you keep your emergency fund?",
                options: ["In a checking account", "In a savings account", "In a high-yield savings account", "In a retirement account"],
                answer: "In a savings account"
            },
            {
                question: "How often should you review and replenish your emergency fund?",
                options: ["Once a year", "Every six months", "Every three months", "Every month"],
                answer: "Every three months"
            }
            {
                question: "Which Indian financial instrument offers a fixed rate of interest for a specific period of time?",
                options: ["Fixed Deposits (FDs)", "Public Provident Fund (PPF)", "Mutual Funds", "National Pension Scheme (NPS)"],
                answer: "Fixed Deposits (FDs)"
            },
            {
                question: "Which Indian financial instrument is suitable for long-term savings and has a lock-in period of 15 years?",
                options: ["Fixed Deposits (FDs)", "Public Provident Fund (PPF)", "Mutual Funds", "National Pension Scheme (NPS)"],
                answer: "Public Provident Fund (PPF)"
            },
            {
                question: "Which Indian financial instrument pools money from multiple investors to invest in a diversified portfolio?",
                options: ["Fixed Deposits (FDs)", "Public Provident Fund (PPF)", "Mutual Funds", "National Pension Scheme (NPS)"],
                answer: "Mutual Funds"
            },
            {
                question: "Which Indian financial instrument allows individuals to build a retirement corpus through regular contributions?",
                options: ["Fixed Deposits (FDs)", "Public Provident Fund (PPF)", "Mutual Funds", "National Pension Scheme (NPS)"],
                answer: "National Pension Scheme (NPS)"
            },
            {
                question: "Which Indian financial instrument involves buying shares of publicly traded companies?",
                options: ["Fixed Deposits (FDs)", "Public Provident Fund (PPF)", "Mutual Funds", "Stocks"],
                answer: "Stocks"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flower to gold
            const flower = document.querySelector('.flower_head[data-target="dialog-boxpfitd2"]');
            if (flower) {
                flower.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxPfitd2 = document.getElementById('dialog-boxpfitd2');
            if (dialogBoxPfitd2) {
                dialogBoxPfitd2.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxPfitd2.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfitdlsn2Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfitdlsn2Completed = localStorage.getItem('pfitdlsn2Completed');
            if (pfitdlsn2Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Allocating funds for savings and investments</h1>
            <div id="sublesson1">
                <h2>Setting savings goals</h2>
                <p>
                    In this lesson, we will learn about setting savings goals as part of advanced budgeting. Setting savings goals is an important step in managing your finances and working towards financial stability. By setting specific goals, you can allocate funds towards savings and investments in a more organized and effective manner.<br>
                    <br>
                    1. Short-term, Mid-term, and Long-term Goals:<br>
                    To begin, it is helpful to categorize your goals into short-term, mid-term, and long-term time frames. Short-term goals are those that can be accomplished within six months or fewer, such as saving for a vacation or a special event. Mid-term goals can be achieved within a year or two, such as saving for a down payment on a house or a car. Long-term goals are those that take five to ten years or longer to accomplish, such as saving for retirement or your child's education.<br>
                    <br>
                    2. Calculating the Monthly Savings Amount:<br>
                    Once you have identified your goals, it is important to determine how much you need to save each month to progress towards accomplishing them. To do this, divide the total amount needed for a goal by the number of months you have to accomplish it. For example, if you want to save $1,000 to redecorate your outdoor patio in five months, you would need to save $200 per month.<br>
                    <br>
                    3. Percentage-based Savings:<br>
                    Another approach to setting savings goals is to save a certain percentage of your income. It is recommended to save at least 10% of your income, but you can always save more if possible. For example, if your monthly income is $4,400 and you want to save 10%, you would allocate $440 towards your financial goals. You can also divide the percentage among different goals to work on them simultaneously.<br>
                    <br>
                    4. Balancing Savings and Expenses:<br>
                    While it is important to save for your goals, it is equally important to ensure that you can cover your expenses and take care of your needs. Make sure that the amount you save does not affect your ability to pay off debts or meet your monthly expenses. If necessary, start with a smaller percentage and gradually increase it as you become more comfortable with saving.<br>
                    <br>
                    5. Review and Adjust:<br>
                    Regularly review your savings goals and progress to ensure that they are still relevant and achievable. Adjust your savings plan as needed based on changes in your financial situation or priorities.                    
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Creating an emergency fund</h2>
                <p>
                    In this sub-lesson, we will learn about the importance of creating an emergency fund as part of our budgeting strategy. <br>
                    An emergency fund is a savings account specifically set aside to cover unexpected expenses or financial emergencies. <br>
                    It acts as a safety net, providing financial security and peace of mind.<br>
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Investing in Indian financial instruments</h2>
                <p>
                    In this sub-lesson, we will discuss investing in Indian financial instruments. Investing is an important part of financial planning as it helps grow your wealth over time. Indian financial instruments offer various options for individuals to invest their money. Let's explore some of these instruments:<br>
                    <br>
                    1. Fixed Deposits (FDs): Fixed deposits are a popular investment option in India. They are offered by banks and provide a fixed rate of interest for a specific period of time. FDs are considered safe and low-risk investments.<br>
                    <br>
                    2. Public Provident Fund (PPF): PPF is a long-term investment scheme offered by the government of India. It offers attractive interest rates and provides tax benefits. PPF has a lock-in period of 15 years, making it suitable for long-term savings.<br>
                    <br>
                    3. Mutual Funds: Mutual funds pool money from multiple investors to invest in a diversified portfolio of stocks, bonds, or other securities. They are managed by professional fund managers. Mutual funds offer different types of schemes, such as equity funds, debt funds, and balanced funds, catering to different risk profiles.<br>
                    <br>
                    4. National Pension Scheme (NPS): NPS is a retirement-focused investment scheme regulated by the Pension Fund Regulatory and Development Authority (PFRDA). It offers tax benefits and allows individuals to build a retirement corpus through regular contributions.<br>
                    <br>
                    5. Stocks: Investing in stocks involves buying shares of publicly traded companies. It offers the potential for high returns but also carries higher risks. It is important to research and analyze companies before investing in their stocks.<br>
                    <br>
                    Now that we have discussed some of the Indian financial instruments, let's test your understanding with some multiple-choice questions.                    
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Allocating funds for savings and investments</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Setting savings goals</a></li>
                <li><a href="#sublesson2">Creating an emergency fund</a></li>
                <li><a href="#sublesson3">Investing in Indian financial instruments</a></li>
            </ul>
        </aside>
</body>

</html>
