<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundamental and technical analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "Which financial statement provides information about a company's financial position at a specific point in time?",
                options: ["Balance Sheet", "Income Statement", "Cash Flow Statement", "Statement of Retained Earnings"],
                answer: "Balance Sheet"
            },
            {
                question: "Which financial statement shows a company's revenues, expenses, and net income over a specific period?",
                options: ["Balance Sheet", "Income Statement", "Cash Flow Statement", "Statement of Retained Earnings"],
                answer: "Income Statement"
            },
            {
                question: "Which section of the cash flow statement tracks cash flows from day-to-day business operations?",
                options: ["Operating Activities", "Investing Activities", "Financing Activities", "Non-operating Activities"],
                answer: "Operating Activities"
            },
            {
                question: "Which ratio measures a company's profitability by comparing net income to revenue?",
                options: ["Gross profit margin", "Net profit margin", "Return on equity", "Current ratio"],
                answer: "Net profit margin"
            },
            {
                question: "When analyzing financial statements, investors should consider both _______ and _______ factors.",
                options: ["Quantitative, qualitative", "Profitability, liquidity", "Assets, liabilities", "Revenue, expenses"],
                answer: "Quantitative, qualitative"
            }
            {
                question: "Which approach evaluates a company's financial health and performance to determine its intrinsic value?",
                options: ["Fundamental analysis", "Technical analysis", "Moving averages", "Relative Strength Index (RSI)"],
                answer: "Fundamental analysis"
            },
            {
                question: "Which technical indicator helps identify potential support and resistance levels?",
                options: ["Moving Averages", "Relative Strength Index (RSI)", "Bollinger Bands", "MACD (Moving Average Convergence Divergence)"],
                answer: "Moving Averages"
            },
            {
                question: "What does an RSI value above 70 indicate?",
                options: ["Overbought conditions", "Oversold conditions", "Potential trend reversals", "High volatility"],
                answer: "Overbought conditions"
            },
            {
                question: "What does MACD consist of?",
                options: ["MACD line and a signal line", "Middle band and two outer bands", "Moving averages", "Trading volume"],
                answer: "MACD line and a signal line"
            },
            {
                question: "What does volume analysis examine?",
                options: ["Trading volume of a stock", "Price movements", "Moving averages", "Potential support and resistance levels"],
                answer: "Trading volume of a stock"
            }
            {
                question: "What is fundamental analysis?",
                options: [
                    "Analyzing historical price and volume data",
                    "Evaluating a company's financial health",
                    "Identifying short-term trading opportunities",
                    "Assessing the timing of buying or selling a stock"
                ],
                answer: "Evaluating a company's financial health"
            },
            {
                question: "What is technical analysis?",
                options: [
                    "Analyzing historical price and volume data",
                    "Evaluating a company's financial health",
                    "Identifying undervalued or overvalued stocks",
                    "Assessing the long-term prospects of a stock"
                ],
                answer: "Analyzing historical price and volume data"
            },
            {
                question: "Why is it important to combine fundamental and technical analysis?",
                options: [
                    "To reduce the risk associated with investing in stocks",
                    "To identify short-term trading opportunities",
                    "To analyze historical price and volume data",
                    "To evaluate a company's financial health"
                ],
                answer: "To evaluate a company's financial health"
            },
            {
                question: "What does fundamental analysis focus on?",
                options: [
                    "Studying historical price and volume data",
                    "Analyzing a company's financial health",
                    "Identifying patterns and trends in stock prices",
                    "Assessing the timing of buying or selling a stock"
                ],
                answer: "Analyzing a company's financial health"
            },
            {
                question: "What does technical analysis help identify?",
                options: [
                    "Stocks with strong growth potential",
                    "Undervalued or overvalued stocks",
                    "Long-term prospects of a stock",
                    "Fundamental factors of a stock"
                ],
                answer: "Undervalued or overvalued stocks"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flower to gold
            const flower = document.querySelector('.flower_head[data-target="dialog-boxpfitd11"]');
            if (flower) {
                flower.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxPfitd11 = document.getElementById('dialog-boxpfitd11');
            if (dialogBoxPfitd11) {
                dialogBoxPfitd11.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxPfitd11.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfitdlsn11Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfitdlsn11Completed = localStorage.getItem('pfitdlsn11Completed');
            if (pfitdlsn11Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Fundamental and technical analysis</h1>
            <div id="sublesson1">
                <h2>Analyzing Indian company financial statements</h2>
                <p>
                    In this lesson, we will explore the process of analyzing Indian company financial statements as part of fundamental analysis. Fundamental analysis involves evaluating a company's financial health and performance to determine its investment potential. By analyzing financial statements, investors can gain insights into a company's profitability, liquidity, solvency, and overall financial stability.<br>
                    <br>
                    1. Balance Sheet:<br>
                    The balance sheet provides a snapshot of a company's financial position at a specific point in time. It consists of three main components:<br>
                    - Assets: These are the resources owned by the company, such as cash, inventory, property, and equipment.<br>
                    - Liabilities: These are the company's obligations, including loans, accounts payable, and accrued expenses.<br>
                    - Equity: This represents the residual interest in the company's assets after deducting liabilities.<br>
                    <br>
                    2. Income Statement:<br>
                    The income statement, also known as the profit and loss statement, shows a company's revenues, expenses, and net income over a specific period. It helps investors understand a company's profitability and performance. Key components of the income statement include:<br>
                    - Revenue: The total amount of money generated from sales of goods or services.<br>
                    - Expenses: The costs incurred in the production and operation of the business.<br>
                    - Net Income: The difference between revenue and expenses, indicating the company's profitability.<br>
                    <br>
                    3. Cash Flow Statement:<br>
                    The cash flow statement tracks the inflow and outflow of cash from operating, investing, and financing activities. It provides insights into a company's ability to generate cash and its cash management practices. Key sections of the cash flow statement include:<br>
                    - Operating Activities: Cash flows from day-to-day business operations, such as sales and expenses.<br>
                    - Investing Activities: Cash flows from buying or selling assets, such as property, equipment, or investments.<br>
                    - Financing Activities: Cash flows from raising or repaying capital, such as issuing or repurchasing shares, or taking on or repaying debt.<br>
                    <br>
                    4. Ratios and Metrics:<br>
                    Analyzing financial ratios and metrics can help investors assess a company's financial performance and compare it to industry benchmarks. Some commonly used ratios include:<br>
                    - Profitability Ratios: Gross profit margin, net profit margin, return on equity.<br>
                    - Liquidity Ratios: Current ratio, quick ratio.<br>
                    - Solvency Ratios: Debt-to-equity ratio, interest coverage ratio.<br>
                    - Efficiency Ratios: Inventory turnover, accounts receivable turnover.<br>
                    <br>
                    5. Interpretation and Analysis:<br>
                    Once the financial statements and ratios are analyzed, investors can interpret the findings to make informed investment decisions. This involves assessing the company's financial health, growth potential, and overall investment attractiveness. It is important to consider both quantitative and qualitative factors when analyzing financial statements.                    
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Using technical indicators in the Indian stock market</h2>
                <p>
                    In this lesson, we will explore the concepts of fundamental and technical analysis in the context of the Indian stock market. These two approaches are commonly used by investors to make informed decisions about buying and selling stocks.<br>
                    <br>
                    Fundamental analysis involves evaluating a company's financial health and performance to determine its intrinsic value. This analysis considers factors such as the company's revenue, earnings, assets, and liabilities. By examining these fundamental factors, investors can assess whether a stock is undervalued or overvalued. This analysis also takes into account macroeconomic factors, industry trends, and competitive landscape.<br>
                    <br>
                    On the other hand, technical analysis focuses on studying historical price and volume data to identify patterns and trends. Technical analysts believe that past price movements can provide insights into future price movements. They use various tools and indicators, such as moving averages, trend lines, and oscillators, to analyze stock price charts. These indicators help investors identify potential entry and exit points for trades.<br>
                    <br>
                    Now let's dive deeper into the concept of technical analysis and how it is applied in the Indian stock market.<br>
                    <br>
                    Using technical indicators in the Indian stock market:<br>
                    Technical indicators are mathematical calculations based on historical price and volume data. These indicators help investors analyze stock price movements and make predictions about future price trends. Let's explore some commonly used technical indicators in the Indian stock market:<br>
                    <br>
                    1. Moving Averages: Moving averages smooth out price data by calculating the average price over a specific period. They help identify trends and potential support and resistance levels. For example, a 50-day moving average can indicate the short-term trend, while a 200-day moving average can indicate the long-term trend.<br>
                    <br>
                    2. Relative Strength Index (RSI): RSI measures the speed and change of price movements. It oscillates between 0 and 100, with values above 70 indicating overbought conditions and values below 30 indicating oversold conditions. Traders use RSI to identify potential trend reversals.<br>
                    <br>
                    3. Bollinger Bands: Bollinger Bands consist of a middle band (usually a 20-day moving average) and two outer bands that are standard deviations away from the middle band. These bands expand and contract based on volatility. Traders use Bollinger Bands to identify periods of high or low volatility and potential price breakouts.<br>
                    <br>
                    4. MACD (Moving Average Convergence Divergence): MACD is a trend-following momentum indicator that shows the relationship between two moving averages of a stock's price. It consists of a MACD line and a signal line. Traders use MACD crossovers and divergences to identify potential buy or sell signals.<br>
                    <br>
                    5. Volume Analysis: Volume analysis examines the trading volume of a stock to determine the strength of price movements. High volume during price increases suggests bullish sentiment, while high volume during price decreases suggests bearish sentiment. Traders use volume analysis to confirm price trends and identify potential reversals.<br>
                    <br>
                    By using these technical indicators, investors can gain insights into stock price movements and make more informed trading decisions in the Indian stock market.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Combining both approaches for stock analysis in India</h2>
                <p>
                    In this lesson, we will explore the concept of combining fundamental and technical analysis for stock analysis in India. Fundamental analysis involves evaluating a company's financial health, including its earnings, revenue, and balance sheet, to determine its intrinsic value. On the other hand, technical analysis focuses on studying historical price and volume data to identify patterns and trends in stock prices.<br>
                    <br>
                    Combining both approaches can provide a more comprehensive view of a stock's potential. By analyzing the fundamental factors, such as the company's financials and industry trends, we can assess the long-term prospects of a stock. This helps us identify undervalued or overvalued stocks.<br>
                    <br>
                    Technical analysis, on the other hand, helps us identify short-term trading opportunities by analyzing price patterns, support and resistance levels, and other technical indicators. It can provide insights into the timing of buying or selling a stock.<br>
                    <br>
                    When combining fundamental and technical analysis, it is important to consider both the qualitative and quantitative aspects of a stock. By analyzing the fundamental factors, we can identify stocks with strong growth potential and solid financials. Technical analysis can then help us determine the best entry and exit points for trading or investing in these stocks.<br>
                    <br>
                    By using both approaches, we can make more informed decisions and reduce the risk associated with investing in stocks. It is important to note that no analysis method is foolproof, and it is always recommended to conduct thorough research and seek professional advice before making any investment decisions.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Fundamental and technical analysis</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Analyzing Indian company financial statements</a></li>
                <li><a href="#sublesson2">Using technical indicators in the Indian stock market</a></li>
                <li><a href="#sublesson3">Combining both approaches for stock analysis in India</a></li>
            </ul>
        </aside>
</body>

</html>
