<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoring and managing mutual fund investments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "Why is it important to track mutual fund performance?",
                options: ["To maximize returns", "To minimize risk", "To evaluate fund managers' performance", "All of the above"],
                answer: "All of the above"
            },
            {
                question: "What are the key factors to consider when tracking mutual fund performance?",
                options: ["Past performance", "Expense ratio", "Fund manager's experience", "All of the above"],
                answer: "All of the above"
            },
            {
                question: "How can you track mutual fund performance in India?",
                options: ["Check the fund's NAV (Net Asset Value)", "Analyze the fund's historical returns", "Compare the fund's performance with its benchmark index", "All of the above"],
                answer: "All of the above"
            },
            {
                question: "What is the significance of expense ratio in mutual fund performance?",
                options: ["It indicates the fund's operating expenses", "It affects the fund's overall returns", "Lower expense ratio is generally favorable for investors", "All of the above"],
                answer: "All of the above"
            },
            {
                question: "How often should you review and rebalance your mutual fund portfolio?",
                options: ["Annually", "Semi-annually", "Quarterly", "It depends on your investment goals and risk tolerance"],
                answer: "It depends on your investment goals and risk tolerance"
            }
            {
                question: "What is the purpose of rebalancing a mutual fund portfolio?",
                options: ["To increase the risk of the portfolio", "To maintain the desired asset allocation", "To maximize returns in the short term", "To avoid transaction costs"],
                answer: "To maintain the desired asset allocation"
            },
            {
                question: "How often should you rebalance a mutual fund portfolio?",
                options: ["Once a month", "Once a year", "When the portfolio deviates from the target allocation by a certain percentage", "Only when the market is performing well"],
                answer: "When the portfolio deviates from the target allocation by a certain percentage"
            },
            {
                question: "What is the first step in rebalancing a mutual fund portfolio?",
                options: ["Determine the target asset allocation", "Calculate the rebalancing adjustments", "Execute the rebalancing trades", "Monitor the portfolio after rebalancing"],
                answer: "Determine the target asset allocation"
            },
            {
                question: "What should be considered when executing rebalancing trades?",
                options: ["Transaction costs and tax implications", "Short-term market trends", "The performance of individual mutual funds", "The investor's risk tolerance"],
                answer: "Transaction costs and tax implications"
            },
            {
                question: "What should you do after rebalancing a mutual fund portfolio?",
                options: ["Stop monitoring the portfolio", "Repeat the rebalancing process as needed", "Sell all the mutual funds in the portfolio", "Increase the risk of the portfolio"],
                answer: "Repeat the rebalancing process as needed"
            }
            {
                question: "What is the Dividend Distribution Tax (DDT) rate for equity-oriented funds in India?",
                options: ["5%", "10%", "15%", "20%"],
                answer: "10%"
            },
            {
                question: "How are capital gains from debt-oriented funds taxed if the holding period is less than 3 years?",
                options: ["10% with indexation benefit", "15%", "Individual's income tax slab rate", "25%"],
                answer: "Individual's income tax slab rate"
            },
            {
                question: "What is the tax rate for long-term capital gains from equity-oriented funds in India?",
                options: ["10%", "15%", "20%", "25%"],
                answer: "10%"
            },
            {
                question: "Which type of mutual funds offer tax benefits under Section 80C of the Income Tax Act?",
                options: ["Debt-oriented funds", "Equity-oriented funds", "ELSS funds", "Balanced funds"],
                answer: "ELSS funds"
            },
            {
                question: "What should investors consider before making switches or redemptions in mutual funds?",
                options: ["Dividend Distribution Tax (DDT) rate", "Capital gains tax rate", "Holding period", "All of the above"],
                answer: "All of the above"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flower to gold
            const flower = document.querySelector('.flower_head[data-target="dialog-boxpfitd9"]');
            if (flower) {
                flower.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxPfitd9 = document.getElementById('dialog-boxpfitd9');
            if (dialogBoxPfitd9) {
                dialogBoxPfitd9.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxPfitd9.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfitdlsn9Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfitdlsn9Completed = localStorage.getItem('pfitdlsn9Completed');
            if (pfitdlsn9Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Monitoring and managing mutual fund investments</h1>
            <div id="sublesson1">
                <h2>Tracking Indian mutual fund performance</h2>
                <p>
                    In this sub-lesson, we will explore the importance of tracking and managing mutual fund investments in India. <br>
                    Mutual funds are a popular investment option that pool money from multiple investors to invest in a diversified portfolio of securities. <br>
                    It is crucial to monitor the performance of mutual funds to ensure that your investments are on track and aligned with your financial goals.<br>
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Rebalancing the mutual fund portfolio for Indian investors</h2>
                <p>
                    In this sub-lesson, we will explore the concept of rebalancing a mutual fund portfolio for Indian investors. Rebalancing is an important strategy to maintain the desired asset allocation and manage risk in a portfolio. It involves periodically adjusting the weights of different asset classes to bring them back to their original target allocation.<br>
                    <br>
                    Why is rebalancing important?<br>
                    Over time, the performance of different asset classes can vary, causing the portfolio to deviate from its target allocation. This deviation can lead to a higher level of risk than intended. Rebalancing helps to realign the portfolio with the desired asset allocation, ensuring that the investor's risk tolerance and investment objectives are met.<br>
                    <br>
                    How often should you rebalance?<br>
                    The frequency of rebalancing depends on the investor's risk tolerance and investment strategy. Some investors prefer to rebalance on a regular schedule, such as annually or semi-annually. Others may choose to rebalance when the portfolio deviates from the target allocation by a certain percentage, for example, 5% or 10%.<br>
                    <br>
                    How to rebalance a mutual fund portfolio?<br>
                    1. Determine the target asset allocation: Start by identifying the desired allocation of different asset classes in your portfolio. This allocation should be based on your risk tolerance, investment goals, and time horizon.<br>
                    <br>
                    2. Monitor the portfolio: Regularly review the performance of your mutual fund portfolio and compare it to the target allocation. Identify any deviations from the target allocation.<br>
                    <br>
                    3. Calculate the rebalancing adjustments: Determine the amount of money that needs to be moved between asset classes to bring the portfolio back to its target allocation. This can be done by selling a portion of the over-allocated asset class and buying more of the under-allocated asset class.<br>
                    <br>
                    4. Execute the rebalancing trades: Place the necessary buy and sell orders to adjust the portfolio back to the target allocation. Consider any transaction costs and tax implications when making these trades.<br>
                    <br>
                    5. Monitor the portfolio after rebalancing: After rebalancing, continue to monitor the portfolio's performance and asset allocation. Repeat the rebalancing process as needed to maintain the desired allocation.<br>
                    <br>
                    By regularly rebalancing your mutual fund portfolio, you can ensure that your investments align with your risk tolerance and investment goals. It helps to manage risk and maintain a disciplined approach to investing.                    
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Tax implications of mutual fund investments in India</h2>
                <p>
                    In this lesson, we will explore the tax implications of mutual fund investments in India. It is important to understand the tax rules and regulations associated with mutual funds to make informed investment decisions. Let's dive into the key concepts:<br>
                    <br>
                    1. Taxation of Dividends:<br>
                        - Dividends received from mutual funds are subject to Dividend Distribution Tax (DDT) before being paid to investors.<br>
                        - The DDT rate for equity-oriented funds is 10%, while for debt-oriented funds it is 25%.<br>
                        - Investors do not have to pay any additional tax on the dividends received.<br>
                        <br>
                    2. Capital Gains Tax:<br>
                        - Capital gains from mutual funds are categorized as either short-term or long-term based on the holding period.<br>
                        - For equity-oriented funds, if the holding period is less than 1 year, it is considered short-term and taxed at a rate of 15%.<br>
                        - For debt-oriented funds, if the holding period is less than 3 years, it is considered short-term and taxed at the individual's income tax slab rate.<br>
                        - If the holding period is more than the specified period, it is considered long-term and taxed at a rate of 10% for equity-oriented funds and 20% with indexation benefit for debt-oriented funds.<br>
                        <br>
                    3. Systematic Investment Plan (SIP) Taxation:<br>
                        - Each SIP installment is considered a separate investment and subject to capital gains tax based on the holding period.<br>
                        - The tax implications for SIPs are the same as mentioned earlier for capital gains.<br>
                        <br>
                    4. Tax-saving Mutual Funds (ELSS):<br>
                        - Equity Linked Saving Schemes (ELSS) offer tax benefits under Section 80C of the Income Tax Act.<br>
                        - Investments in ELSS funds are eligible for a deduction of up to Rs. 1.5 lakh from taxable income.<br>
                        - However, the gains from ELSS funds are subject to capital gains tax as mentioned earlier.<br>
                        <br>
                    5. Tax on Switching or Redemption:<br>
                        - Switching between mutual fund schemes or redeeming units may attract capital gains tax based on the holding period and type of fund.<br>
                        - It is important to consider the tax implications before making any switches or redemptions.<br>
                        <br>
                    Now that we have covered the key concepts of tax implications in mutual fund investments in India, let's test your understanding with some multiple-choice questions.                    
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Monitoring and managing mutual fund investments</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Tracking Indian mutual fund performance</a></li>
                <li><a href="#sublesson2">Rebalancing the mutual fund portfolio for Indian investors</a></li>
                <li><a href="#sublesson3">Tax implications of mutual fund investments in India</a></li>
            </ul>
        </aside>
</body>

</html>
