<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identifying eligible exemptions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learningstyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .quiz-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            max-width: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        .question-box {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .options-box {
            display: flex;
            flex-direction: column;
        }
        .option-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .option-box.selected {
            background-color: #3498db;
            color: white;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            z-index: 999;
            display: none;
        }
        .modal-button-container button {
            width: 10rem;
            height: 2rem;
            background-color: #3498db;
            outline: none;
            border: 1px solid rgb(252, 242, 241);
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            border-radius: 20px;
            text-align: center;
            line-height: 2rem;
            padding: 5px;
        }
        .modal-button-container button:hover {
            background-color: #2980b9;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
        }
        @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .completion-message {
            color: green; 
        } 
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/learningscript.js') }}" defer></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
        const questions = [
            {
                question: "What does HRA stand for?",
                options: [
                    "House Rent Allowance",
                    "Home Rental Agreement",
                    "Housing Rental Assistance",
                    "Home Rent Affordability"
                ],
                answer: "House Rent Allowance"
            },
            {
                question: "Which factors determine the amount of HRA exemption?",
                options: [
                    "Actual HRA received",
                    "Rent paid for the accommodation",
                    "Salary of the employee",
                    "All of the above"
                ],
                answer: "All of the above"
            },
            {
                question: "What is the maximum percentage of salary that can be claimed as HRA exemption for metro cities?",
                options: [
                    "50%",
                    "40%",
                    "30%",
                    "20%"
                ],
                answer: "50%"
            },
            {
                question: "What does LTA stand for?",
                options: [
                    "Leave Travel Allowance",
                    "Long-Term Accommodation",
                    "Local Travel Assistance",
                    "Leisure Time Allowance"
                ],
                answer: "Leave Travel Allowance"
            },
            {
                question: "Which expenses are eligible for LTA exemption?",
                options: [
                    "Domestic travel expenses within India",
                    "International travel expenses",
                    "Daily commute expenses",
                    "None of the above"
                ],
                answer: "Domestic travel expenses within India"
            },
            {
                question: "What is considered a capital gain?",
                options: [
                    "Selling an asset for a higher price than what you initially paid for it.",
                    "Selling an asset for a lower price than what you initially paid for it.",
                    "Earning income from agricultural activities.",
                    "None of the above."
                ],
                answer: "Selling an asset for a higher price than what you initially paid for it."
            },
            {
                question: "Why is it generally better to avoid large capital gains during base income years?",
                options: [
                    "They can inflate your income.",
                    "They can reduce your net assets.",
                    "They can result in tax deductions.",
                    "None of the above."
                ],
                answer: "They can inflate your income."
            },
            {
                question: "What is the recommended approach if you need cash and have assets?",
                options: [
                    "Sell the assets to generate cash.",
                    "Borrow against the assets using them as collateral.",
                    "Invest the assets in stocks or bonds.",
                    "None of the above."
                ],
                answer: "Borrow against the assets using them as collateral."
            },
            {
                question: "What are agricultural income exemptions designed to do?",
                options: [
                    "Encourage agricultural activities.",
                    "Discourage agricultural activities.",
                    "Increase tax liabilities.",
                    "None of the above."
                ],
                answer: "Encourage agricultural activities."
            },
            {
                question: "What should individuals earning agricultural income do to understand available exemptions?",
                options: [
                    "Consult with their accountant or tax advisor.",
                    "Sell their agricultural assets.",
                    "Invest in stocks or bonds.",
                    "None of the above."
                ],
                answer: "Consult with their accountant or tax advisor."
            },
            {
                question: "Which special case involves claiming exemptions for dependents?",
                options: [
                    "Exemptions for education expenses",
                    "Exemptions for medical expenses",
                    "Exemptions for homeowners",
                    "Exemptions for retirement contributions"
                ],
                answer: "Exemptions for dependents"
            },
            {
                question: "What tax benefits can individuals pursuing higher education potentially qualify for?",
                options: [
                    "Mortgage interest deduction",
                    "American Opportunity Credit",
                    "Medical expense deduction",
                    "Home office deduction"
                ],
                answer: "American Opportunity Credit"
            },
            {
                question: "Individuals with high medical expenses may qualify for tax exemptions if their expenses exceed a certain percentage of their:",
                options: [
                    "Taxable income",
                    "Adjusted gross income",
                    "Net worth",
                    "Total income"
                ],
                answer: "Adjusted gross income"
            },
            {
                question: "Which tax exemption is specifically related to homeowners?",
                options: [
                    "Exemptions for dependents",
                    "Exemptions for education expenses",
                    "Exemptions for medical expenses",
                    "Mortgage interest deduction"
                ],
                answer: "Mortgage interest deduction"
            },
            {
                question: "What is the primary benefit of contributing to retirement accounts in terms of tax exemptions?",
                options: [
                    "Lowering taxable income",
                    "Increasing tax liability",
                    "Qualifying for medical expense deductions",
                    "Claiming exemptions for dependents"
                ],
                answer: "Lowering taxable income"
            }
        ];

        const questionsCopy = [...questions];
        let currentQuestionIndex = 0;

        // Open quiz modal
        function openQuizModal() {
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Close quiz modal
        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Shuffle and display questions
        function showRandomQuestion() {
            shuffleArray(questionsCopy);
            showQuestion(currentQuestionIndex);
        }

        // Call this function when starting the quiz
        function startQuiz() {
            currentQuestionIndex = 0;
            showRandomQuestion();
        }

        function showQuestion(index) {
            const quizBox = document.querySelector('.quiz-container');
            const currentQuestion = questionsCopy[index];
            // Clear previous content
            quizBox.innerHTML = '';
            if (currentQuestion) {
                const questionBox = document.createElement('div');
                questionBox.classList.add('question-box');
                questionBox.innerHTML = `
                    <div class="question">${currentQuestion.question}<br></div>
                    <div class="options-box">
                        ${currentQuestion.options.map((option, optionIndex) => `<div class="option-box" data-index="${optionIndex}">${option}</div>`).join('')}
                    </div>
                    <div id="result"></div>
                `;

                // Add event listeners to the options
                const optionBoxes = questionBox.querySelectorAll('.option-box');
                optionBoxes.forEach(optionBox => {
                    optionBox.addEventListener('click', function () {
                        const selectedOptionIndex = this.getAttribute('data-index');
                        checkAnswer(selectedOptionIndex, currentQuestion.answer);
                    });
                });
                quizBox.appendChild(questionBox);
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="showNextQuestion()">Next Question</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            } else {
                quizBox.innerHTML = `
                    <div class="result">Quiz completed! Thanks for playing.</div>
                `;
                // Create a separate container for the button
                const buttonContainer = document.createElement('div');
                buttonContainer.classList.add('modal-button-container');
                buttonContainer.innerHTML = `<button onclick="closeQuizModal()">Close Quiz</button>`;
                // Append the button container to the quiz box
                quizBox.appendChild(buttonContainer);
            }
        }

        let score = 0;

        // Check user's answer and show next question
        function showNextQuestion() {
            currentQuestionIndex++;
            if (currentQuestionIndex < 5) {
                showRandomQuestion();
            } else {
                evaluateAndDisplayResult();
            }
        }

        function checkAnswer(selectedOptionIndex, correctAnswer) {
            const options = document.querySelectorAll('.options-box .option-box');
            
            // Remove the 'selected' class from all options
            options.forEach(option => {
                option.classList.remove('selected');
            });
        
            // Add the 'selected' class to the clicked option
            options[selectedOptionIndex].classList.add('selected');
        
            // Get the selected option's text
            const selectedOptionText = options[selectedOptionIndex].innerText;
        
            // Check if the selected option is correct
            const isCorrect = selectedOptionText === correctAnswer;
        
            // Update the UI to indicate correctness
            const resultContainer = document.getElementById('result');
            resultContainer.innerHTML = isCorrect
                ? '<p style="color: green;">Correct!</p>'
                : `<p style="color: red;">Incorrect. The correct answer is: ${correctAnswer}</p>`;
        
            // Update the score if the answer is correct
            if (isCorrect) {
                score++;
            }
            
            // For demonstration purposes, let's log the selected option index and correctness
            console.log('Selected Option Index:', selectedOptionIndex);
            console.log('Is Correct:', isCorrect);
        }

        let quizCompleted = false;

        // Evaluate user's performance and display result
        function evaluateAndDisplayResult() {
            const resultContainer = document.getElementById('quiz-container');
            let correctAnswersCount = 0;
            let totalQuestions = 5;
            if (score >= 4) {
                quizCompleted = true;
                resultContainer.innerHTML = `
                <div class="result">Congratulations! You can move on to the next lesson.</div>
                <div class="score-details">
                    <p>Your Score <br> ${score} out of ${totalQuestions}</p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
                updateUIOnQuizCompletion();
                document.getElementById('completion-message').style.display = 'block';
            } else {
                resultContainer.innerHTML = `
                <div class="result">Please review the lesson again and try again later.</div>
                <div class="score-details">
                    <p><center>Your Score</center> <br> <center>${score} out of ${totalQuestions}</center></p>
                </div>
                <div class="modal-button-container">
                    <button onclick="closeQuizModal()">Close Quiz</button>
                </div>`;
            }
        }

        function closeQuizModal() {
            document.getElementById('quiz-container').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
    
            // Redirect to the Personal Finance page
            window.location.href = "{{ url_for('personalfinance') }}";
        }
        function updateUIOnQuizCompletion() {
            // Change the color of the flower to gold
            const flower = document.querySelector('.flower_head[data-target="dialog-boxpfitd35"]');
            if (flower) {
                flower.style.backgroundColor = '#ffd700'; // Hex code for gold

            // Change the dialog box border color to gold and display the completion message
            const dialogBoxPfitd35 = document.getElementById('dialog-boxpfitd35');
            if (dialogBoxPfitd35) {
                dialogBoxPfitd35.style.borderColor = '#ffd700'; // Hex code for gold
                const dialogText = dialogBoxPfitd35.querySelector('.dialog-text');
                dialogText.innerText = 'Completed'; // Update the message inside the dialog box

                // Save the completion status in localStorage
                localStorage.setItem('pfitdlsn35Completed', 'true');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            startQuiz();
            const pfitdlsn35Completed = localStorage.getItem('pfitdlsn35Completed');
            if (pfitdlsn35Completed === 'true') {
                updateUIOnQuizCompletion();
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <aside class="sidebar-left">
            <ul class="sidebar-menu">
                <li>
                    <h2 class="sidebar-title">Study Aid</h2>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="colored-icon">
                        <i class="fas fa-graduation-cap"></i> Learn
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="courses-toggle">
                        <i class="fas fa-book"></i> Courses
                    </a>
                    <ul class="course-list hidden">
                        <li>
                            <a href="{{ url_for('algorithms') }}">
                                <i class="fas fa-chart-line"></i> Algorithms
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('personalfinance') }}">
                                <i class="fas fa-rupee-sign"></i> Personal Finance
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calculus') }}">
                                <i class="fas fa-calculator"></i> Calculus
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('profile') }}" class="colored-icon">
                        <i class="fas fa-user"></i> Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('settings') }}" class="colored-icon">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('home') }}" class="colored-icon">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </aside>
        <main class="lesson-main-content">
            <h1>Identifying eligible exemptions</h1>
            <div id="sublesson1">
                <h2>Exemptions on HRA (House Rent Allowance) and LTA (Leave Travel Allowance)</h2>
                <p>
                    In this sub-lesson, we will discuss the exemptions available on HRA (House Rent Allowance) and LTA (Leave Travel Allowance). These exemptions can help reduce your taxable income and save you money on taxes.<br>
                    <br>
                    1. House Rent Allowance (HRA) Exemption:<br>
                    - HRA is an allowance provided by your employer to cover your rental expenses.<br>
                    - The amount of HRA that is exempt from tax depends on the following factors:<br>
                        a) Actual HRA received from your employer<br>
                        b) Rent paid for the accommodation<br>
                        c) Salary of the employee<br>
                        d) City of residence (metro or non-metro)<br>
                    - The exemption is calculated as the minimum of the following three amounts:<br>
                        a) Actual HRA received<br>
                        b) Rent paid minus 10% of salary<br>
                        c) 50% of salary for metro cities or 40% of salary for non-metro cities<br>
                        <br>
                    2. Leave Travel Allowance (LTA) Exemption:<br>
                    - LTA is an allowance provided by your employer to cover your travel expenses during leave.<br>
                    - The exemption is available for travel expenses incurred on domestic travel within India.<br>
                    - The exemption is limited to the actual travel expenses incurred and is subject to certain conditions and limits set by the Income Tax Department.
                </p>
            </div>    
            <!-- Sub Lesson 2 Content -->
            <div id="sublesson2">
                <h2>Exemptions on capital gains and agricultural income</h2>
                <p>
                    In this sub-lesson, we will discuss exemptions on capital gains and agricultural income. Understanding these exemptions is important for individuals who have investments in stocks, bonds, or other financial instruments, as well as those who earn income from agricultural activities.<br>
                    <br>
                    Exemptions on Capital Gains:<br>
                    1. Capital gains occur when you sell an asset, such as stocks or bonds, for a higher price than what you initially paid for it.<br>
                    2. The difference between the selling price and the purchase price is considered a capital gain.<br>
                    3. Capital gains are considered additional income in the year that you sold the asset.<br>
                    4. However, for tax and financial aid purposes, it is generally better to avoid large capital gains during base income years, as they can inflate your income.<br>
                    5. If you need cash, it is usually better to borrow against your assets rather than sell them. By taking out a loan using your assets as collateral, you can avoid reporting capital gains on the financial aid form and reduce your net assets in the eyes of financial aid offices.<br>
                    <br>
                    Exemptions on Agricultural Income:<br>
                    1. Agricultural income refers to income earned from agricultural activities, such as farming or livestock production.<br>
                    2. In some countries, there may be specific exemptions or deductions available for individuals who earn agricultural income.<br>
                    3. These exemptions or deductions are designed to support and encourage agricultural activities.<br>
                    4. The specific rules and regulations regarding exemptions on agricultural income may vary depending on the country and its tax laws.<br>
                    5. It is important for individuals earning agricultural income to consult with their accountant or tax advisor to understand the available exemptions and how to claim them.
                </p>
            </div>
            <!-- Sub Lesson 3 Content -->
            <div id="sublesson3">
                <h2>Navigating tax exemptions for special cases</h2>
                <p>
                    In this sub-lesson, we will explore the topic of tax exemptions for special cases. While tax exemptions are generally available to all taxpayers, there are certain situations where individuals may be eligible for specific exemptions based on their circumstances. Let's dive into some of these special cases.<br>
                    <br>
                    1. Exemptions for Dependents:<br>
                    One common special case is claiming exemptions for dependents. If you have individuals who rely on you for financial support, such as children or elderly parents, you may be eligible to claim them as dependents on your tax return. This can result in a reduction of your taxable income and potentially lower your overall tax liability.<br>
                    <br>
                    2. Exemptions for Education Expenses:<br>
                    Another special case involves tax exemptions for education expenses. If you or your dependents are pursuing higher education, you may be eligible for certain tax benefits, such as the American Opportunity Credit or the Lifetime Learning Credit. These credits can help offset the costs of tuition, fees, and other qualified education expenses.<br>
                    <br>
                    3. Exemptions for Medical Expenses:<br>
                    Individuals with high medical expenses may qualify for tax exemptions as well. If your medical expenses exceed a certain percentage of your adjusted gross income (AGI), you may be able to deduct the excess amount from your taxable income. This can provide some relief for individuals facing significant medical costs.<br>
                    <br>
                    4. Exemptions for Homeowners:<br>
                    Homeowners may also be eligible for tax exemptions related to their property. For example, mortgage interest and property tax deductions can help reduce the amount of taxable income for homeowners. Additionally, if you operate a home-based business, you may be able to claim deductions for a portion of your home expenses, such as utilities or home office space.<br>
                    <br>
                    5. Exemptions for Retirement Contributions:<br>
                    Lastly, individuals who contribute to retirement accounts, such as 401(k)s or IRAs, may be eligible for tax exemptions. Contributions to these accounts are often tax-deductible, meaning they can lower your taxable income. This can provide individuals with a valuable incentive to save for retirement while also reducing their tax burden.<br>
                    <br>
                    Now that we have covered some of the special cases for tax exemptions, let's test your understanding with some multiple-choice questions.
                </p>
            </div>
            <center><button id="startQuizBtn" onclick="openQuizModal()">Take Quiz</button></center>
            <div id="quiz-container" class="quiz-container"></div>
            <div id="overlay" class="overlay"></div>
            <div id="completion-message" style="display: none;">
                <p class="completion-message">Lesson Completed!</p>
            </div>
        </main>
        <aside class="sidebar-right">
            <h2>Identifying eligible exemptions</h2>
            <ul class="sub-lesson-links">
                <li><a href="#sublesson1">Exemptions on HRA (House Rent Allowance) and LTA (Leave Travel Allowance)</a></li>
                <li><a href="#sublesson2">Exemptions on capital gains and agricultural income</a></li>
                <li><a href="#sublesson3">Navigating tax exemptions for special cases</a></li>
            </ul>
        </aside>
</body>

</html>
